/**
 * This file not using scss
 */
body{
    color:var(--thm_general_text_color);
    background:var(--thm_background_color);
}


body.emulsion-has-sidebar .side-left .wp-block-image.alignfull,
body.emulsion-has-sidebar .side-left ul.wp-block-gallery.alignfull,
body.emulsion-has-sidebar .side-right .wp-block-image.alignfull,
body.emulsion-has-sidebar .side-right ul.wp-block-gallery.alignfull {
    width: calc(var(--thm_page-width-with-sidebar) + 40px );
    position: relative;
    left: calc(var( --thm_sidebar-width) / 2 * -1 + 120px);
    margin: 1.5rem 0 0.75em;
    display: flex;
}
body.on-scroll.logged-in .page-wrapper > nav{
    margin-top:0;
}
.template-part-search-drawer,
.header-layer{
    background:var(--thm_header_bg_color);
}
#document .stream header{
    background-image:none ! important;
    width:100%;
}
#document .stream blockquote p{
    height:calc( 1rem * 1.5 * 2 );
    overflow:hidden;
}
#document .grid blockquote p{
    height:calc( 1rem * 1.5 * 4 );
    overflow:hidden;
}

#document .content-excerpt{
    border-left:none;
}
span.customize-partial-edit-shortcut-emulsion_common_font_family button{
    left:-100px;
    top:-20px;
}
.is-dark.custom-background.background-css-pattern-carbon-fiber{
    background:
        radial-gradient(rgba(0,0,0,.5) 15%, transparent 16%) 0 0,
        radial-gradient(rgba(0,0,0,.5) 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:var(--thm_background_color);
    background-size:16px 16px;
}

.is-light.custom-background.background-css-pattern-carbon-fiber{
    background:
        radial-gradient(rgba(188,188,188.5) 15%, transparent 16%) 0 0,
        radial-gradient(rgba(188,188,188.5) 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.8) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.8) 15%, transparent 20%) 8px 9px;
    background-color:var(--thm_background_color);
    background-size:16px 16px;
}

.custom-background.background-css-pattern-seigaiha{		
    background-color:var(--thm_background_color);
    background-image:
        radial-gradient(circle at 100% 150%, var(--thm_background_color) 24%, var(--thm_sub_background_color_lighten) 25%, var(--thm_sub_background_color_lighten) 28%, var(--thm_background_color) 29%, var(--thm_background_color) 36%, var(--thm_sub_background_color_lighten) 36%, var(--thm_sub_background_color_lighten) 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, var(--thm_background_color) 24%, var(--thm_sub_background_color_lighten) 25%, var(--thm_sub_background_color_lighten) 28%, var(--thm_background_color) 29%, var(--thm_background_color) 36%, var(--thm_sub_background_color_lighten) 36%, var(--thm_sub_background_color_lighten) 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, var(--thm_sub_background_color_lighten) 10%, var(--thm_background_color) 11%, var(--thm_background_color) 23%, var(--thm_sub_background_color_lighten) 24%, var(--thm_sub_background_color_lighten) 30%, var(--thm_background_color) 31%, var(--thm_background_color) 43%, var(--thm_sub_background_color_lighten) 44%, var(--thm_sub_background_color_lighten) 50%, var(--thm_background_color) 51%, var(--thm_background_color) 63%, var(--thm_sub_background_color_lighten) 64%, var(--thm_sub_background_color_lighten) 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, var(--thm_sub_background_color_lighten) 5%, var(--thm_background_color) 6%, var(--thm_background_color) 15%, var(--thm_sub_background_color_lighten) 16%, var(--thm_sub_background_color_lighten) 20%, var(--thm_background_color) 21%, var(--thm_background_color) 30%, var(--thm_sub_background_color_lighten) 31%, var(--thm_sub_background_color_lighten) 35%, var(--thm_background_color) 36%, var(--thm_background_color) 45%, var(--thm_sub_background_color_lighten) 46%, var(--thm_sub_background_color_lighten) 49%, transparent 50%, transparent),
        radial-gradient(circle at 0    50%, var(--thm_sub_background_color_lighten) 5%, var(--thm_background_color) 6%, var(--thm_background_color) 15%, var(--thm_sub_background_color_lighten) 16%, var(--thm_sub_background_color_lighten) 20%, var(--thm_background_color) 21%, var(--thm_background_color) 30%, var(--thm_sub_background_color_lighten) 31%, var(--thm_sub_background_color_lighten) 35%, var(--thm_background_color) 36%, var(--thm_background_color) 45%, var(--thm_sub_background_color_lighten) 46%, var(--thm_sub_background_color_lighten) 49%, transparent 50%, transparent);
    background-size: 50px 25px !important;
}
.is-light.custom-background.background-css-pattern-cicada{		
    background-color:var(--thm_background_color);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.07)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.13)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.17))),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.19)));
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
        -webkit-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -o-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
        -o-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}

.is-dark.custom-background.background-css-pattern-cicada{		
    background-color:var(--thm_background_color);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,.07)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,.13)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.17))),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.19)));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.07) 50%, transparent 50%),
        -webkit-linear-gradient(left, rgba(0,0,0,.13) 50%, transparent 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(0,0,0,.17) 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(0,0,0,.19) 50%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,.07) 50%, transparent 50%),
        -o-linear-gradient(left, rgba(0,0,0,.13) 50%, transparent 50%),
        -o-linear-gradient(left, transparent 50%, rgba(0,0,0,.17) 50%),
        -o-linear-gradient(left, transparent 50%, rgba(0,0,0,.19) 50%);
    background-image: linear-gradient(90deg, rgba(0,0,0,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(0,0,0,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(0,0,0,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(0,0,0,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
.custom-background.background-css-pattern-lattice{		
    background:
        linear-gradient(var(--thm_sub_background_color_lighten) 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, var(--thm_sub_background_color_lighten) 8px, transparent 8px) -4px 0;
    background-color: var(--thm_background_color);
    background-size:128px 128px, 128px 128px;
}
.is-light.custom-background.background-css-pattern-hexagonal{
    background:
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_background_color) 23.5%,rgba(0,0,0,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_sub_background_color_lighten) 24%,rgba(0,0,0,0) 0)19px 30px,
        linear-gradient(var(--thm_background_color) 14%,rgba(0,0,0,0) 0, rgba(0,0,0,0) 85%,var(--thm_background_color) 0)0 0,
        linear-gradient(150deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(30deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(90deg,var(--thm_sub_background_color_lighten) 2%,var(--thm_background_color) 0,var(--thm_background_color) 98%,var(--thm_sub_background_color_lighten) 0%)0 0 var(--thm_background_color);
    background-size: 40px 60px;
}

.is-dark.custom-background.background-css-pattern-hexagonal{
    background:
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_background_color) 23.5%,rgba(0,0,0,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_sub_background_color_darken) 24%,rgba(0,0,0,0) 0)19px 30px,
        linear-gradient(var(--thm_background_color) 14%,rgba(0,0,0,0) 0, rgba(0,0,0,0) 85%,var(--thm_background_color) 0)0 0,
        linear-gradient(150deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(30deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(90deg,var(--thm_sub_background_color_darken) 2%,var(--thm_background_color) 0,var(--thm_background_color) 98%,var(--thm_sub_background_color_darken) 0%)0 0 var(--thm_background_color);
    background-size: 40px 60px;
}

header.header-layer {
    color: var(--thm_header_text_color);
    background: var(--thm_header_bg_color);
    background-image: -ms-linear-gradient(90deg, var(--thm_header_bg_color), var(--thm_header_background_gradient_color));
    background: -webkit-gradient(linear, left top, left bottom, from(90deg), color-stop(var(--thm_header_bg_color)), color-stop(var(--thm_header_background_gradient_color)));
    background: -webkit-linear-gradient(90deg, var(--thm_header_bg_color), var(--thm_header_background_gradient_color));
    background: -o-linear-gradient(90deg, var(--thm_header_bg_color), var(--thm_header_background_gradient_color));
    background: linear-gradient(90deg, var(--thm_header_bg_color), var(--thm_header_background_gradient_color));
}
.home .header-image-active .site-description{
    margin-left:auto;
    margin-right:auto;
}
.customize-partial-edit-shortcut-emulsion_excerpt_length_stream .customize-partial-edit-shortcut-button{
    top:-1rem;
}
.header-layer .customize-partial-edit-shortcut-emulsion_heading_font_family{
    //display:none;
}

/**
 * Partial shortcut
 */
.customize-partial-edit-shortcut:hover{
    z-index:7
}
.customize-partial-edit-shortcut:hover button{
    z-index:6;
}
.customize-partial-edit-shortcut:hover:after{
    display:inline-block;
    background:#fff;
    color:#333;
    width:200px;
    font-size:13px;
    position:absolute;
    top:24px;
    left:-8px;
    line-height:32px;
    border:1px solid #cdcdcd;
    text-align:center;
    border-radius: 14px;

}
.header-layer-nav-menu .customize-partial-edit-shortcut{
    position:absolute;
    /*margin-top:24px;*/
}

.home .customize-partial-edit-shortcut-emulsion_heading_font_weight button{
    display:none;
}
.home .customize-partial-edit-shortcut-emulsion_header_gradient button{
    left:0;
}
.home .header-image-active .customize-partial-edit-shortcut-emulsion_header_gradient{
    /* when  has header image, header gradient cannot show preview */
    display:none;
}
.page .customize-partial-edit-shortcut-emulsion_header_gradient,
.archive .customize-partial-edit-shortcut-emulsion_header_gradient,
.single .customize-partial-edit-shortcut-emulsion_header_gradient,
.blog .customize-partial-edit-shortcut-emulsion_header_gradient{
    left:40%;

}
.home .customize-partial-edit-shortcut-emulsion_header_layout,
.page .customize-partial-edit-shortcut-emulsion_header_layout,
.archive .customize-partial-edit-shortcut-emulsion_header_layout,
.single .customize-partial-edit-shortcut-emulsion_header_layout,
.blog .customize-partial-edit-shortcut-emulsion_header_layout{
    left:35%;
}
.template-part-header .customize-partial-edit-shortcut-emulsion_header_layout{
    left:35%;
    top:1.5rem;
}
.template-part-header .customize-partial-edit-shortcut-emulsion_header_layout button{

}
.template-part-header .customize-partial-edit-shortcut-emulsion_header_layout:hover:after{
    content:'layout header';

    top:1.5rem;
}

.template-part-header .customize-partial-edit-shortcut-emulsion_header_gradient{
    top:1.5rem;
}
.template-part-header .customize-partial-edit-shortcut-emulsion_header_gradient:hover:after{
    content:'header background';
    top:1.5rem;
}
.home .customize-partial-edit-shortcut-emulsion_widget_meta_font_size button{
    top:-2rem;
    left:0;
    display:none;
}
.entry-content .customize-partial-edit-shortcut-emulsion_widget_meta_font_size{
    display:none;
}

.home .customize-partial-edit-shortcut-emulsion_widget_meta_font_size:hover:after{
    content:'meta font settings';
}
.home.customize-partial-edit-shortcuts-shown .customize-partial-edit-shortcut-emulsion_widget_meta_title{
    /* same section:customize-partial-edit-shortcut-emulsion_widget_meta_font_size */
    display:none;
}
.home .customize-partial-edit-shortcut-emulsion_common_font_size button{
    left:0;
}
.home .customize-partial-edit-shortcut-emulsion_common_font_size:hover:after{
    content:'general font setting';
}
sectionized-wp-block-columns .customize-partial-edit-shortcut-emulsion_block_columns_section_height button{

}
.sectionized-wp-block-columns .customize-partial-edit-shortcut-emulsion_block_columns_section_height:hover:after{
    content:'block columns setting';
}
.footer-layer .customize-partial-edit-shortcut-emulsion_footer_credit:hover:after{
    content:'footer credit, cols';
}
#emulsion .customize-partial-edit-shortcut-emulsion_heading_font_weight,
#emulsion .customize-partial-edit-shortcut-emulsion_heading_font_family{
    display:none;
}
.page .customize-partial-edit-shortcut-emulsion_common_font_family ,
.page .customize-partial-edit-shortcut-emulsion_common_font_size,
.post .customize-partial-edit-shortcut-emulsion_common_font_family ,
.post .customize-partial-edit-shortcut-emulsion_common_font_size{
    display:none;
}
.page .customize-partial-edit-shortcut-emulsion_widget_meta_font_family,
.page .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.post .customize-partial-edit-shortcut-emulsion_widget_meta_font_family,
.post .customize-partial-edit-shortcut-emulsion_widget_meta_font_size{
    display:none;
}

.customize-partial-edit-shortcuts-shown .customize-partial-edit-shortcut-header_textcolor{
    display:none;
}

.article-wrapper:nth-child(n + 2) .customize-partial-edit-shortcut-emulsion_post_display_date_format{
    display:none;
}
.header-layer .customize-partial-edit-shortcut-emulsion_header_gradient:hover:after{
    content:'header background';
}

.home .header-layer .customize-partial-edit-shortcut-emulsion_header_gradient:hover:after{
    left:24px;
}
.header-layer .customize-partial-edit-shortcut-emulsion_header_layout:hover:after{
    content:'layout header';
}


.posted-on .customize-partial-edit-shortcut-emulsion_post_display_date_format:hover:after,
.header-layer .customize-partial-edit-shortcut-emulsion_post_display_date_format:hover:after{
    content:'post metadata';
}
.social-navigation .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"] button,
.primary-menu-wrapper .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"] button{
    left:0;
    top:-13px;
}
.social-navigation .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"]:hover:after,
.primary-menu-wrapper .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"]:hover:after{
    content:'menu settings';
    left:24px;
    top:9px;
}
.header-layer-nav-menu .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"] button{
    top:-24px;
}
.header-layer-nav-menu .customize-partial-edit-shortcut[class*="customize-partial-edit-shortcut-nav_menu_instance"]:hover:after{
    content:'menu settings';
    top:-3px;
}

.no-header-media .customize-partial-edit-shortcut-emulsion_header_media_max_height,
.page .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.page .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.archive .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.archive .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.footer-widget-area .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.footer-widget-area  .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.post-navigation .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.post-navigation  .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.social-navigation .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.social-navigation .customize-partial-edit-shortcut-emulsion_widget_meta_font_size,
.primary-menu-wrapper .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.primary-menu-wrapper .customize-partial-edit-shortcut-emulsion_widget_meta_font_size{
    display:none;

}
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_widget_meta_title,
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_widget_meta_font_size{
    display:none;
}
.footer-widget-area  [class*="customize-partial-edit-shortcut-widget"]:hover:after,
.sidebar-widget-area [class*="customize-partial-edit-shortcut-widget"]:hover:after{
    content:'widget settings';
    top:48px;
}
.footer-widget-area  [class*="customize-partial-edit-shortcut-widget"] button,
.sidebar-widget-area [class*="customize-partial-edit-shortcut-widget"] button{
    top:24px; 
}
.entry-content .customize-partial-edit-shortcut-emulsion_block_gallery_section_height button{
    left:0;
}
.entry-content .customize-partial-edit-shortcut-emulsion_block_gallery_section_height:hover:after{
    content:'gallery block settings';
    left:24px;
}
.relate-content-wrapper .customize-partial-edit-shortcut-emulsion_relate_posts_bg button{
    left:0;
    top:24px;
}
.relate-content-wrapper .customize-partial-edit-shortcut-emulsion_relate_posts_bg:hover:after{
    content:'relate posts background \00a0\00a0';
    left:24px;
    top:48px;
    text-align:right;

}
.customize-partial-edit-shortcut-emulsion_header_media_max_height button,
.customize-partial-edit-shortcut-emulsion_header_media_max_height:hover:after{
    visibility:hidden;
}
.header-image-active .customize-partial-edit-shortcut-emulsion_header_media_max_height button{
    left:16px;
    top:64px;
    visibility:visible;
}
.home .header-layer .customize-partial-edit-shortcut-emulsion_header_media_max_height button{
    left:16px;
    visibility:visible;
}
.header-image-active .customize-partial-edit-shortcut-emulsion_header_media_max_height:hover:after{
    content:'header media height';
    left:36px;
    top:84px;
    visibility:visible;
}
.home .header-layer .customize-partial-edit-shortcut-emulsion_header_media_max_height:hover:after{
    content:'header media height';
    left:36px;
    visibility:visible;
}
.drawer .customize-partial-edit-shortcut-emulsion_search_drawer button{
    left:0;
}
.drawer .customize-partial-edit-shortcut-emulsion_search_drawer:hover:after{
    content:'search drawer';
    left:24px;
}

.home .customize-partial-edit-shortcut-custom_header:hover:after{
    content:'header media';
    left:24px;
}
.home .customize-partial-edit-shortcut-emulsion_layout_homepage button{
    left:0;
}
.home .customize-partial-edit-shortcut-emulsion_layout_homepage:hover:after{
    content:'layout home page';
    left:24px;
}
.home .customize-partial-edit-shortcut-emulsion_layout_posts_page{
    display:none;
}
.content-excerpt .customize-partial-edit-shortcut-emulsion_excerpt_length:hover:after{
    content:'excerpt length';
}
.category .customize-partial-edit-shortcut-emulsion_layout_category_archives button{
    left:0;
}
.category .customize-partial-edit-shortcut-emulsion_layout_category_archives:hover:after{
    content:'layout category';
    left:24px;
}
.sectionized-wp-block-media-text .customize-partial-edit-shortcut-emulsion_block_media_text_section_height button{
    left:0;
}
.sectionized-wp-block-media-text .customize-partial-edit-shortcut-emulsion_block_media_text_section_height:hover:after{
    content:'block media text';
}
.menu-placeholder .customize-partial-edit-shortcut-emulsion_table_of_contents button{
    left:0;
}
.side-left .customize-partial-edit-shortcut-emulsion_table_of_contents button{
    left:-999px;
}
.on-scroll .menu-placeholder .customize-partial-edit-shortcut-emulsion_table_of_contents button{
    top:-13px;
    left:-240px;
}
.on-scroll .menu-placeholder .customize-partial-edit-shortcut-emulsion_table_of_contents:hover:after{
    content:'table of contents';
    top:9px;
    left:-220px;
}
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_sticky_sidebar button{
    top:-13px;
    left:100px
}
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_sticky_sidebar:hover:after{
    content:'sticky sidebar';
    top:9px;
    left:120px;
}
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_sidebar_position button{
    top:-13px;
}
.sidebar-widget-area .customize-partial-edit-shortcut-emulsion_sidebar_position:hover:after{
    content:'layout sidebar';
    top:9px;
}
.relate-content-wrapper .customize-partial-edit-shortcut-emulsion_relate_posts button{
    top:-13px;
    left:0;
}
.relate-content-wrapper .customize-partial-edit-shortcut-emulsion_relate_posts:hover:after{
    content:'display relate posts';
    text-align:center;
    top:9px;
    left:24px;
}
.blog .customize-partial-edit-shortcut-emulsion_layout_posts_page button{
    left:0;
}
.blog .customize-partial-edit-shortcut-emulsion_layout_posts_page:hover:after{
    content:'layout posts page';
    left:24px;
}

.date .customize-partial-edit-shortcut-emulsion_layout_date_archives button{
    left:0;
}
.date .customize-partial-edit-shortcut-emulsion_layout_date_archives:hover:after{
    content:'layout date archive';
    left:24px;
}
.author .customize-partial-edit-shortcut-emulsion_layout_author_archives button{
    left:0;
}
.author .customize-partial-edit-shortcut-emulsion_layout_author_archives:hover:after{
    content:'layout author';
    left:24px;
}
.tag .customize-partial-edit-shortcut-emulsion_layout_tag_archives button{
    left:0;
}
.tag .customize-partial-edit-shortcut-emulsion_layout_tag_archives:hover:after{
    content:'layout tag archive';
    left:24px;
}
.home .customize-partial-edit-shortcut-emulsion_excerpt_length_stream:hover:after,
.archive .customize-partial-edit-shortcut-emulsion_excerpt_length_stream:hover:after{
    content:'excerpt length';
    top:6px;
}
.home.page article header{
    display:none;
}
