/**
 * Content Width
 * ========================================================================== */
.format-gallery .entry-content{
    padding-top:0;
    padding-bottom:0;
}
.enable-alignfull{
    &.emulsion-no-sidebar{
        article{
            & > .entry-content{

                //The display position of the content with alignleft and alignright
                // specified is arranged based on main_width.

                width:var( --thm_main_width, 1280px );
            }
            .alignfull{
                max-width:none;
            }
        }
    }
}
#document{
    .disable-alignfull{
        article{
            & > .entry-content{
                width:var( --thm_content_width, 720px );
            }
        }
        .alignwide{
            @extend %block;
        }
    }
}

/**
 * Layout list full_text
 * ========================================================================== */
.layout-list.full_text{

    @extend %fulltext;
}
/**
 * No Sidebar
 * ========================================================================== */
.emulsion-no-sidebar{
    main{
        & > .page,
        & > .post{
            article{
                & > header{
                    &.show-post-image{
                        background-attachment:fixed;
                    }
                }
            }
        }
    }
    &.attachment{
        main{
            article{
                width:calc(100vw - 17px);
                .attachment-image{
                    margin-top:0;
                    margin-left:auto;
                    margin-right:auto;
                    width:calc(100vw - 17px);
                    width: -moz-fit-content;
                    width:fit-content;
                }
            }
        }
    }

}

/**
 * Article
 * ========================================================================== */
body.single,
body.page{
    article{
        margin-top:var(--thm_content_margin_top);
        .entry-content{
            padding-bottom:3rem;
            min-height:60vh;
        }
    }
}
[amp]{
    .search-result-0,
    .not-found{
        padding-bottom:3rem;
        min-height:60vh;
    }
}
/**
 * Post Thumbnail
 * ========================================================================== */
main > .post{
    article:not(.has-post-thumbnail) {
        & > header{
            padding-top:calc( var(--thm_common_font_size) * 3 );
        }
    }
}
.emulsion-addons-inactive body,
.single,
.post-type-archive,
.custom-post-type,
.full_text,
.page,
body.excerpt,
.post{
    article{
        & > header{
            &.show-post-image{
                position:relative;
                min-height:75vh;

                background-size:cover;
                background-repeat:no-repeat;
                background-position: center center;
                &:before{
                    position:absolute;
                    background-color:var(--thm_header_image_dim);
                }
            }
        }
    }
}

/**
 * Article content layout
 * ========================================================================== */
.hentry{
    .entry-content > p > a > img.alignleft{
        padding:0 1rem .75rem 0;
    }
}
.entry-content {
    margin-left:auto;
    margin-right:auto;
    & :not([class|="wp-block"]) a > img.alignright,
        & :not(.wp-caption) a > img.alignright,
        & :not(.wp-caption) a > img.alignright,
        & > p > a > img.alignright,
        & :not([class|="wp-block"]) a > img.alignleft,
        & :not(.wp-caption) a > img.alignleft,
        & :not(.wp-caption) a > img.alignleft{
        padding:1.5rem 0 .75rem;
    }
    li > div{
        display: inline-block;
        vertical-align: text-top;
    }

    .aligncenter {
        @extend %aligncenter;
    }
    .wp-block-image.alignleft,
    :not(figure) img.alignleft{
        position:relative;
    }
    .wp-block-image.alignright,
    :not(figure) img.alignright{
        position:relative;
    }
    [class|="search-result"]{
        display:block;
    }
    [class|="search-result"],
    .wp-playlist,
    .gist,
    .social,
    & > address,
    & > noscript,
    & > hgroup,
    & > header,
    & > footer,
    & > nav,
    & > menu{
        @extend %block;
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
    }
    & > aside,
    & > section{
        padding-left:0;
        padding-right:0;
    }
    table{
        .h1,.h2,.h3,.h4,.h5,.h6,
        h1,h2,h3,h4, h5,h6{
            width:auto;
        }
        td *{
            width:auto;
        }
    }

    li{
        .shortcode-wrapper{
            margin-top:0;
            margin-bottom:0;
            p{
                margin-top:0;
                margin-bottom:0;
            }
        }
    }
    img.aligncenter{
        width: -moz-fit-content;
        width:fit-content;
        max-width:66.666%;
    }
    video{
        //shortcode video
        margin-top:0;
        margin-bottom:0;
    }
}

.has-background{
    position:relative;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

}

p.has-background {
    position:relative;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:.75em var( --thm_content_gap, 24px );
}
picture.alignleft,
section.alignleft,
aside.alignleft,
div.alignleft {
    @extend %alignleft;
}
picture.alignright,
section.alignright,
aside.alignright,
div.alignright{
    @extend %alignright;
}
.solid-border{
    padding:1em;
}
main > .post article header.fit,
main > .page article header.fit,
main > .post article footer.fit,
main > .page article footer.fit{
    width: var(--thm_content_width, 720px);
    margin-left:auto;
    margin-right:auto;
}
/**
 * Post Formats
 * ========================================================================== */

.wp-block-group.format-gallery,
article.format-gallery .entry-content{
    margin-top:0;
    .wp-block-group__inner-container{
        *,
        .wp-block-embed,
        .wp-block-cover,
        .wp-block-image,
        .wp-block-gallery{
            max-width:100%;
        }
        *{
            max-width:100%;
            margin:var(--thm_box_gap) auto ;
        }
        .alignleft {
            @extend %alignleft;
            width:calc( 50% - var(--thm_box_gap) * 2 );
            max-width:calc( 50% - var(--thm_box_gap) * 2 );
            margin-right:var(--thm_box_gap);
            margin-left:0;
            margin-top:var(--thm_box_gap);
            margin-bottom:var(--thm_box_gap);
        }
        .alignright {
            @extend %alignright;
            width:calc( 50% - var(--thm_box_gap) * 2);
            max-width:calc( 50% - var(--thm_box_gap) * 2);
            margin-right:0;
            margin-left:var(--thm_box_gap);
            margin-top:var(--thm_box_gap);
            margin-bottom:var(--thm_box_gap);
        }
    }
    .wp-block-gallery{
        max-width:100%;
        margin-top:0;
        margin-bottom:0;
        &.aligncenter{
            padding-top:0;
            padding-bottom:0;
        }
    }
    .wp-block-image{
        margin:var(--thm_box_gap) auto ;
        position:relative;
        figure{
            margin-top:0;
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
        }
        figcaption{
            position:absolute;
            bottom:0;
            left:1rem;
            color:var(--thm_white_color);
            background-color:rgba(0,0,0,.5);
        }
    }
    .wp-block-cover{
        box-sizing:border-box;
        margin-top: calc( var(--thm_box_gap) * 2);
        margin-bottom: calc( var(--thm_box_gap) * 2);
        &.alignfull{
            box-sizing:content-box;
            margin-top: calc( var(--thm_box_gap) * 2);
            margin-bottom: calc( var(--thm_box_gap) * 2);
        }
    }
    .wp-block-embed{
        margin:calc( var(--thm_box_gap) * 2) auto ;
        figcaption{
            position:absolute;
            bottom:3rem;
            left:1rem;
            color:var(--thm_white_color);
            background-color:rgba(0,0,0,.5);
        }
        &.alignfull{
            margin:calc( var(--thm_box_gap) * 2) auto;
        }
    }
    .wp-block-columns{
        margin-top:var(--thm_box_gap);
        margin-bottom:var(--thm_box_gap);
        padding-left:0;
        padding-right:0;
        &.alignfull{
            padding-left:0;
            padding-right:0;
        }
        &.alignwide{
            margin-top:var(--thm_box_gap);
            margin-bottom:var(--thm_box_gap);
        }
    }
}

/**
 * Post Meta show hide
 */
.posted-on{
    [rel="date"]{
        display:$post_display_date; //fallback no support css variables
        display:var(--thm_post_display_date);
    }
    .author{
        display:$post_display_author; //fallback no support css variables
        display:var(--thm_post_display_author);
    }
}
.post-category{
    .cat-item{
        display:$post_display_category; //fallback no support css variables
        display:var(--thm_post_display_category);
    }
}
.post-tag{
    li{
        display:$post_display_tag; //fallback no support css variables
        display:var(--thm_post_display_tag);
    }
}
.posted-on{
    &.avatar-block{
        display:flex;
        flex-direction:column;
        .author{
            padding-top:.75rem;
            .avatar{
                border-radius:50%;
            }
        }
        .comment-link{
            margin-top:.75rem;
        }
    }
}
/**
 * fallback for plugins block
 */
.entry-content{
    & > div[id]:not([class|="wp-block"]){
        width:var(--thm_content_width);
        margin-left:auto;
        margin-right:auto;
        margin-top:3rem;
        margin-bottom:3rem;
    }
    & > .shortcode-wrapper{

    }
}
.shortcode-wrapper{
    width:var(--thm_content_width);
    padding-left:0;
    padding-right:0;
    margin:3rem auto;

    &.wrap-caption{
        margin-top:0;
        margin-bottom:0;
        padding:0;
    }
    // short code has not custom class
    &.alignwide,
    &.alignright,
    &.alignleft,
    &.alignfull{
        & > *{
            width:100%;
        }
    }
    &.alignleft{
        @extend %alignleft;
    }
    &.alignright{
        @extend %alignright;
    }
}

.has-background:not(.wp-block-group):not(.wp-block-cover):not(.wp-block-columns):before:not(.badge):before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--thm_white_color);
    left: 0;
    top: 0;
    z-index: -1;
}

/**
 * post navigation
 * article.scssに移動
 * ========================================================================== */
.emulsion-no-sidebar{
    .post-navigation{
        @extend %block_main_wide;
        margin-left:auto;
        margin-right:auto;
        padding-top: .1rem;
        padding-bottom: 0.75em;
        max-width:100%;
    }
}
.post-navigation{
    .nav-links{
        display:flex;
        margin:1.5em auto .75em;
        flex-wrap:wrap;
        padding:0;
        position:relative;
        .nav-previous{
            a{
                display:block;
                width:auto;
                text-align:center;
                .text{
                    display:block;
                }
                .title{
                    display:block;
                }
                @supports ( width:fit-content ) or ( width: -moz-fit-content ){
                    .title{
                        text-align:left;
                        width: -moz-fit-content;
                        width:fit-content;
                        margin-left:auto;
                        margin-right:auto;
                        font-size:var(--thm_common_font_size);
                        font-family:var(--thm_common_font_family);
                        font-weight:var(--thm_heading_font_weight);
                        text-transform:var(--thm_heading_font_transform);
                    }
                }
            }
        }
        .nav-next{
            a{
                display:block;
                width:auto;
                text-align:center;
                .text{
                    display:block;
                }
                .title{
                    display:block;
                }
                @supports ( width:fit-content ) or ( width: -moz-fit-content ){
                    .title{
                        text-align:left;
                        width: -moz-fit-content;
                        width:fit-content;
                        margin-left:auto;
                        margin-right:auto;
                        font-size:var(--thm_common_font_size);
                        font-family:var(--thm_common_font_family);
                        font-weight:var(--thm_heading_font_weight);
                        text-transform:var(--thm_heading_font_transform);
                    }
                }
            }
        }
        & > div{
            text-align:center;
            margin:3px;
            padding:.685rem;
            flex-basis: auto;
            flex-grow: 1;
            min-width:240px;

            & > a{
                display:inline-block;
                text-align:left;
                width: -moz-fit-content;
                width:fit-content;
                margin-left:auto;
                margin-right:auto;
            }
            a{
                display:inline-block;
                text-align:left;
                width: -moz-fit-content;
                width:fit-content;
            }
            &:first-child:last-child{
                flex-basis: 50%; /* default value */
                flex-grow: 0;
            }
        }
    }
}

/**
 * template gallery
 */

.enable-alignfull{
    &.page-template-gallery,
    &.post-template-gallery{
        .entry-content{
            figure.wp-block-image{
                margin-top:var(--thm_box_gap);
                margin-bottom:var(--thm_box_gap);
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                figcaption{
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    width: calc(100% - var(--thm_content_gap));
                    text-align: right;
                    color: var(--thm_white_color);
                    background: transparent;
                    text-shadow: #000 1px 0 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            section{
                margin-top:0;
                margin-bottom:0;
            }
            div.wp-block-image{
                figure{
                    margin-top:0;
                    margin-bottom:0;
                }
                figcaption{
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    width: calc(100% - var(--thm_content_gap));
                    text-align: right;
                    color: var(--thm_white_color);
                    background: transparent;
                    text-shadow: #000 1px 0 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-cover{
                margin-top:var(--thm_box_gap);
                margin-bottom:var(--thm_box_gap);
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-video{
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    width:calc(50% - var(--thm_box_gap));
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                    video{
                        padding:0;
                    }
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    width:calc(50% - var(--thm_box_gap));
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                    video{
                        padding:0;
                    }
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        width:100%;
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-media-text{
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignwide{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
            }
            .wp-block-embed{
                margin:var(--thm_box_gap) auto ;
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                }
                figcaption{
                    position:absolute;
                    bottom:3rem;
                    left:1rem;
                    color:var(--thm_white_color);
                    background-color:rgba(0,0,0,.5);
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
        }
    }
}