/**
 * Borders
 * ========================================================================== */
.has-border-custom{
    --thm_common_border:var(--thm_border_global, rgba(188,188,188,.5));
    --thm_common_border_style:var(--thm_border_global_style,solid);
    --thm_common_border_width:var(--thm_border_global_width,1px);
}
.is-dark .border-default,/* sidebar, footer */
.is-dark.border-default{
    --thm_common_border:rgba(255,255,255,.5);
}
//body{
body[class*="background-css-pattern"]{
    background-color:var(--thm_background_color);
}
body.noscript{
    .template-part-header{
        .sub-menu,
        .children{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
        }
    }
    .header-layer{
        &.template-part-header-custom + .primary-menu-wrapper{
            #menu-main{
                .sub-menu li .sub-menu,
                .children li .children{
                    border-color:var(--thm_common_border, rgba(188,188,188,.5));
                    border-style:var(--thm_common_border_style, solid);
                    border-width:var(--thm_common_border_width, 1px);
                }
            }
        }
    }
}
body:not(.is-presentation-transitional):not(.is-singular).layout-list{
    .article-wrapper{
        article:not(.comment-body):not(.has-post-thumbnail):after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: -1px;
            left: 0;
            display:block;
            width: 720px;
            max-width: 100%;
            height:2px;
            margin: auto;
            content: ' ';
            border-bottom: var(--thm_common_border_width, 1px) var(--thm_common_border_style, solid) var(--thm_common_border, rgba(188,188,188,.5));
        }
    }
}
body.is-presentation-theme:not(.is-singular).layout-list{
    .article-wrapper{
        article:not(.comment-body):not(.has-post-thumbnail):after {
            position: relative;
        }
    }
}

body.emulsion-no-sidebar{
    .primary-menu-wrapper{
        border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-top-style:var(--thm_common_border_style, solid);
        border-top-width:var(--thm_common_border_width, 1px);
        border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-bottom-style:var(--thm_common_border_style, solid);
        border-bottom-width:var(--thm_common_border_width, 1px);
    }
    &.custom-background[class]{
        .primary-menu-wrapper{
            border-top:none;
            border-bottom:none;
        }
    }
}
body.emulsion-has-sidebar{

    .primary-menu-wrapper{
        border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-top-style:var(--thm_common_border_style, solid);
        border-top-width:var(--thm_common_border_width, 1px);
        border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-bottom-style:var(--thm_common_border_style, solid);
        border-bottom-width:var(--thm_common_border_width, 1px);

    }
    &.is-dark{
        .primary-menu-wrapper{
            border-top:none;
            border-bottom:none;
            nav[class|="menu"]{
                border-bottom:none ! important;
            }
        }
    }
    .menu-is-light{
        .primary-menu-wrapper{
            border-top:none;
            nav[class|="menu"]{
                border-bottom:none;
            }
        }
    }
    &.custom-background[class]{
        nav[class|="menu"]{
            border:none;
        }
        &.emulsion-has-sidebar{
            .primary-menu-wrapper{
                [data-direction="horizontal"]{
                    border:none;
                    nav[class|="menu"]{
                        border:none;
                    }
                }
            }
        }
    }
}



body:not(.custom-background){
    .side-right{
        .sidebar-widget-area{
            border-left-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-left-style:var(--thm_common_border_style, solid);
            border-left-width:var(--thm_common_border_width, 1px);
        }
    }
    .side-left{
        .sidebar-widget-area{
            border-right-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-right-style:var(--thm_common_border_style, solid);
            border-right-width:var(--thm_common_border_width, 1px);
        }
    }
}
body.custom-background[class]{
    .side-right{
        .sidebar-widget-area{
            border-right:none;
        }
    }
    .side-left{
        .sidebar-widget-area{
            border-left:none;
        }
    }
    .footer-layer{
        border-top:none;
    }

}
a.wp-block-button__link{
    border:1px solid currentColor;
    border-radius:5px;
    &.has-background{
        border:none;
    }
}
.badge{

    border-color: var(--thm_common_border, rgba(188,188,188,.5));
    border-style: solid;
    border-width: 1px;
}
nav[class|="menu"]{
    ul.wp-nav-menu{
        &[data-direction="vertical"]{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
        }
    }
}
.relate-posts img,
.relate-post-no-icon{
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style, solid);
    border-width:var(--thm_common_border_width, 1px);
}
.show-post-image,
.header-image-active{
    .header-text{
        border-color:var(--thm_white_color, #ffffff);
    }
}
.footer-layer{
    border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-top-style:var(--thm_common_border_style, solid);
    border-top-width:var(--thm_common_border_width, 1px);
}

blockquote:not([class]){
    max-width:100%;
    // old tinymce quote
    border-left:6px solid rgba(188,188,188,.5);
}

.wp-block-quote{
    max-width:100%;
    border:none;
    border-left:2px solid rgba(188,188,188,.5);
    &.has-text-align-left{
        border:none;
        border-left:2px solid rgba(188,188,188,.5);
    }
    &.has-text-align-center{
        border:none;
        border-top:2px solid rgba(188,188,188,.5);
    }
    &.has-text-align-right{
        border:none;
        border-right:2px solid rgba(188,188,188,.5);
    }
}
.wp-block-rss{
    &:not(.is-grid){
        li{
            border-left:2px solid rgba(188,188,188,.5);
        }
    }
}

.wp-block-pullquote{
    border:none;
    border-color:rgba(188,188,188,.5);
    border-top:2px solid;
    border-bottom:2px solid;
    .is-style-solid-color{
        &.has-success-background-color{
            color: var(--thm_black_color);
        }
        &.has-notice-background-color{
            color: var(--thm_black_color);
        }
        &.has-info-background-color{
            color: var(--thm_black_color);
        }
        &.has-alert-background-color{
            color: var(--thm_black_color);
        }
        &.has-cool-background-color{
            color: var(--thm_black_color);
        }
    }
    blockquote{
        width:auto;
        max-width:100%;
        border:none;
    }
}
.wp-block-cover{
    .wp-block-cover__inner-container{
        & > p.has-background{
            &:first-of-type{
                font-weight:bold;
                -webkit-mask-image: linear-gradient(to right, transparent, #000 var(--thm_content_gap, 24px), #000 calc(100% - var(--thm_content_gap, 24px)), transparent);
                mask-image: linear-gradient(to right, transparent, #000 var(--thm_content_gap, 24px), #000 calc(100% - var(--thm_content_gap, 24px)), transparent);
            }
        }
        /*
        .editor-styles-wrapper [data-type="core/paragraph"]:first-of-type,
            .emulsion-gb-phase-block [data-type="core/paragraph"]:first-of-type{
            [data-block]{
                p.has-background{
                    font-weight:bold;
                    -webkit-mask-image: linear-gradient(to right, transparent, #000 var(--thm_content_gap, 24px), #000 calc(100% - var(--thm_content_gap, 24px)), transparent);
                    mask-image: linear-gradient(to right, transparent, #000 var(--thm_content_gap, 24px), #000 calc(100% - var(--thm_content_gap, 24px)), transparent);
                    &:before{
                        content:none;

                    }
                }
            }
        }*/
    }
}
.wp-block-latest-posts{
    .wp-block-cover__inner-container{
        & > p.has-background{
            &:first-of-type{
                -webkit-mask-image:none;
                mask-image: none;
            }
        }
    }
}

.wp-block-search .wp-block-search__button,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.wp-block-latest-posts__post-excerpt > a:only-child,
.tag-cloud-style-flat a,
.is-style-list-style-inline li,
.list-style-inline li,
.horizontal-list-group li,
.skin-button,
.theme-message,
.wp-block-column .wp-block-archives li,
textarea,
input,
select,
option,
.wp-block-search__button,
.attachment-pdf .attachment img,
.reply a,
th,
td,
.wp-block-archives select,
.wp-block-latest-posts > li,
.wp-block-rss.is-grid > li,

.wp-block-categories > ul > li,
.wp-block-categories-dropdown select,
fieldset,
.wp-block-table.is-style-stripes td,
.wp-block-table td,
.page-break-links > span,
.page-break-links a,
p > code,
.nav-links > div,
.solid-border,
.has-border-color,
.wp-caption,
kbd,
.paginate-comment-links .current,
.paginate-comment-links a,
.pagination .nav-links span,
.pagination .nav-links a,
ins:hover:before,
del:hover:before,
.grid .article-wrapper,
.stream .article-wrapper,
.stream .template-part-content article .wp-nav-menu.primary[data-direction="vartical"],
.horizontal-list-group li,
.entry-meta li{
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style, solid);
    border-width:var(--thm_common_border_width, 1px);
}

.wp-block-code code code{
    border:none;
}
.cta-layer-active{
    a.skin-button{
        border-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-style:var(--thm_common_border_style, solid);
        border-width:var(--thm_common_border_width, 1px);
    }
}
.archive-year-links,
.emulsion-monthly-archive-prev-next-navigation{
    & > div{
        border-color:var(--thm_header_link_color);
        border-style:var(--thm_common_border_style, solid);
        border-width:var(--thm_common_border_width, 1px);
    }
}

.wp-block-archives,
.wp-block-latest-comments{

    & > li{//.wp-block-latest-comments__comment
           border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
           border-bottom-style:var(--thm_common_border_style, solid);
           border-bottom-width:var(--thm_common_border_width, 1px);
           &:last-child{
               //  border-bottom:none;
           }
           article{
               border:none;
           }
    }
}
.entry-content{
    .wp-block-categories-list{
        li{
            border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-bottom-style:var(--thm_common_border_style, solid);
            border-bottom-width:var(--thm_common_border_width, 1px);
        }
        .sub-menu li,
        .children li{
            border-bottom:none;
        }
    }

}



body.page,
body.single{
    .article-wrapper{
        article{
            border-bottom:none;
        }
    }
}
.wp-nav-menu.primary[data-direction="horizontal"] .sub-menu,
.wp-nav-menu.primary[data-direction="horizontal"] .children{
    border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-top-style:var(--thm_common_border_style, solid);
    border-top-width:var(--thm_common_border_width, 1px);
    border-right-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-right-style:var(--thm_common_border_style, solid);
    border-right-width:var(--thm_common_border_width, 1px);
    border-left-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-left-style:var(--thm_common_border_style, solid);
    border-left-width:var(--thm_common_border_width, 1px);
}
figure.wp-block-table{
    &::-webkit-scrollbar-thumb{
        outline: 1px solid currentColor;
    }
}
.wp-block-calendar{
    table{
        th{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
            td{
                border-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-style:var(--thm_common_border_style, solid);
                border-width:var(--thm_common_border_width, 1px);
            }
        }
        tbody{
            td{
                border-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-style:var(--thm_common_border_style, solid);
                border-width:var(--thm_common_border_width, 1px);
            }
        }
    }
}

.post-password-form{
    input[type="password"]:required{
        border-bottom:1px solid rgba(188, 188, 188, .3);
    }
}
.entry-content{
    .wp-block-columns{
        &:not(.has-background){
            .wp-block-column{
                @media screen and (max-width: 768px) {
                    border:none;
                }
            }
            .wp-block-column{
                .wp-block-column{
                    border:none;
                }
            }
            .wp-block-archives{
                &.wp-block-archives-list{
                    padding-right:var(--thm_box_gap, 3px);
                    padding-left:var(--thm_box_gap, 3px);
                    li{
                        border-top:none;
                        border-right:none;
                        border-left:none;
                    }
                }
            }
            .wp-block-categories{
                &.wp-block-categories-list{
                    border:none;
                    .children{
                        padding-right:0;
                        margin-top:0;
                        margin-bottom:0;
                        li{
                            padding-right:0;
                        }
                    }
                }
            }
        }
    }
}
.header-layer.template-part-header{
    border-bottom: var(--thm_common_border, rgba(188,188,188,.5));
    .header-layer-nav-menu nav[class|="menu"]{
        border-bottom:none;
        .wp-nav-menu.primary > li > .children,
        .wp-nav-menu.primary > li > .sub-menu{
            border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-bottom-style:var(--thm_common_border_style, solid);
            border-bottom-width:var(--thm_common_border_width, 1px);
            .sub-menu,
            .children{
                border:none;
            }
        }
    }
}

/**
 * Sidebar border
 * ========================================================================== */
.widget_nav_menu{
    .menu li .sub-menu > li,
    .menu li .children > li{
        border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-bottom-style:var(--thm_common_border_style, solid);
        border-bottom-width:var(--thm_common_border_width, 1px);
    }
    .widget_nav_menu .children a,
    .widget_nav_menu .sub-menu a,
    .widget_nav_menu .children,
    .widget_nav_menu .sub-menu{
        border:none;
    }
}

.sidebar-widget-area-lists{
    .widget_search .wp-block-search__button{
        border-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-style:var(--thm_common_border_style, solid);
        border-width:var(--thm_common_border_width, 1px);
    }

}

.sidebar-widget-area,
.footer-widget-area{
    &.border-default{
        .widget .wp-widget-group__inner-blocks > ul > li,
        .widget > ul > li{
            border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-bottom-style:var(--thm_common_border_style, solid);
            border-bottom-width:var(--thm_common_border_width, 1px);
        }

    }
}

.footer-widget-area-lists,
.sidebar-widget-area-lists{
    .widget_archive select,
    .widget_categories select{
        border-color:#999;
        border-style:var(--thm_common_border_style, solid);
        border-width:var(--thm_common_border_width, 1px);
    }


    .widget_nav_menu .children a,
    .widget_nav_menu .sub-menu a,
    .widget_nav_menu .children,
    .widget_nav_menu .sub-menu{
        border:none;
    }

    .children,
    .sub-menu{
        padding-right:0;
        border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-top-style:var(--thm_common_border_style, solid);
        border-top-width:var(--thm_common_border_width, 1px);
    }
    .widget li{
        /*border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
        border-bottom-style:var(--thm_common_border_style, solid);
        border-bottom-width:var(--thm_common_border_width, 1px);*/
    }
    .widget > li:last-child{
        border-bottom:none;
    }
    .widget .textwidget li{
        line-height:var(--thm_common_line_height);
        border:initial;
    }
    .widget > ul{
        /*   border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
           border-bottom-style:var(--thm_common_border_style, solid);
           border-bottom-width:var(--thm_common_border_width, 1px);
           border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
           border-top-style:var(--thm_common_border_style, solid);
           border-top-width:var(--thm_common_border_width, 1px);*/
    }
    .widget{
        &.widget_meta li{
            border-top:none;
            border-right:none;
            border-left:none;
        }
        &.widget_pages li{
            border-top:none;
            border-right:none;
            border-left:none;
        }
        &.widget_recent_comments li{
            border-top:none;
            border-right:none;
            border-left:none;
        }
        &.widget_recent_entries li{
            border-top:none;
            border-right:none;
            border-left:none;
        }
    }
}
.footer-widget-area-lists{
    .widget_nav_menu,
    .widget_categories,
    .widget_archive{
        li{
            /*   border:none;
               border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
               border-bottom-style:var(--thm_common_border_style, solid);
               border-bottom-width:var(--thm_common_border_width, 1px);*/
        }
    }
}
.sidebar-is-light{
    .footer-widget-area-lists,
    .sidebar-widget-area-lists{
        .widget > li:last-child:hover{
            border-bottom:none;
        }
    }
}
.sidebar-is-dark{
    .footer-widget-area-lists,
    .sidebar-widget-area-lists{
        .widget > li:last-child:hover,
            .widget > li:last-child{
            border-bottom:none;
        }
    }
}
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background{
    border-top:1px solid;
    border-bottom:1px solid;
}
//}

.has-border-custom{
    .sidebar-widget-area{
        .sidebar-widget-area-lists{
            .widget .submenu,
            .widget .children,
            .widget_archive > ul,
            .widget_categories > ul,
            .widget_pages > ul,
            .widget .wp-block-page-list,
            .widget_meta > ul,
            .widget_recent_comments > ul,
            .widget_recent_comments ol,
            .widget.widget_recent_entries > ul,
            .widget_nav_menu .widget div > ul,
            .widget .wp-block-navigation > ul{
                border-top-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-top-style:var(--thm_border_sidebar_style);
                border-top-width:var(--thm_border_sidebar_width);
                border-bottom-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-bottom-style:var(--thm_border_sidebar_style);
                border-bottom-width:var(--thm_border_sidebar_width);

                .counter{
                    border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                    border-style:solid;
                    border-width:1px;
                }
            }

            //////////////////////////////////////////////////////////////////////////////////////////////////
            .widget div.wp-block-loginout{
                min-height:48px;
                margin:1.5rem auto .75rem;
                a{

                    display: block;
                    width:-moz-fit-content;
                    width:fit-content;
                    max-width:100%;
                    padding-right:1rem;
                    padding-left:1rem;
                    margin:1.5rem auto .75rem;
                    font-family: sans-serif;
                    font-size: var(--thm_meta_data_font_size, 13px);
                    line-height: calc(3rem - 2px);
                    color: var(--thm_header_text_color);
                    text-decoration: none;
                    text-transform: none;
                    vertical-align: baseline;
                    background: var(--thm_header_bg_color);
                    border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                    border-style:var(--thm_border_sidebar_style);
                    border-width:var(--thm_border_sidebar_width);
                    border-radius: 5px;
                }
            }

            .widget.widget_archive ul li:not(:last-child),
                .widget.widget_categories ul li:not(:last-child),
                .widget_pages ul li:not(:last-child),
                .widget .wp-block-page-list li:not(:last-child),
                .widget_meta ul li:not(:last-child),
                .widget_recent_comments ul li:not(:last-child),
                .widget_recent_comments ol li:not(:last-child),
                .widget.widget_recent_entries ul li:not(:last-child),
                .widget_nav_menu .widget div ul li:not(:last-child),
                .widget .wp-block-navigation ul li:not(:last-child){

                border-bottom-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-bottom-style:var(--thm_border_sidebar_style);
                border-bottom-width:var(--thm_border_sidebar_width);
            }
            .wp-block-latest-posts__list:not(#specificity) li,
                .widget.widget_archive ul.is-style-list-style-inline li,
                .widget.widget_categories ul.is-style-list-style-inline .cat-item{

                border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-style:var(--thm_border_sidebar_style);
                border-width:var(--thm_border_sidebar_width);
            }
            .widget > li:last-child{
                border:none;
            }

            .widget_search .wp-block-search__button{
                border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-style:var(--thm_border_sidebar_style);
                border-width:var(--thm_border_sidebar_width);
            }
            .sidebar .wp-block-table,
            #wp-calendar{
                tr{
                    th{
                        border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                        border-style:var(--thm_border_sidebar_style);
                        border-width:var(--thm_border_sidebar_width);
                    }
                    td{
                        border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                        border-style:var(--thm_border_sidebar_style);
                        border-width:var(--thm_border_sidebar_width);
                    }
                }
                tfoot{
                    td{
                        border:none;
                    }
                }
            }
        }
    }
    .footer-widget-area{
        .footer-widget-area-lists{
            .widget_archive > ul,
            .widget_categories > ul,
            .widget_pages > ul,
            .widget .wp-block-page-list,
            .widget_meta > ul,
            .widget_recent_comments > ul,
            .widget_recent_comments ol,
            .widget.widget_recent_entries > ul,
            .widget_nav_menu .widget div > ul,
            .widget .wp-block-navigation > ul{
                border-top-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-top-style:var(--thm_border_sidebar_style);
                border-top-width:var(--thm_border_sidebar_width);
                border-bottom-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-bottom-style:var(--thm_border_sidebar_style);
                border-bottom-width:var(--thm_border_sidebar_width);
            }
            ///////////////////////////////////////////////////
            .widget div.wp-block-loginout{
                min-height:48px;
                margin:1.5rem auto .75rem;
                a{

                    display: block;
                    width:-moz-fit-content;
                    width:fit-content;
                    max-width:100%;
                    padding-right:1rem;
                    padding-left:1rem;
                    margin:1.5rem auto .75rem;
                    font-family: sans-serif;
                    font-size: var(--thm_meta_data_font_size, 13px);
                    line-height: calc(3rem - 2px);
                    color: var(--thm_header_text_color);
                    text-decoration: none;
                    text-transform: none;
                    vertical-align: baseline;
                    background: var(--thm_header_bg_color);
                    border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                    border-style:var(--thm_border_sidebar_style);
                    border-width:var(--thm_border_sidebar_width);
                    border-radius: 5px;
                }
            }
            .widget.widget_archive ul li:not(:last-child),
                .widget.widget_categories ul li:not(:last-child),
                .widget_pages ul li:not(:last-child),
                .widget .wp-block-page-list li:not(:last-child),
                .widget_meta ul li:not(:last-child),
                .widget_recent_comments ul li:not(:last-child),
                .widget_recent_comments ol li:not(:last-child),
                .widget.widget_recent_entries ul li:not(:last-child),
                .widget_nav_menu .widget div ul li:not(:last-child),
                .widget .wp-block-navigation ul li:not(:last-child){
                border-bottom-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-bottom-style:var(--thm_border_sidebar_style);
                //.widget li:not(:last-child){
                border-bottom-width:var(--thm_border_sidebar_width);
            }
            .wp-block-latest-posts__list:not(#specificity) li,
                .widget.widget_archive ul.is-style-list-style-inline li,
                .widget.widget_categories ul.is-style-list-style-inline .cat-item{

                border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-style:var(--thm_border_sidebar_style);
                border-width:var(--thm_border_sidebar_width);
            }
            .widget_search .wp-block-search__button{
                border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                border-style:var(--thm_border_sidebar_style);
                border-width:var(--thm_border_sidebar_width);
            }
            #wp-calendar{
                tr{
                    th{
                        border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                        border-style:var(--thm_border_sidebar_style);
                        border-width:var(--thm_border_sidebar_width);
                    }
                    td{
                        border-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
                        border-style:var(--thm_border_sidebar_style);
                        border-width:var(--thm_border_sidebar_width);
                    }
                }
                tfoot{
                    td{
                        border:none;
                    }
                }
            }
        }
    }
    .grid{
        .article-wrapper{
            border-color:var(--thm_border_grid);
            border-style:var(--thm_border_grid_style);
            border-width:var(--thm_border_grid_width);

            .horizontal-list-group li{
                border-color:var(--thm_border_grid);
                border-style:solid;
                border-width:1px;
            }
            .theme-message input,
            .skin-button{
                border-color:var(--thm_border_grid);
                border-style:var(--thm_border_grid_style);
                border-width:var(--thm_border_grid_width);
            }
        }
    }
    .stream{
        .article-wrapper{
            border-color:var(--thm_border_stream);
            border-style:var(--thm_border_stream_style);
            border-width:var(--thm_border_stream_width);
        }
    }
    .entry-meta{
        .horizontal-list-group li{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:solid;
            border-width:1px;
        }
    }
    .show-post-image,
    .header-image-active{
        // border-color:var(--thm_white_color, #ffffff);
        .wp-custom-header{
            border:none;
        }
        .horizontal-list-group li{
            border-color:var(--thm_white_color, #ffffff);
            border-style:solid;
            border-width:1px;
        }
    }
    &.legacy-widget-preview .widget_meta li,
    &.legacy-widget-preview .menu-main-container li,
    &.legacy-widget-preview .widget_categories li{
        border-bottom-color:var(--thm_border_sidebar,rgba(188,188,188,.5));
        border-bottom-style:var(--thm_border_sidebar_style);
        border-bottom-width:var(--thm_border_sidebar_width);
    }

}
#document{
    .footer-widget-area-lists,
    .sidebar-widget-area-lists{
        .widget_block{
            .list-style-initial{
                padding-left:40px;
                list-style-type:initial;
                border:none;
                li{
                    list-style-type:initial;
                    border:none;
                }
            }
        }
    }
}
//body{
/**
 * Header and wp-nav-menu () related settings
 * relate Customizer setting
 * ========================================================================== */
.header-layer{
    &.template-part-header-custom + .primary-menu-wrapper{

        &.menu-is-dark{
            .wp-nav-menu.primary[data-direction="horizontal"] .sub-menu,
            .wp-nav-menu.primary[data-direction="horizontal"] .children{
                border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-top-style:var(--thm_common_border_style, solid);
                border-top-width:var(--thm_common_border_width, 1px);
                border-right-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-right-style:var(--thm_common_border_style, solid);
                border-right-width:var(--thm_common_border_width, 1px);
                border-left-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-left-style:var(--thm_common_border_style, solid);
                border-left-width:var(--thm_common_border_width, 1px);
                li{
                    border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
                    border-bottom-style:var(--thm_common_border_style, solid);
                    border-bottom-width:var(--thm_common_border_width, 1px);
                    .sub-menu,
                    .children{
                        border:none;
                    }
                }
            }

        }
        &.menu-is-light{
            .wp-nav-menu.primary .sub-menu,
            .wp-nav-menu.primary .children{
                border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-top-style:var(--thm_common_border_style, solid);
                border-top-width:var(--thm_common_border_width, 1px);
                border-right-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-right-style:var(--thm_common_border_style, solid);
                border-right-width:var(--thm_common_border_width, 1px);
                border-left-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-left-style:var(--thm_common_border_style, solid);
                border-left-width:var(--thm_common_border_width, 1px);
                .sub-menu,
                .children{
                    border:none;
                }
            }
            .wp-nav-menu.primary .children li,
            .wp-nav-menu.primary .sub-menu li,
            .widget_nav_menu .children a,
            .widget_nav_menu .sub-menu a{
                border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-bottom-style:var(--thm_common_border_style, solid);
                border-bottom-width:var(--thm_common_border_width, 1px);
                .sub-menu li:last-child a,
                    .children li:last-child a{
                    border:none;
                }
            }
            .menu{
                &.wp-nav-menu{

                    &[data-direction="vertical"] .children,
                    &[data-direction="vertical"] .sub-menu{
                        border:none;
                        li{
                            border:none;
                        }
                    }
                }
            }
        }
    }
}
//}

figure[data-type="core/table"]{
    table{
        th{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
        }
        td{
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
        }
        thead{
            border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-bottom-style:var(--thm_common_border_style, solid);
            border-bottom-width:var(--thm_common_border_width, 1px);
        }

        tfoot{
            border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-top-style:var(--thm_common_border_style, solid);
            border-top-width:var(--thm_common_border_width, 1px);
        }
    }
}
a.skin-button,
.is-style-outline a{
    border-style:solid ! important;
    border-width:1px ! important;
}
.toc{
    border-right-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-right-style:var(--thm_common_border_style, solid);
    border-right-width:var(--thm_common_border_width, 1px);
    border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-bottom-style:var(--thm_common_border_style, solid);
    border-bottom-width:var(--thm_common_border_width, 1px);
    border-left-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-left-style:var(--thm_common_border_style, solid);
    border-left-width:var(--thm_common_border_width, 1px);
}

.search-drawer-content{
    li{
        border-color:var(--thm_header_link_color);
    }
}

.has-border-color{
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
}
.is-style-inline li{
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:solid;
    border-width:1px;
}

#document{
    .has-vivid-purple-border-color{
        border-color:var(--wp--preset--color--vivid-purple);
    }
    .has-vivid-cyan-blue-border-color{
        border-color:var(--wp--preset--color--vivid-cyan-blue);
    }
    .has-pale-cyan-blue-border-color{
        border-color:var(--wp--preset--color--pale-cyan-blue);
    }
    .has-vivid-green-cyan-border-color{
        border-color:var(--wp--preset--color--vivid-green-cyan);
    }
    .has-light-green-cyan-border-color{
        border-color:var(--wp--preset--color--light-green-cyan);
    }
    .has-luminous-vivid-amber-border-color{
        border-color:var(--wp--preset--color--luminous-vivid-amber);
    }
    .has-luminous-vivid-orange-border-color{
        border-color:var(--wp--preset--color--luminous-vivid-orange);
    }
    .has-vivid-red-border-color{
        border-color:var(--wp--preset--color--vivid-red);
    }
    .has-pale-pink-border-color{
        border-color: var(--wp--preset--color--pale-pink);
    }
    .has-white-border-color{
        border-color: var(--wp--preset--color--white);
    }
    .has-cyan-bluish-gray-border-color{
        border-color: var(--wp--preset--color--cyan-bluish-gray);
    }
    .has-black-border-color{
        border-color: var(--wp--preset--color--black);
    }
}