/**
 * Comments
 * ========================================================================== */
.comment-wrapper{
    .comments{
        @include clearfix;
        @extend %block;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
    }
}
.page{
    .comment-wrapper{
        .comments{
            margin-top:0;
        }
    }
}
.wp-list-comments{
    padding-left:0;
    & > li{
        list-style:none;
        margin:1.5em auto .75em;
        .children{
            padding-right:0;
            &[class|="depth"]{
                list-style:none;
            }
        }
        article{
            footer{
                text-align:left;
                &.comment-meta{
                    font-size:var(--thm_meta_data_font_size);
                    margin-top:1.5rem;
                    margin-bottom:.75rem;
                    padding-left:var(--thm_content_gap);
                    padding-right:var(--thm_content_gap);
                    img{
                        margin-right:1rem;
                    }
                    .comment-author{
                        margin-bottom:.75rem;
                    }
                }
            }
            .comment-content{
                padding:calc( var( --thm_content_gap, 24px ) / 2 ) var( --thm_content_gap, 24px );
                blockquote {
                    width:(100% - 80px);
                    max-width:100%;
                    margin-left:0;
                    blockquote{
                        max-width:100%;
                        padding-right:0;
                        blockquote{
                            padding-right:0;
                        }
                    }
                    p{
                        max-width:100%;
                    }
                }
                table{
                    width:calc( 100% - var( --thm_content_gap, 24px ) );
                }
                dl{
                    dt{
                        margin-top:1.5em;
                        margin-bottom:.75em;
                    }
                }
                address{
                    margin-left:auto;
                    margin-right:auto;
                    text-align:left;
                    width: -moz-fit-content;
                    width:fit-content;
                }
            }
            .reply{
                text-align:right;
                padding: 0 var( --thm_content_gap, 24px ) var( --thm_content_gap, 24px ) var( --thm_content_gap, 24px );
                .comment-reply-link{
                    font-size:var(--thm_meta_data_font_size);
                    padding:0.830rem;
                }
            }
        }
    }
}
.paginate-comment-links{
    display:flex;
    flex-wrap:wrap;
    padding-right: var(--thm_content_gap, 24px);
}
.paginate-comment-links .current,
.paginate-comment-links a{
    flex:1 1 5%;
    text-align:center;
    margin:var(--thm_box_gap);
    width: -moz-fit-content;
    width:fit-content;
    padding:0.68rem;
}
.comment-reply-title{
    padding-left:0;
    padding-right:0;
}
.comment-form,
.comment-respond{
    padding-left:0;
    .comment-form{
        box-sizing:border-box;
        textarea{
            width:calc( 100% - 8em);/* - label width */
            max-width:calc( 100% - 8em);
            margin-left:6rem;
            margin-right:auto;
        }
        input{
            &[name="author"],
            &[type="url"],
            &[type="email"],
            &[type="author"],
            &[type="comment"]{
                width:calc( 100% - 8em);/* - label width */
                max-width:calc( 100% - 8em);
                margin-left:6rem;
                margin-right:auto;
            }
            &[type="submit"]{
                font-size:var(--thm_meta_data_font_size);
                line-height:calc( 1em * var( --thm_content_line_height, 1.5 ) );
                padding:0.830rem;
                margin-left:6rem;
                margin-right:auto;
            }
        }
        label{
            &[for="url"],
            &[for="email"],
            &[for="author"],
            &[for="comment"]{
                vertical-align:top;
                display:inline-block;
                width:8em;
            }
        }
        label.wp-comment-cookies-consent{
            font-size:var(--thm_meta_data_font_size);
        }
    }
    .logged-in-as{
        font-size:var(--thm_meta_data_font_size);
        padding-left:var(--thm_content_gap, 24px);
        padding-right:var(--thm_content_gap, 24px);
        a{
            text-decoration:none;
        }
    }
}
/**
 * Form
 * ========================================================================== */
textarea[aria-required="true"],
input:not([type])[aria-required="true"],
input[type="color" i][aria-required="true"],
input[type="date" i][aria-required="true"],
input[type="datetime" i][aria-required="true"],
input[type="datetime-local" i][aria-required="true"],
input[type="email" i][aria-required="true"],
input[type="month" i][aria-required="true"],
input[type="password" i][aria-required="true"],
input[type="number" i][aria-required="true"],
input[type="tel" i][aria-required="true"],
input[type="text" i][aria-required="true"],
input[type="time" i][aria-required="true"],
input[type="url" i][aria-required="true"],
input[type="week" i][aria-required="true"],
textarea:required,
input:not([type]):required,
input[type="color" i]:required,
input[type="date" i]:required,
input[type="datetime" i]:required,
input[type="datetime-local" i]:required,
input[type="email" i]:required,
input[type="month" i]:required,
input[type="password" i]:required,
input[type="number" i]:required,
input[type="tel" i]:required,
input[type="text" i]:required,
input[type="time" i]:required,
input[type="url" i]:required,
input[type="week" i]:required{
    border-bottom: 2px solid rgb(225, 77, 67);
}
textarea:not([placeholder]):valid,
input:not([type]):valid:not([placeholder]):valid,
input[type="color" i]:not([placeholder]):valid,
input[type="date" i]:not([placeholder]):valid,
input[type="datetime" i]:not([placeholder]):valid,
input[type="datetime-local" i]:not([placeholder]):valid,
input[type="email" i]:not([placeholder]):valid,
input[type="month" i]:not([placeholder]):valid,
input[type="number" i]:not([placeholder]):valid,
input[type="tel" i]:not([placeholder]):valid,
input[type="text" i]:not([placeholder]):valid,
input[type="time" i]:not([placeholder]):valid,
input[type="url" i]:not([placeholder]):valid,
input[type="week" i]:not([placeholder]):valid{
    border-bottom:1px solid rgba(127,127,127,.5);
}
textarea:invalid,
input:not([type]):invalid,
input[type="color" i]:invalid,
input[type="date" i]:invalid,
input[type="datetime" i]:invalid,
input[type="datetime-local" i]:invalid,
input[type="email" i]:invalid,
input[type="month" i]:invalid,
input[type="password" i]:invalid,
input[type="number" i]:invalid,
input[type="tel" i]:invalid,
input[type="text" i]:invalid,
input[type="time" i]:invalid,
input[type="url" i]:invalid,
input[type="week" i]:invalid{
    border-bottom: 2px solid rgb(225, 77, 67);
}
.social{
    padding-top:1em;
    padding-bottom:1em;
}
.comment-notes{
    font-size:.8125em;
}
