/**
 * Core
 * ========================================================================== */
.aligncenter{
    @extend %aligncenter;
    &.wp-block-latest-posts__featured-image{
        padding:0;
        margin:0;
    }
}
blockquote,
a,
img,
div{
    &.aligncenter {
        display:block;
        padding:10px;
        margin-right:auto;
        margin-left:auto
    }
}
p.aligncenter {
    box-sizing:border-box;
    padding-right: var(--thm_content_gap, 24px);
    padding-left: var(--thm_content_gap, 24px);
    margin:1.5em auto .75rem;
}
p.aligncenter.has-drop-cap {
    display:block
}
p.has-drop-cap:not(:focus):after{
    // core over write
    padding-top:0;
}
p.has-drop-cap{
    min-height:calc(1rem * var(--thm_content_line_height, 1.5) * 4);
}
.alignleft {
    @extend %alignleft;
}
.shortcode-wrapper,
aside,
section,
picture,
ol,
ul,
div,
img{
    &.alignleft {
        @extend %alignleft;
    }
}
.alignright {
    @extend %alignright;
}
.shortcode-wrapper,
aside,
section,
picture,
ol,
ul,
div,
img{
    &.alignright {
        @extend %alignright;
    }
}

#document{
    img.alignleft,
    img.alignright{
        padding-top:0;
        margin-top:0;
    }
}

.alignnone {
    box-sizing:border-box;
    display:inline-block;
    float:none;
    margin:1.5rem auto .75rem;
    clear:both;
}
[class|="wp-block"].alignnone{
    display:block;
}
.alignfull,
.alignwide {
    clear:both
}
.page-featured-image {
    display:block;
    padding:0;
    padding:10px;
    margin-right:auto;
    margin-left:auto;
}
.new-line,
.clear{
    clear:both;
}

.page-featured-image{
    display:block;
    margin-right:auto;
    margin-left:auto
}
article{
    &.sticky{
        .content-col,
        header{
            .entry-title{
                padding-left:calc(var(--thm_content_gap, 24px) * 2);
                &:before{
                    position:absolute;
                    left:0;
                    display:inline-block;
                    color:currentColor;
                    content:'\1f4cc';
                }
            }
        }
    }
}
/**
 * Caption short code
 * ========================================================================== */
.wp-caption {
    max-width:100%;
    height:auto;
    padding:0 2px 0;
    text-align:center;
}
.wp-block-latest-posts li .wp-caption > a{
    margin-top:0;
    margin-bottom:0;
}
.wp-caption.alignnone {
    float:none;
    padding:0 0 0;
    margin:5px 10px 5px 0
}
.wp-caption.alignleft {
    @extend %alignleft;
}
.wp-caption.alignright {
    @extend %alignright;
}
figure.wp-caption.aligncenter {
    display:block;
    padding:0;
    margin:5px auto
}
.wp-caption.aligncenter a[rel~="attachment"] img {
    margin:0;
}
.wp-caption-text {
    display:block;
    max-width:calc(100% - 1em);
    margin:.5rem auto;
    text-align:left
}
.wp-caption p.wp-caption-text {
    padding:0 4px 5px;
    margin:0;
    line-height:var( --thm_content_line_height, 1.5 )
}
/**
 * Password post
 * ========================================================================== */
.post-password-required{
    .entry-content .theme-message{
        float:none;
        max-width:66.66%;
        margin:1.5rem auto .75rem;
        clear:both;
    }
    .theme-message .post-password-form .message{
        position:relative;
        max-width: calc(100% - 24px );
        margin:0 0 0 24px;
    }
    .theme-message .post-password-form .message:before{
        position:absolute;
        left:-24px;
        display:inline-block;
        width:24px;
        height:24px;
        vertical-align:middle;
        content:' ';
        //@since 1.2.9 move to style.css background:url("#{$theme_image_dir}svg/lock.svg#alert") no-repeat 50% 50%;
        background-size:contain;
        -webkit-mask-size: contain;
        mask-size: contain;
    }
    .theme-message .post-password-form .fields{
        padding-right:0;
        padding-left:0;
        text-align:center;
    }
}
/**
 * comment
 * ========================================================================== */
:root{
    --thm_comment_author_content:'Author';
    .bypostauthor{
        .comment-author{
            .fn:before{
                padding-right:.5rem;
                padding-left:.5rem;
                margin-right:.5rem;
                content:var(--thm_comment_author_content);
                border:1px solid var(--thm_sub_background_color_darken);
            }
        }
    }
}
/**
 * skin-button
 * ========================================================================== */
.wp-block-latest-posts__post-excerpt > a,
a.skin-button,
span.skin-button{
    @include clearfix;
    display:inline-block;
    float:none;
    width:140px;
    width: -moz-fit-content;
    width:fit-content;
    padding:0 1rem;
    margin-top:1.5rem;
    margin-right:var(--thm_content_gap, 24px);
    margin-bottom:.75rem;
    margin-left:var(--thm_content_gap, 24px);
    overflow:hidden;
    clear:both;
    line-height:calc(1rem * 3 - 2px);
    text-align:center;
    border-radius:5px;// edge//edge
}
.wp-block-latest-posts__post-excerpt > a:hover,
a.skin-button:hover{
    padding:0 1rem;
    line-height:calc(1rem * 3);
    text-decoration:none;
}
#wp-calendar{
    margin-right:auto;
    margin-left:auto;
}
.calendar_wrap{
    nav{
        display:flex;
        span{
            display:block;
            flex:1 1 auto;
            margin-top:1.5rem;
            margin-bottom:.75rem;
            text-align:center;
        }
    }
}
/**
 * link pages
 * ========================================================================== */
.wp-link-pages{
    @include clearfix;
    @extend %block;
    clear:both;
}
/**
 * Page break
 * ========================================================================== */
.page-break-links{
    @extend %block;
    display:flex;
    margin-top:3rem;
}
.page-break-links > span,
.page-break-links a{
    flex:1 1 5%;
    width: -moz-fit-content;
    width:fit-content;
    padding:.685rem;
    margin:3px;
    font-size:var(--thm_meta_data_font_size, 13px);
    text-align:center;
}
/**
 * Static Page
 * ========================================================================== */
body.page{
    .posted-on{
        display:none;
    }
    .header-layer div.entry-text {
        margin-right:auto;
        margin-left:auto;

    }
}