/** 
 * Custom Background
 * ========================================================================== */
.custom-background{
    .page-title-block{
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        margin-bottom:0;
        padding-top:1.5em;
        padding-bottom:.75em;
        max-width:100%;
    }
    .pagination{
        padding-top:.1em;
        padding-bottom:.75em;
        margin-top:0;
        margin-bottom:0;
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
    }
    .nav-links{
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
    }
    article{
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
    }
    main > nav{
        padding-top:1.5em;
        padding-bottom:.75em;
        margin-top:0;
        margin-bottom:0;
    }
    .post-navigation{
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
    }
    .banner{
        margin-left:auto;
        margin-right:auto;  
    }
}
.comment-wrapper{
    .comments{
        .children > li{
            list-style:none;
        }
        article{
            background:transparent;
        }
    }
}

#emulsion .mejs-container{
    margin-left:auto;
    margin-right:auto;
}