/**
 * edge.css will be deleted in the near future.
 * 
 * Chromium edge has been distributed since January 15, 2020.
 * @since 1.1.4: not (.agent-edge) other than this file, other scss has already been deleted
 */
.agent-edge{
    .page-wrapper article header .entry-title a[href]{
        text-align:center;
    }
    &.emulsion-has-sidebar,
    &.emulsion-no-sidebar{
        header{
            &.header-layer{
                color:$header_text_color;
                .header-text{
                }
                .entry-text{
                    display:block;
                    text-align:center;
                    & > div{
                        flex:none;
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
                &.template-part-header-custom{
                    .entry-text{
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align:center;
                        & > div{
                            .entry-meta{
                                flex:1 1 auto;
                                margin-top:0;
                                ul{
                                    margin-top:0;
                                    margin-bottom:0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .attachment-image{
            figcaption{
                text-align:center;
            }
        }
        .entry-content{
            figure{
                figcaption{
                    text-align:center;
                }
            }
        }
    }
    .post-excerpt-html{
        text-align:center;
    }
    .entry-title{
        max-width:100%;
        .trancate-heading{
            .multiline-text-overflow{
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
}
