a{
    transition: all .3s;
}
.entry-title a{
    display:block;
}
.entry-title a:after {
    display:block;
    width: 0;
    content: "";
    border-bottom:1px solid currentColor;
    transition: width .5s;
}
body.is-dark:not(.is-fse-light) .entry-title a:after {
    border-bottom:1px solid #ffffff;
}
.entry-title a:hover:after {
    width: 100%;
}

/**
 * list
 * =================================================================== */

[data-block]{
    .wp-block-gallery{
        .blocks-gallery-item:before{
            display:none!important;
        }
    }
}

/**
 * front end only style
 * class that transforms a nested list into a tab view
 * ========================================================================== */

.list-style-tab:not(.list-style-initial):not([id]):not(.is-style-list-style-initial){
    @extend %block;
    margin:1.5rem auto .75rem;
    &.success-js{
        position:relative;
        margin-top:1.5rem;
        margin-bottom:.75rem;
        overflow:hidden;
        list-style:none;
        & > li{
            box-sizing:border-box;
            float:left;
            padding:.73rem 1rem;
            margin-top:0;
            margin-right:3px;
            margin-bottom:0;
            clear:none;
            text-indent:0;
            list-style:none;
            visibility:visible;
            border-color:var(--thm_common_border, rgba(188,188,188,.5));
            border-style:var(--thm_common_border_style, solid);
            border-width:var(--thm_common_border_width, 1px);
            &:before{
                visibility:hidden;
                outline:none;
            }
            &:hover{
                cursor:pointer;
            }
            &:focus,
                &.active{
                outline:none;
            }
            &:after{
                position:absolute;
                top:calc(3rem);
                right:0;
                left:0;
                box-sizing:inherit;
                display:block;
                content:'';
                border-top-color:var(--thm_common_border, rgba(188,188,188,.5));
                border-top-style:var(--thm_common_border_style, solid);
                border-top-width:var(--thm_common_border_width, 1px);
            }
            ol,
            ul{
                position:absolute;
                left:0;
                box-sizing:border-box;
                width:100%;
                padding:16px 0 16px 40px;
                visibility:hidden;
                li{
                    text-indent:0;
                    &:before{
                        display:none;
                    }
                }
            }
            &:focus{
                ul{
                    top:40px;
                    visibility:visible;
                    @include clearfix;
                }
            }
        }
        &.has-background{
            & > li{
                &:after{
                    top:4rem;
                }
            }
        }
    }
}
#document{
    .woocommerce-page{
        .woocommerce-ordering{
            text-align:right;
        }
        .woocommerce-result-count{
            width:100%;
            margin-right:auto;
            margin-left:auto;
            text-align:right;
        }
        .entry-content{
            .woocommerce-product-gallery{
                ul,ol{
                    li{
                        text-indent:0;
                    }
                }
            }
            .woocommerce-product-gallery__wrapper{
                max-width:none;
            }
        }
        #add_payment_method div#payment,
        &.woocommerce-cart div#payment,
        &.woocommerce-checkout div#payment {
            color:  var(--thm_black_color);
            background: #ebe9eb;
            border-radius: 5px;
            ul.wc_payment_methods{
                li{
                    text-indent:0;
                    &:before{
                        display:none;
                    }
                    a{
                        color:var(--thm_gray_color);
                    }
                }
            }
            div.form-row{
                a{
                    color:var(--thm_gray_color);
                }
            }
        }
        .content-area{
            @extend %block_wide;
            max-width:100%;
            margin-right:auto;
            margin-left:auto;
            .woocommerce-products-header{
                // @see emulsion_woocommerce_dinamic_css()
            }
        }
        .wc-tabs-wrapper [role="tablist"] #tab-title-description{
            text-indent:0;
            &:before{
                display:none;
            }
        }
    }
    .wp-block-latest-posts{
        .woocommerce{
            .products{
                padding-left:0;
            }
        }
    }
    .woocommerce{
        .products{
            margin-right:auto;
            margin-left:auto;
            .product{
                text-indent:0;
                &:before{
                    display:none;
                }
                [data-product_id]{
                    &.button{
                        color: var(--thm_header_text_color);
                        white-space:pre;
                        background: var(--thm_header_bg_color);
                    }
                }
                .price,
                .woocommerce-loop-product__title{
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                }
                .button{
                    display:block;
                    margin-right:auto;
                    margin-left:auto;
                    text-align:center;
                }
            }
        }
    }
}
.enable-alignfull{
    [class|="wp-block-woocommerce"]{
        .alignfull{
            position: relative;
            width:100%;
            max-width: 100%;
        }
        .alignwide{
            position: relative;
            left:0;
            //width:calc( var(--thm_content_width, 720px) + var(--thm_align_offset, 200px) );
            width:var(--thm_wide_width, 920px);
            max-width:100%;
            margin-right:auto;
            margin-left:auto;
        }
    }
}
[class|="wp-block-woocommerce"]{
    .alignfull{
        position: relative;
        width:calc( var(--thm_content_width, 720px) );
        max-width: 100%;
    }
    .alignwide{
        position: relative;
        left:0;
        width:calc( var(--thm_content_width, 720px) );
        max-width:100%;
        margin-right:auto;
        margin-left:auto;
    }
    &.wp-block-woocommerce-product-search{
        .wc-block-product-search__fields{
            width:-moz-fit-content;
            width:fit-content;
            margin-right:auto;
            margin-left:auto;
            .wc-block-product-search__field{
                max-width:360px;
                margin-right:0;
                margin-left:0;
            }
            button{
                margin:.75rem 0;
                vertical-align:middle;
            }
        }
    }

}
[class|="wc-block"]{
    .alignnone{
        display:block;
        width:640px; //todo
        margin-right:auto;
        margin-left:auto;
    }
    &.wc-block-grid{
        .wc-block-grid__products{
            .wc-block-grid__product{
                text-indent:0;
                &:before{
                    display:none;
                }
                .wc-block-grid__product-onsale,
                .onsale{
                    position: absolute;
                    top: -.5em;
                    left: -.5em;
                    z-index: 9;
                    min-width: 3.236em;
                    min-height: 3.236em;
                    padding: .202em;
                    margin: 0;
                    font-size: 1em;
                    font-size: .857em;
                    font-weight: 700;
                    line-height: 3.236;
                    color: var(--thm_white_color, #ffffff);
                    text-align: center;
                    background-color: #77a464;
                    border-radius: 100%;
                }
            }
        }
    }

    &.wc-block-featured-category{
        display: -webkit-box;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }
    &.wc-block-featured-category{
        position: relative;
        width: 100%;
        margin: 0 0 1.5em;
        background-color: #24292d;
        background-position: 50%;
        background-size: cover;
        .wc-block-featured-category__description,
        .wc-block-featured-category__link,
        .wc-block-featured-category__title{
            text-align:center;
        }
        @supports ( width:fit-content ) or ( width: -moz-fit-content ){
            .wc-block-featured-category__description,
            .wc-block-featured-category__link,
            .wc-block-featured-category__title{
                display:block;
                width: -moz-fit-content;
                width:fit-content;
                margin-right:auto;
                margin-left:auto;
                text-align:left;
            }
        }
    }
    &.wc-block-featured-product,
    &.wc-block-featured-product .wc-block-featured-product__wrapper {
        display: -webkit-box;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }
    &.wc-block-featured-product{
        position: relative;
        width: 100%;
        margin: 0 0 1.5em;
        background-color: #24292d;
        background-position: 50%;
        background-size: cover;
        .wc-block-featured-product__description,
        .wc-block-featured-product__link,
        .wc-block-featured-product__price,
        .wc-block-featured-product__title,
        .wc-block-featured-product__variation{
            text-align:center;
        }
        @supports ( width:fit-content ) or ( width: -moz-fit-content ){
            .wc-block-featured-product__description p,
            .wc-block-featured-product__description,
            .wc-block-featured-product__link,
            .wc-block-featured-product__price,
            .wc-block-featured-product__title,
            .wc-block-featured-product__variation{
                display:block;
                width: -moz-fit-content;
                width:fit-content;
                margin-right:auto;
                margin-left:auto;
                text-align:left;
            }
        }
    }
}

/**
 * hanging indent
 * Place smileys and emoji at the beginning of the paragraph and display it like a list bullet.
 * =================================================================== */

.is-style-hanging-indent,
.hanging-indent{
    padding-left:calc(var(--thm_content_gap, 24px) * 2 );
    text-indent:calc( var(--thm_content_gap, 24px) * -1 );
}
.h1,
h1{
    &.hanging-indent{
        padding-left:calc(1em * 1.3);
        text-indent: -2.8rem;
    }
}
.h2,
h2{
    &.hanging-indent{
        padding-left:calc(1em * 1.3);
        text-indent: -2.7rem;
    }
}
.h3,
h3{
    &.hanging-indent{
        padding-left:calc(1em * 1.5);
        text-indent: -2.2rem;
    }
}
/**
 * Block heading element based on meta font size
 */
.wp-block-latest-posts{
    .h1,
    h1{
        &.hanging-indent{
            padding-left:1.5em;
            text-indent:calc(var(--thm_meta_data_font_size, 13px) * -2.5);
        }
    }
    .h2,
    h2{
        &.hanging-indent{
            padding-left:1.5em;
            text-indent:calc(var(--thm_meta_data_font_size, 13px) * -2);
        }
    }
    .h3,
    h3{
        &.hanging-indent{
            padding-left:1.5em;
            text-indent:calc(var(--thm_meta_data_font_size, 13px) * -2);
        }
    }
}
/**
 * Alternative display of svg icon on edit screen
 */

/**
 * indent
 * =================================================================== */
.emulsion .is-style-indent-5rem,
.indent-5rem{
    padding-left:calc(1rem * 5 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-10rem,
.indent-10rem{
    padding-left:calc(1rem * 10 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-15rem,
.indent-15rem{
    padding-left:calc(1rem * 15 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-20rem,
.indent-20rem{
    padding-left:calc(1rem * 20 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-right-5rem,
.indent-right-5rem{
    padding-right:calc(1rem * 5 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-right-10rem,
.indent-right-10rem{
    padding-right:calc(1rem * 10 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-right-15rem,
.indent-right-15rem{
    padding-right:calc(1rem * 15 + var(--thm_content_gap, 24px) );
}
.emulsion .is-style-indent-right-20rem,
.indent-right-20rem{
    padding-right:calc(1rem * 20 + var(--thm_content_gap, 24px) );
}
/**
 * Add one line negative top margin
 */
.emulsion .is-style-indent-5rem-n,
.indent-5rem-n{
    padding-left:calc(1rem * 5 + var(--thm_content_gap, 24px) );
    margin-top:calc( 1rem * var(--thm_content_line_height, 1.5) * -2);
}
.emulsion .is-style-indent-10rem-n,
.indent-10rem-n{
    padding-left:calc(1rem * 10 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}
.emulsion .is-style-indent-15rem-n,
.indent-15rem-n{
    padding-left:calc(1rem * 15 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}
.emulsion .is-style-indent-20rem-n,
.indent-20rem-n{
    padding-left:calc(1rem * 20 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}
.emulsion .is-style-indent-right-5rem-n,
.indent-right-5rem-n{
    padding-right:calc(1rem * 5 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}

.emulsion .is-style-indent-right-10rem-n,
.indent-right-10rem-n{
    padding-right:calc(1rem * 10 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}

.emulsion .is-style-indent-right-15rem-n,
.indent-right-15rem-n{
    padding-right:calc(1rem * 15 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}

.emulsion .is-style-indent-right-20rem-n,
.indent-right-20rem-n{
    padding-right:calc(1rem * 20 + var(--thm_content_gap, 24px) );
    margin-top:calc(  1rem * var(--thm_content_line_height, 1.5) * -2);
}
$indent-classes:('5rem','10rem','15rem','20rem','right-5rem','right-10rem','right-15rem','right-20rem');
@each $type in $indent-classes {

    .emulsion .wp-block-latest-posts .indent-#{$type}{
        padding-right:calc(var(--thm_content_gap, 24px) );
        padding-left:calc(var(--thm_content_gap, 24px) );
        text-indent: 0;
    }
    .emulsion .wp-block-latest-posts .indent-#{$type}-n{
        padding-right:calc(var(--thm_content_gap, 24px) );
        padding-left:calc(var(--thm_content_gap, 24px) );
        margin-top:1.5rem;
        text-indent: 0;
    }
    .emulsion ol.indent-#{$type}-n,
    .emulsion ul.indent-#{$type}-n,
    .emulsion ol.indent-#{$type},
    .emulsion ul.indent-#{$type} {
        & > li:first-child{
            padding-top:0;
        }
    }
}
.emulsion .wp-block-latest-posts{
    li{
        text-indent:0;
        .wp-block-latest-posts__post-full-content{
            text-indent:0;
        }
    }
}

@media screen and ( max-width : $content_width ) {
    @each $type in $indent-classes {
        .emulsion .is-style-indent-#{$type},
        .emulsion .indent-#{$type}{
            padding-right:calc(var(--thm_content_gap, 24px) );
            padding-left:calc(var(--thm_content_gap, 24px) );
        }
        .emulsion .is-style-indent-#{$type}-n,
        .emulsion .indent-#{$type}-n{
            padding-right:calc(var(--thm_content_gap, 24px) );
            padding-left:calc(var(--thm_content_gap, 24px) );
            margin-top:1.5rem;
        }
    }
}

/**
 * Category description
 * =================================================================== */

.sidebar-widget-area a[data-title]:after{
    content:' ';
    opacity:0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

/**
 * Grid Article
 * =================================================================== */

.is-light:not(.is-fse-dark){
    .grid{
        article{
            transition:box-shadow .5s ease-in-out;
        }
    }
    .stream{
        article{
            transition:box-shadow .5s ease-in-out;
        }
    }
    .toc{

        filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
        transition:filter .5s ease-in-out;
    }
    .wp-block-latest-posts{
        li{
            transition:all .5s ease-in-out;
        }
        &.is-grid{
            li{
                transition:all .5s ease-in-out;
            }
        }
    }
    .wp-block-rss.is-grid{
        li{
            transition:all .5s ease-in-out;
        }
    }
    .wp-block-latest-comments{
        .wp-block-latest-comments__comment{
            transition:all .5s ease-in-out;
        }
    }

    .wp-block-tag-cloud{
        transition:all .5s ease-in-out;
    }
}

/**
 * Primary Menu
 * =================================================================== */

//body{
body .menu-is-light{
    //wp_nav_menu() primary
    .primary{
        .sub-menu,
        .children{
            transition: clip 1s ease;
        }
        .nav-menu-child-opener:checked ~ .sub-menu,
            .nav-menu-child-opener:checked ~ .children{
            filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
        }
        &[data-direction="vertical"]{
            .nav-menu-child-opener:checked ~ .sub-menu,
                .nav-menu-child-opener:checked ~ .children{
                -webkit-box-shadow:none;
                -moz-box-shadow:none;
                box-shadow:none;
            }
        }
        &[data-type="accordion"]{
            & > li{
                .sub-menu,
                .children{
                    .sub-menu,
                    .children{
                        -webkit-box-shadow:none;
                        -moz-box-shadow:none;
                        box-shadow:none;
                    }
                }
            }
        }
    }
}
/*
body.on-scroll{
    .primary-menu-wrapper,
    .header-layer-site-title-navigation{
        filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
    }
}
*/
.is-dark:not(.is-fse-light){
    .grid{
        article{
            transition:all .5s ease-in-out;
        }
    }
    .stream{
        article{
            transition:all .5s ease-in-out;
        }
    }
    .wp-block-latest-posts.is-grid li{
        transition:all .5s ease-in-out;
    }
    .wp-block-latest-posts{
        li{
            transition:all .5s ease-in-out;
        }
    }
    .wp-block-rss.is-grid li{
        transition:all .5s ease-in-out;
    }
    .wp-block-rss.is-grid li:hover{
        background:var(--thm_background_color);
        filter: brightness(130%);
    }
    .wp-block-rss.is-grid{
        li{
            transition:all .5s ease-in-out;
        }
    }
    .wp-block-latest-comments{
        .wp-block-latest-comments__comment{
            transition:all .5s ease-in-out;
        }
    }
    .wp-block-tag-cloud{
        transition:all .5s ease-in-out;
    }
}
.single,
.page{
    .header-image-active{
        -webkit-transition:  background 1s ease;
        transition: background 1s ease;
    }
}

/**
 * Site Title Only Home
 * =================================================================== */

.sidebar-widget-area-lists{
    .widget > ul > li{
        -webkit-transition:  all 1s ease; /* Safari */
        transition: all 1s ease;
    }
}
details[open] {
    animation: sweep 1s ease-in-out;
}
details summary{
    display:inline-block;
    width:100%;
}
@supports not (-ms-ime-align: auto) {
    //without ie edge
    details summary{
        cursor:pointer;
    }
}
details[open] summary ~ * {
    animation: sweep 1s ease-in-out;
}
.on-scroll .toc{
    animation: sweep 1s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

/**
 * jQuery Tooltip
   ========================================================================== */

.ui-tooltip {
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    padding: 8px;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    text-align:left;
}
.ui-tooltip-content:before{
    position: absolute;
    right:0;
    bottom:-24px;
    left:0;
    width:2px;
    margin-right:auto;
    margin-left:auto;
    content: "";
}
.bottom-tooltip .ui-tooltip-content:before{
    position: absolute;
    top:auto;
    right:0;
    bottom:18px;
    left:0;
    width:2px;
    margin-right:auto;
    margin-left:auto;
    content: "";
}
/* tooltip fallback style */
.ui-tooltip {
    @include font_size(6);
    color: #ccc;
    background:  var(--thm_black_color);
    border: none;
}
.ui-tooltip-content:before{
    border: 10px solid transparent;
    border-top: 10px solid  var(--thm_black_color);
}
.bottom-tooltip .ui-tooltip-content:before{
    border: 10px solid transparent;
    border-bottom: 10px solid  var(--thm_black_color);
}

/**
 * Custom Class no-margin
 * Group images gallery, cover, image margin-top 1.5rem - 3px margin-bottom - 3px
 * ============================================================================*/

&.enable-alignfull{
    &.emulsion{
        .no-margin{
            margin:0;
        }
        .no-v-margin{
            margin-top:0;
            margin-bottom:0;
        }
    }
    .entry-content{
        .wp-block-gallery{
            &.no-margin{
                margin-top:calc(var(--thm_box_gap, 3px) );
                margin-bottom:calc(var(--thm_box_gap, 3px));
            }
        }
        .wp-block-cover{
            &.no-margin{
                margin-top:calc(var(--thm_box_gap, 3px) );
                margin-bottom:calc(var(--thm_box_gap, 3px) );
            }
        }
        .wp-block-image{
            &.no-margin{
                margin-top:calc(var(--thm_box_gap, 3px) );
                margin-bottom:calc(var(--thm_box_gap, 3px) );
            }
        }
    }
}

/**
 * TOC in entry-content
 * =================================================================== */

.single,
.page{
    article{
        .toc{

            position:static;
            top:0;
            box-sizing:border-box;
            box-shadow:none;
            ul{
                max-width:100%;
                padding-top:1rem;
                padding-bottom:1rem;
                list-style-type:decimal;
                background:rgba(188, 188, 188, .2);
                border:1px solid #ccc;
                li{
                    padding-top:0;
                    padding-bottom:0;
                    list-style-type:decimal;
                }
            }

        }
    }
    &.on-scroll{
        article{
            .toc{
                position:static;
                top:0;
                margin-right:auto;
                margin-left:auto;
            }
        }
    }
}
code{
    [id|="toc"]{
        display:none;
    }
}

/**
 *
 * ========================================================================== */


body .scroll-button-top.skin-button{
    display:none;
}
body.on-scroll{
    .scroll-button-top{
        display:block;
        &.skin-button{
            position:fixed;
            right:-.2rem;
            bottom:.2rem;
            z-index:10;
            width:30px;
            height:30px;
            padding:0;
            margin-bottom:10px;
            cursor:pointer;
            border:2px solid var(--thm_primary_menu_color);
            border-radius:calc(15px + 4px);
        }
        span{
            display:none;
        }
    }
}
body .header-is-dark ~ .scroll-button-top:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:-2px;
    display:block;
    width:16px;
    height:18px;
    margin:auto;
    background-repeat:no-repeat;
    background-position:center center;
    //@since 1.2.9 move to style.css  background: url(#{$theme_image_dir}svg/arrow-up.svg#white);
    background-size: contain;
}
body .header-is-light ~ .scroll-button-top:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:-2px;
    display:block;
    width:16px;
    height:16px;
    margin:auto;
    background-repeat:no-repeat;
    background-position:center center;
    //@since 1.2.9 move to style.css  background: url(#{$theme_image_dir}svg/arrow-up.svg);
    background-size: contain;
}
body .header-is-default-color ~ .scroll-button-top:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:-2px;
    display:block;
    width:16px;
    height:16px;
    margin:auto;
    background-repeat:no-repeat;
    background-position:center center;
    //@since 1.2.9 move to style.css background: url(#{$theme_image_dir}svg/arrow-up.svg);
    background-size: contain;
}
body.is-dark .header-is-default-color ~ .scroll-button-top:before {
    background-repeat:no-repeat;
    background-position:center center;
    //@since 1.2.9 move to style.css background: url(#{$theme_image_dir}svg/arrow-up.svg);
    background-size: contain;
}

.nav-previous{
    transition:all .5s ease-in-out;
}
.nav-next{
    transition:all .5s ease-in-out;
}
/*
.elementor_library-template-default.on-scroll.logged-in .primary-menu-wrapper{
    margin-top:0;
}
*/
/* Social nav */


body .icon{
    fill:var(--thm_general_link_color);
}
body .has-background{
    .icon{
        fill:var(--thm_white_color, #ffffff);
    }
}
body .has-black-background-color{
    .icon{
        fill:var(--thm_white_color, #ffffff);
    }
}
body .has-black-color{
    .icon{
        fill: var(--thm_black_color);
    }
}
body .has-gray-color{
    .icon{
        fill:#A9A9A9;
    }
}
body .has-white-color{
    .icon{
        fill:#ffffff;
    }
}
body .has-alert-color{
    .icon{
        fill:rgba(231, 76, 60, 1);
    }
}
body .has-notice-color{
    .icon{
        fill:rgba(163, 140, 8, 1);
    }
}
body .has-info-color{
    .icon{
        fill:rgba(22, 160, 133, 1);
    }
}
body .has-cool-color{
    .icon{
        fill:rgba(52, 152, 219, 1);
    }
}
body svg.icon {
    display: inline-block;
    width: calc( 1rem * var( --thm_common_line_height ) );
    height: calc( 1rem * var( --thm_common_line_height ) );
    margin-right:.5rem; //@since 1.217
    margin-left:0;  //@since 1.217
    vertical-align:baseline;
    fill: var(--thm_social_icon_color, #666);
    stroke: currentColor;
    stroke-width: 0;
}

body .primary-menu-wrapper{
    .icon {
        display: inline;
    }
}

/**
 * .background css pattern
 */

body.is-dark.custom-background .is-style-carbon-fiber,
body.is-dark.custom-background .has-background-carbon-fiber,
body.is-dark.custom-background.background-css-pattern-carbon-fiber{
    background-color:var(--thm_background_color);
    background-size: 0 0;
    animation:is-dark-carbon-fiber 1s ease-in .5s forwards;
    will-change:background-size;
    @keyframes is-dark-carbon-fiber{
        100%{
            background:
                radial-gradient(rgba(0,0,0,.5) 15%, transparent 16%) 0 0,
                radial-gradient(rgba(0,0,0,.5) 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
            background-color:var(--thm_background_color);
            background-size:16px 16px;
        }
    }
}
body.is-light.custom-background .is-style-carbon-fiber,
body.is-light.custom-background .has-background-carbon-fiber,
body.is-light.custom-background.background-css-pattern-carbon-fiber{
    background-color:var(--thm_background_color);
    background-size: 0 0;
    animation:is-light-carbon-fiber 1s ease-in .5s forwards;
    will-change:background-size;
    @keyframes is-light-carbon-fiber{
        100%{
            background:
                radial-gradient(rgba(188,188,188,.5) 15%, transparent 16%) 0 0,
                radial-gradient(rgba(188,188,188,.5) 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(255,255,255,.8) 15%, transparent 20%) 0 1px,
                radial-gradient(rgba(255,255,255,.8) 15%, transparent 20%) 8px 9px;
            background-color:var(--thm_background_color);
            background-size:16px 16px;
        }
    }
}
body.custom-background .is-style-seigaiha,
body.custom-background .has-background-seigaiha,
body.custom-background.background-css-pattern-seigaiha{
    background-color:var(--thm_background_color);
    background-size: 0 0;
    animation:pattern-seigaiha 1s ease-in .5s forwards;
    will-change:background-size;
    @keyframes pattern-seigaiha{
        100%{
            background-image:
                radial-gradient(circle at 100% 150%, var(--thm_background_color) 24%, var(--thm_sub_background_color_lighten, transparent) 25%, var(--thm_sub_background_color_lighten, transparent) 28%, var(--thm_background_color) 29%, var(--thm_background_color) 36%, var(--thm_sub_background_color_lighten, transparent) 36%, var(--thm_sub_background_color_lighten, transparent) 40%, transparent 40%, transparent),
                radial-gradient(circle at 0    150%, var(--thm_background_color) 24%, var(--thm_sub_background_color_lighten, transparent) 25%, var(--thm_sub_background_color_lighten, transparent) 28%, var(--thm_background_color) 29%, var(--thm_background_color) 36%, var(--thm_sub_background_color_lighten, transparent) 36%, var(--thm_sub_background_color_lighten, transparent) 40%, transparent 40%, transparent),
                radial-gradient(circle at 50%  100%, var(--thm_sub_background_color_lighten, transparent) 10%, var(--thm_background_color) 11%, var(--thm_background_color) 23%, var(--thm_sub_background_color_lighten, transparent) 24%, var(--thm_sub_background_color_lighten, transparent) 30%, var(--thm_background_color) 31%, var(--thm_background_color) 43%, var(--thm_sub_background_color_lighten, transparent) 44%, var(--thm_sub_background_color_lighten, transparent) 50%, var(--thm_background_color) 51%, var(--thm_background_color) 63%, var(--thm_sub_background_color_lighten, transparent) 64%, var(--thm_sub_background_color_lighten, transparent) 71%, transparent 71%, transparent),
                radial-gradient(circle at 100% 50%, var(--thm_sub_background_color_lighten, transparent) 5%, var(--thm_background_color) 6%, var(--thm_background_color) 15%, var(--thm_sub_background_color_lighten, transparent) 16%, var(--thm_sub_background_color_lighten, transparent) 20%, var(--thm_background_color) 21%, var(--thm_background_color) 30%, var(--thm_sub_background_color_lighten, transparent) 31%, var(--thm_sub_background_color_lighten, transparent) 35%, var(--thm_background_color) 36%, var(--thm_background_color) 45%, var(--thm_sub_background_color_lighten, transparent) 46%, var(--thm_sub_background_color_lighten, transparent) 49%, transparent 50%, transparent),
                radial-gradient(circle at 0    50%, var(--thm_sub_background_color_lighten, transparent) 5%, var(--thm_background_color) 6%, var(--thm_background_color) 15%, var(--thm_sub_background_color_lighten, transparent) 16%, var(--thm_sub_background_color_lighten, transparent) 20%, var(--thm_background_color) 21%, var(--thm_background_color) 30%, var(--thm_sub_background_color_lighten, transparent) 31%, var(--thm_sub_background_color_lighten, transparent) 35%, var(--thm_background_color) 36%, var(--thm_background_color) 45%, var(--thm_sub_background_color_lighten, transparent) 46%, var(--thm_sub_background_color_lighten, transparent) 49%, transparent 50%, transparent);
            background-size: 50px 25px;
        }
    }
}
/* background image */
body.page.custom-background.emulsion-has-custom-background-image,
body.single.custom-background.emulsion-has-custom-background-image{
    animation:none;
}
body.is-light.custom-background .is-style-cicada,
body.is-light.custom-background .has-background-cicada,
body.is-light.custom-background.background-css-pattern-cicada{
    background-color:var(--thm_background_color);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.07)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.13)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.17))),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.19)));
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
        -webkit-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -o-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
        -o-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
        -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
body.is-dark.custom-background .is-style-cicada,
body.is-dark.custom-background .has-background-cicada,
body.is-dark.custom-background.background-css-pattern-cicada{
    background-color:var(--thm_background_color);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,.07)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,.13)), color-stop(50%, transparent)),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.17))),
        -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.19)));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.07) 50%, transparent 50%),
        -webkit-linear-gradient(left, rgba(0,0,0,.13) 50%, transparent 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(0,0,0,.17) 50%),
        -webkit-linear-gradient(left, transparent 50%, rgba(0,0,0,.19) 50%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,.07) 50%, transparent 50%),
        -o-linear-gradient(left, rgba(0,0,0,.13) 50%, transparent 50%),
        -o-linear-gradient(left, transparent 50%, rgba(0,0,0,.17) 50%),
        -o-linear-gradient(left, transparent 50%, rgba(0,0,0,.19) 50%);
    background-image: linear-gradient(90deg, rgba(0,0,0,.07) 50%, transparent 50%),
        linear-gradient(90deg, rgba(0,0,0,.13) 50%, transparent 50%),
        linear-gradient(90deg, transparent 50%, rgba(0,0,0,.17) 50%),
        linear-gradient(90deg, transparent 50%, rgba(0,0,0,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
body.custom-background .has-background-lattice,
body.custom-background.background-css-pattern-lattice{
    background:
        linear-gradient(var(--thm_sub_background_color_lighten) 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, var(--thm_sub_background_color_lighten) 8px, transparent 8px) -4px 0;
    background-color: var(--thm_background_color);
    background-size:128px 128px, 128px 128px;
}
body.is-light.custom-background .has-background-hexagonal,
body.is-light.custom-background.background-css-pattern-hexagonal{
    background:
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_background_color) 23.5%,rgba(0,0,0,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_sub_background_color_lighten) 24%,rgba(0,0,0,0) 0)19px 30px,
        linear-gradient(var(--thm_background_color) 14%,rgba(0,0,0,0) 0, rgba(0,0,0,0) 85%,var(--thm_background_color) 0)0 0,
        linear-gradient(150deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(30deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_lighten) 0,var(--thm_sub_background_color_lighten) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(90deg,var(--thm_sub_background_color_lighten) 2%,var(--thm_background_color) 0,var(--thm_background_color) 98%,var(--thm_sub_background_color_lighten) 0%)0 0 var(--thm_background_color);
    background-size: 40px 60px;
}
body.is-dark.custom-background .has-background-hexagonal,
body.is-dark.custom-background.background-css-pattern-hexagonal{
    background:
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_background_color) 23.5%,rgba(0,0,0,0) 0)21px 30px,
        radial-gradient(circle farthest-side at 0% 50%,var(--thm_sub_background_color_darken) 24%,rgba(0,0,0,0) 0)19px 30px,
        linear-gradient(var(--thm_background_color) 14%,rgba(0,0,0,0) 0, rgba(0,0,0,0) 85%,var(--thm_background_color) 0)0 0,
        linear-gradient(150deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(30deg,var(--thm_background_color) 24%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 26%,rgba(0,0,0,0) 0,rgba(0,0,0,0) 74%,var(--thm_sub_background_color_darken) 0,var(--thm_sub_background_color_darken) 76%,var(--thm_background_color) 0)0 0,
        linear-gradient(90deg,var(--thm_sub_background_color_darken) 2%,var(--thm_background_color) 0,var(--thm_background_color) 98%,var(--thm_sub_background_color_darken) 0%)0 0 var(--thm_background_color);
    background-size: 40px 60px;
}
//}

/**
 * wp-block-tag-cloud
 * ========================================================================== */

.tag-cloud-style-flat{
    display:flex;
    flex-wrap:wrap;
    a{
        z-index: 2;
        display: inline-block;
        flex:1 1 auto;
        padding: 2px 4px;
        margin: var(--thm_box_gap, 3px);
        text-align: center;
    }
}
.stream .archive-preview .tag-cloud-style-flat,
#editor [data-block] .tag-cloud-style-flat{
    a{
        //editor style
        //over write style attribute style
        font-size:var(--thm_meta_data_font_size, 13px) ! important;
        text-decoration:none ! important;
    }
}

/**
 * auxiliary block
 * ========================================================================== */

ol.shrink,
ul.shrink{
    li{
        padding-top:.5rem;
        padding-bottom:.5rem;
        font-size:var(--thm_meta_data_font_size, 13px);
    }
    &.alignleft{
        box-sizing:border-box;
        float:left;
        padding-right:0;
        clear:left;
        li{
            float:right;
            width: calc(var(--thm_content_width, 720px) / 2 - var(--thm_content_gap, 24px) * 2);
            max-width:100%;
            margin-left:0;
            clear:right;
        }
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding-right:calc(var(--thm_content_gap, 24px) );
            padding-left:calc(var(--thm_content_gap, 24px) );
            margin-right:0;
            margin-left:0;
            li{
                float:none;
                width:100%;
                clear:left;
            }
        }
    }
    &.alignright {
        box-sizing:border-box;
        float:right;
        padding-left:0;
        clear:right;
        li{
            width: calc(var(--thm_content_width, 720px) / 2 - var(--thm_content_gap, 24px) * 2);
            max-width:100%;
            margin-left:1rem;
        }
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding-right:calc(var(--thm_content_gap, 24px) );
            padding-left:calc(var(--thm_content_gap, 24px) );
            margin-right:0;
            margin-left:0;
            li{
                float:none;
                width:100%;
                margin-left:0;
                clear:left;
            }
        }
    }
}
.wp-block-table{
    &.shrink{
        margin-top:1.5rem;
        margin-right:auto;
        margin-bottom:.75rem;
        margin-left:auto;
        font-size:var(--thm_meta_data_font_size, 13px);
        table{
            width:auto;
            min-width:0;
            th,
            td{
                padding-top:.5rem;
                padding-bottom:.5rem;
            }
        }

        &.alignleft{
            margin-right:1rem;
            text-align:right;
            figcaption,
            table{
                width: calc(var(--thm_content_width, 720px) / 2 - var(--thm_content_gap, 24px) * 2);
                margin-right:0;
                text-align:left;
            }

            @media screen and ( max-width : 640px ) {
                // static break point
                table{
                    width:99%;
                    margin-right:0;
                    margin-left:0;
                }
            }
        }
        &.alignright{
            margin-left:1rem;

            figcaption,
            table{
                width: calc(var(--thm_content_width, 720px) / 2 - var(--thm_content_gap, 24px) * 2);
                margin-left:0;
            }
            @media screen and ( max-width : 640px ) {
                // static break point
                table{
                    width:99%;
                    margin-right:0;
                    margin-left:0;
                }
            }
        }
    }
}

.wp-block-image.is-style-shrink{


    &.alignleft{

        width:calc( var(--thm_content_width, 720px ) / 2 - var(--thm_content_gap, 24px) - 1rem);
        margin-left: calc((100% - var(--thm_content_width, 720px )) / 2 + var(--thm_content_gap, 24px));

        &.size-thumbnail{
            width:150px;
            padding:0;
        }
        figure{
            width:100%;
        }
        @media screen and (max-width: 720px) {
            width:auto;
            margin-right:auto;
            margin-left:auto;
        }

    }

    &.alignright{

        width:calc( var(--thm_content_width, 720px ) / 2 - var(--thm_content_gap, 24px) - 1rem);
        margin-right: calc((100% - var(--thm_content_width, 720px )) / 2 + var(--thm_content_gap, 24px));

        &.size-thumbnail{
            width:150px;
            padding:0;
        }
        figure{
            width:100%;
        }
        @media screen and (max-width: 720px) {
            width:auto;
            margin-right:auto;
            margin-left:auto;
        }

    }
}
/**
 * element wrapping Square Circle
 * Play effect
 * Use this class within a group block
 * ========================================================================== */

.layout{
    .badge{
        position: relative;
        top:0;
        box-sizing: border-box;
        display:inline-block;
        width:fit-content;
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        //debug
        vertical-align:middle;
        &:before{
            position:relative;
            display: inline-block;
            width: 1px;
            height: 0;
            padding-top: calc(50% + var(--thm_content_gap, 24px));
            padding-bottom:  calc(50% + var(--thm_content_gap, 24px));
            vertical-align:middle;
            content: '';
        }
        &.has-background{
            &:before{
                position:relative ! important;
                display: inline-block;
                width: 1px ! important;
                height: 0;
                padding-top: 50%;
                padding-bottom:  calc(50% + var(--thm_content_gap, 24px));
                vertical-align:middle;
                content: '';
            }
        }
    }
}
[data-block] .badge{
    position: relative;
    top: 0;
    box-sizing: border-box;
    display:inline-block;
    width:fit-content;
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    vertical-align:middle;
    border: 1px solid rgba(127,127,127,.4);
    &:before{
        position:relative;
        display: inline-block;
        width: 1px;
        height: 0;
        padding-top: calc(50% + var(--thm_content_gap, 24px));
        padding-bottom:  calc(50% + var(--thm_content_gap, 24px));
        vertical-align:middle;
        content: '';
    }
}
.badge:not(.has-image-badge){
    &.square{
        display:inline-block;
        width:fit-content;
    }
    &.contort{
        margin-right:-20px;
        border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
        mix-blend-mode: multiply;
        &:before{
            content:'';

        }
    }
    &.awarding{
        border-radius: 50% 50% 50% 50% / 10% 10% 90% 90%;
        &:before{
            content:'';
        }
    }
    .exclusion{
        background:linear-gradient(90deg,blue 0%,blue 50%,red 50%,red 100%);
        mix-blend-mode:exclusion;
    }
}
[data-block] .wp-block-image.badge,
.badge.wp-block-image{
    padding:0 ! important;
    overflow:hidden;
    background:transparent;
    figcaption{
        position:absolute;
    }
    &:before{
        display:none;
        content:'';
    }
    &.circle{
        display:inline-table;
        width:auto;
        shape-outside: circle(50%);
        img{
            clip-path:circle();
            object-fit:cover;
        }
    }
    &.contort{
        display:inline-table;
        img{
            border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
            object-fit:cover;
        }
    }
    &.awarding{
        display:inline-table;
        img{
            border-radius: 50% 50% 50% 50% / 10% 10% 90% 90%;
            object-fit:cover;
        }
    }
}
.counter.badge{
    &:empty{
        display:none ! important;
    }
}

[data-block]{
    .emulsion-cat-count.badge{
        padding:0;
        margin:0;
        span{
            @include font_size(6,no-margin);
            padding:0;
            margin:0;
        }
    }
    .emulsion-archive-count.badge{
        padding:0;
        span{
           @include font_size(6,no-margin);
            padding:0;
        }
    }
}
.wp-block-column{
    figure.wp-block-image{
        &.has-image-badge{
            display:block;
            margin-right:auto;
            margin-left:auto;
            img{
                object-fit:cover;
            }
        }
    }
    div.wp-block-image{
        &.has-image-badge{
            display:block;
            max-width:100%;
        }
    }
    .has-only-image{
        &.has-image-badge{
            display:block;
            padding:2rem;
            margin-right:auto;
            margin-left:auto;
        }
    }
}
.entry-content .wp-block-media-text .wp-block-media-text__content div.badge p,
.entry-content .wp-block-media-text .wp-block-media-text__content div.badge:last-child p{
    padding:.5rem;
    margin:0 auto;
    white-space:pre;
}

/**
 * hover
 * ========================================================================== */

@media(hover: hover) and (pointer: fine) {
    /**
     * Category description
     */
    .sidebar-widget-area a[data-title]:hover:after{
        filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
        opacity:1;
    }
    /**
     * Grid Article
     */
    .is-light:not(.is-fse-dark){

        .wp-block-latest-posts{
            li{
                background:var(--thm_white_color, #ffffff);

            }

        }
        .wp-block-rss.is-grid{
            li:hover{
                background:var(--thm_white_color, #ffffff);

            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:hover{
                background:var(--thm_white_color, #ffffff);
            }
        }

        .emulsion-initial-color{
            .wp-block-latest-posts{
                li{
                    &:hover{
                        background:var(--thm_white_color, #ffffff);
                    }
                }
                &.is-grid{
                    li{
                        &:hover{
                            background:var(--thm_white_color, #ffffff);
                        }
                    }
                }
            }
            .wp-block-latest-comments{
                .wp-block-latest-comments__comment:hover{
                    background:var(--thm_white_color, #ffffff);
                }
            }

        }
    }
    .emulsion-add-dark-color{
        .wp-block-latest-posts{
            li{
                &:hover{
                    background:rgba(222,222,222,.1);
                }
            }
            &.is-grid{
                li{
                    &:hover{
                        background:rgba(222,222,222,.1);
                    }
                }
            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:hover{
                background:rgba(222,222,222,.1);
            }
        }
    }
    /**
     * Primary Menu
     */
    .is-dark:not(.is-fse-light){
        .wp-block-latest-posts.is-grid li{
            color:#fff;
            background:#000;
        }
        .wp-block-latest-posts{
            li{
                color:#fff;
                background:#000;
            }
        }
        .wp-block-rss.is-grid{
            li:target,
                li:hover{
                background:var(--thm_background_color);
                filter: brightness(130%);
            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:target,
                .wp-block-latest-comments__comment:hover{
                background:var(--thm_background_color);
            }
        }
        .wp-block-tag-cloud{
            &:target,
                &:hover{
                background:var(--thm_background_color);
                filter: brightness(130%);
            }
        }
    }
    .sidebar-is-dark{
        .wp-block-latest-posts.is-grid li{
            color:#fff;
            background:#000;
        }
        .wp-block-latest-posts{
            li{
                color:#fff;
                background:#000;
            }
        }
        .wp-block-rss.is-grid{
            li:target,
                li:hover{
                background:var(--thm_background_color);
                filter: brightness(130%);
            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:target,
                .wp-block-latest-comments__comment:hover{
                background:var(--thm_background_color);
            }
        }
        .wp-block-tag-cloud{
            &:target,
                &:hover{
                background:var(--thm_background_color);
                filter: brightness(130%);
            }
        }

    }
    .emulsion-add-light-color{
        .wp-block-latest-posts{
            li{
                &:target,
                    &:hover{
                    background:var(--thm_white_color, #ffffff);
                }
            }
            &.is-grid{
                li{
                    &:target,
                        &:hover{
                        background:var(--thm_white_color, #ffffff);
                    }
                }
            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:target,
                .wp-block-latest-comments__comment:hover{
                background:var(--thm_white_color, #ffffff);
            }
        }
        .wp-block-columns{
            .wp-block-column:target,
                .wp-block-column:hover{
                background:var(--thm_white_color, #ffffff);
            }
        }
    }
    .sidebar-is-light{
        .wp-block-latest-posts{
            li{
                &:target,
                    &:hover{
                    background:var(--thm_white_color, #ffffff);
                }
            }
            &.is-grid{
                li{
                    &:target,
                        &:hover{
                        background:var(--thm_white_color, #ffffff);
                    }
                }
            }
        }
        .wp-block-latest-comments{
            .wp-block-latest-comments__comment:target,
                .wp-block-latest-comments__comment:hover{
                background:var(--thm_white_color, #ffffff);
            }
        }
        .wp-block-columns{
            .wp-block-column:target,
                .wp-block-column:hover{
                background:var(--thm_white_color, #ffffff);
            }
        }
    }
    .single,
    .page{
        .header-image-active{
            &:hover{
                .header-layer-site-title-navigation{
                    background:var(--thm_header_image_dim);
                }
                .header-text{
                    .site-title-text{
                        color:var(--thm_white_color, #ffffff);
                    }
                    .site-description{
                        color:var(--thm_white_color, #ffffff);
                    }
                }
                .entry-text{
                    color:var(--thm_white_color, #ffffff);
                    .entry-title{
                        color:var(--thm_white_color, #ffffff);
                    }
                    .posted-on{
                        a{
                            color:var(--thm_white_color, #ffffff);
                        }
                    }
                    .entry-meta{
                        a{
                            color:var(--thm_white_color, #ffffff);
                        }
                    }
                }
            }
        }

    }

}
.wp-block-group.has-background{
    .wp-block-group__inner-container{
        .wp-block-latest-posts{
            li{
                background:transparent;
            }
        }
    }
}
#document{
    .entry-content{
        .wrap-metaslider{
            width:100% ! important;
        }
    }
}

/**
 * Handmade Layout helper
 * ========================================================================== */

.lastunit,
.lastUnit {
    float:none;
    width:auto;
}
.line .widget {
    padding:0;
    margin:0;
}
.line img {
    height:auto;
}
.line,
.lastunit,
.lastUnit {
    overflow:hidden;
}
.page-featured-image {
    padding:0;
}
.line {
    .size1of1,
    .size1of2,
    .size1of3,
    .size2of3,
    .size1of4,
    .size3of4,
    .size1of5,
    .size2of5,
    .size3of5,
    .size4of5 {
        display: inline-block;
        margin-right:-4px;
        margin-left:0;
    }
    .size1of2 {
        width: 50%;
    }
    .size1of3 {
        width: 33.33333%;
    }
    .size1of4 {
        width: 24.99%;
    }
    .size1of5 {
        width: 19.99%;
    }
    .size2of3 {
        width: 66.66666%;
    }
    .size2of5 {
        width: 40%;
    }
    .size3of4 {
        width: 75%;
    }
    .size3of5 {
        width: 60%;
    }
    .size4of5 {
        width: 80%;
    }
}
.unit {
    float:left
}
.unitext,
.unitExt {
    float:right
}
@media screen and ( max-width : 720px  ) {
    .full_text{
        h1,h2,h3,h4,h5,h6,
        ul,ol,
        p,
        .wp-blok,
        .alignleft,
        .alignright,
        .wp-block-group,
        figure{
            &.size1of1,
            &.size1of2,
            &.size1of3,
            &.size2of3,
            &.size1of4,
            &.size3of4,
            &.size1of5,
            &.size2of5,
            &.size3of5,
            &.size4of5 {
                display:block;
                float:none;
                width:100%;
                max-width:none;
                padding-right:var(--thm_content_gap, 24px);
                padding-left:var(--thm_content_gap, 24px);
                margin-right:auto;
                margin-left:auto;
                clear:both;
            }
        }
    }
}



.wp-block-buttons.is-style-has-shadow{
    .wp-block-button{
        .wp-block-button__link{
            filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
        }
        .wp-block-button__link:active{
            filter:none;
        }
    }
}

#cookie-law-info-bar{
    .shortcode-wrapper{
        width:auto;
        margin:auto;
    }
}
.show-relate-pages li{
    position:absolute;
    visibility:hidden;
}
.show-relate-pages li.current-menu-item *,
.show-relate-pages li.current-menu-ancestor *,
.show-relate-pages li.current-menu-item,
.show-relate-pages li.current-menu-ancestor{
    position:relative;
    display:block;
    visibility:visible;
    background:transparent;
}