/**
 * element
 * ========================================================================== */
a:-webkit-any-link,
a{
    text-decoration:none;
}
a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
article,address,aside,blockquote,canvas,dd,article div,dl,dt,fieldset,figure,
figcaption,footer,form,h1,h2,h3,h4,h5,h6,header,hr,iframe,img,li,main,nav,
noscript,ol,output,p,pre,section,ul,video{
    max-width:100%;
    box-sizing:border-box;
}
html{
    font-size:var(--thm_common_font_size);
}
.noscript{
    /**
     * when disabled javascript
     */
    .show-content{
        display:none;
    }
    .menu-item-has-children > a:after{
        content:'\1f847';
        background-repeat:no-repeat;
        display:inline-block;
        width:24px;
        height:24px;
    }
    .menu-item-has-children .menu-item-has-children > a:after{
        vertical-align:top;
        transform: rotate(270deg);
    }
    .search-drawer .search-info{
        display:none;
    }
    .template-part-header{
        .menu-item-has-children .menu-item-has-children > a:after{
            vertical-align:top;
            transform: rotate(90deg);
        }
    }

}
body{
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box;
    line-height:var( --thm_content_line_height, 1.5 );
    vertical-align:baseline;
    overflow-x:hidden;
    overflow-y:auto;
    word-break:break-word;
    overflow-wrap:break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    &.page{
        article{
            .has-post-thumbnail{
                .entry-title{
                    margin-top:0;
                }
            }
        }
    }
    & > header{
        .custom-logo-wrap{
            display:inline-block;
            vertical-align:middle;
            position:relative;
            width:-moz-fit-content;
            width:fit-content;
        }
    }

}
footer{
    address{
        margin-left:auto;
        margin-right:auto;
        margin-top:0;
        padding-top:1.5rem;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
        text-align:center;
        font-style:normal;
    }
    &.banner{
        max-width:100vw;
        padding-bottom:1.5em;
        text-align:center;
        .privacy-policy{
            padding:1rem;
            margin:.5rem;
        }
        .privacy-policy-link{

        }
    }
}
article{
    & > div{
        & > div{
            width:var(--thm_content_width);
            margin-left:auto;
            margin-right:auto;
        }
    }
    .entry-title{
        max-width:100%;
    }
}
.excerpt .entry-content{
    overflow:hidden;
}
.entry-content{
    blockquote.content-excerpt{
        display:block;
        margin-left:auto;
        margin-right:auto;
        padding-left:0;
        padding-right:0;
        border:none;
        p{
            margin-top:0;
            margin-bottom:.75rem;
            width:-moz-fit-content;
            width:fit-content;
        }
        br{
            display:var(--thm_excerpt_linebreak);
        }
    }
}
.grid{
    .entry-content{
        br{
            display:var(--thm_excerpt_linebreak);
        }
    }
}
.stream-wrapper{
    .content{
        br{
            display:var(--thm_excerpt_linebreak);
        }
    }
}

aside{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
blockquote{
    @extend %block;
    width: calc( var( --thm_content_width, 720px ) - 80px );
    margin-left:auto;
    margin-right:auto;
    &:not(.wp-block-pullquote){
        border-left-width:6px;
    }
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    p{
        margin-top:.75rem;
        padding-left:0;
        padding-right:0;
    }
    &.alignleft{
        @extend %alignleft;
    }
    &.alignright{
        @extend %alignright
    }
}

svg,
canvas{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
section{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
video{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    display:block;
    width: -moz-fit-content;
    width:fit-content;
    object-fit: cover;
}
embed{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
map{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
iframe{
    width: var( --thm_content_width, 720px );
    border:none;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}
hr{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    float: none;
    clear: both;
    display: block;
    border: none;
    width: 100px;
    margin: 3em auto;
}

/**
 * Demarcating edits
 */
ins,
del{
    position:relative;
    &:hover:before,
        &:hover:before{
        content:attr(datetime);
        position:absolute;
        top:-1.5em;
        display:block;
        width:max-content;
        padding:0 .5rem;
    }
}
/**
 * Inline text semantics
 * ========================================================================== */
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-transform: uppercase;
}
i.toc-text{
    font-style: normal;
}
kbd{
    font-size:var(--thm_meta_data_font_size);
    display:inline-block;
    margin:0 .1em;
    padding:.1em .6em;
}
mark{
    padding-left:.3rem;
    padding-right:.3rem;
}
q{
    quotes: initial;
}
strong{
    strong{
        text-decoration:underline;
    }
}
/* itaric elements */
[lang="ja"] i,
[lang="ja"] em,
[lang="ja"] var,
[lang="ja"] address,
[lang="ja"] dfn{
    font-style:normal;
    font-weight:700;
}
/**
 * Figure
 * ========================================================================== */
figure{
    position:relative;
    display:block;
    padding-left:0;
    padding-right:0;
    width:var(--thm_content_width);
    margin-left:auto;
    margin-right:auto;
    figcaption{
        font-size:var(--thm_meta_data_font_size);
        text-align:left;
        width: -moz-fit-content;
        width:fit-content;
        margin-left:auto;
        margin-right:auto;
        img{
            display:inline;
            margin-left:.5rem;
            margin-right:.5rem;
        }
    }
}
/**
 * Img
 * ========================================================================== */
img{
    max-width:100%;
    height:auto;
    vertical-align:middle;
}
/* inline iamges */
h1,h2,h3,h4,h5,h6{
    & > img{
        margin-left:8px;
        margin-right:8px;
    }
}
picture{
    display:block;
    margin-top:1.5rem;
    margin-bottom:.75rem;
    img,
    source{
        display:block;
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
        height:auto;
    }
}
/**
 * Heading
 * ========================================================================== */
/**
 * The p element in blockquote does not have the font order adjustment function like other paragraphs.
 * in gutenberg ver6.8 This function assists font-size customization.
 */
.wp-block-pullquote.h1 blockquote p,
.h1,
h1{
    @include font_size(1);
    @extend %block;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %block_wide;
    }
}
.wp-block-pullquote.h2 blockquote p,
.h2,
h2{
    @include font_size(2);
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %alignwide;
    }
}
.wp-block-pullquote.h3 blockquote p,
.h3,
h3{
    @include font_size(3);
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %alignwide;
    }
}
.wp-block-pullquote.h4 blockquote p,
.h4,
h4{
    @include font_size(4);
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %alignwide;
    }
}
.wp-block-pullquote.h5 blockquote p,
.h5,
h5{
    @include font_size(5);
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %alignwide;
    }
}
.wp-block-pullquote.h6 blockquote p,
.h6,
h6{
    @include font_size(6);
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    &.alignwide,
    &.is-style-emulsion-wide{
        @extend %alignwide;
    }
}
.wp-block-pullquote.h6 blockquote p,
.wp-block-pullquote.h5 blockquote p,
.wp-block-pullquote.h4 blockquote p,
.wp-block-pullquote.h3 blockquote p,
.wp-block-pullquote.h2 blockquote p,
.wp-block-pullquote.h1 p{
    margin-top:.75rem;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    width:-moz-fit-content;
}
.h1,.h2,.h3,.h4,h5,h6{
    font-weight:700;
    font-weight:var(--thm_heading_font_weight);
}
.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6{
    &.fit{
        margin-left:auto;
        margin-right:auto;
    }
}
// hash link( #hoo ) position ajust
h1,h2,h3,h4,h5,h6{
    &:target{
        margin-top:-1rem;
        padding-top:1rem;
    }
}
.logged-in{
    h1,h2,h3,h4,h5,h6{
        &:target{
            margin-top:-132px;
            padding-top:132px;
        }
    }
}


/**
 * Paragraph
 * ========================================================================== */
p{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
    margin-bottom:calc( var(--thm_common_font_size) * var(--thm_content_line_height) );
    & > img.alignleft{
        // classic editor image
        display:inline-block;
        margin-bottom:.75rem;
    }
    & > img.alignright{
        // classic editor image
        display:inline-block;
        margin-bottom:.75rem;
    }
}
p:empty{
    display:none;
}
p.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 4em;
    line-height: 1;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal;
    padding: .2rem .4rem 0 .3rem;
    font-family:serif;
}
[lang="ja"] p.has-drop-cap:first-letter {
    float: left;
    font-size: 3em;
    line-height: 1.15;
    font-family: serif;
    font-weight: 100;
    margin: .1em .23em 0 0;
    text-transform: uppercase;
    font-style: normal;
}

/**
 * details
 * ========================================================================== */
details{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
summary{
    font-weight:700;
    outline-color:transparent;
}
/**
 * Data List
 * ========================================================================== */
dl{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    padding-bottom:1.5rem;
}
dt{
    font-weight:700;
    margin-top:1.5em;
    margin-bottom:.75rem;
}
dd{
    max-width:calc( 100% - 40px);
}
/**
 * List
 * ========================================================================== */
ol,ul{
    @extend %block;
    padding-left:40px;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    li{
        margin-top:.375rem;
        margin-bottom:.375rem;
        ol,
        ul{
            margin-top:.375rem;
            margin-bottom:0;
        }
        &:empty{
            display:none;
        }
    }
}

/**
 * Pre Format
 * ========================================================================== */
pre {
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0 1em;
    margin: 21px auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    clear: both;
}
pre code{
    display:block;
    font-size:var(--thm_common_font_size);
    padding:var(--thm_common_font_size);
}
/**
 * Table
 * ========================================================================== */
table {
    display:table;
    box-sizing:border-box;
    width:calc(100% - 2px);
    margin:auto;
    border-collapse: collapse;
    &.stretch{
        width:calc(100% - 2px);
    }
    thead{
        display:table-header-group;
    }
    tbody{
        display:table-row-group;
    }
    tfoot{
        display:table-footer-group;
    }
    th {
        padding:.7rem;
        &.right,
        &.left,
        &.right,
        &.left{
            float:none;
        }
    }
    td {
        padding:.7rem;
        p{
            line-height:var( --thm_common_line_height, 1.15 );
            text-align:left;
            margin-top:.75rem;
        }
        p:first-child:last-child{
            margin-top:0;
        }
        p:last-child{
            margin-bottom:0;
        }
    }
    /**
     * Theme Table Classes
     */
    &.auto {
        table-layout:auto;
    }
    &.left{
        float:none;
    }
    &.left th,
    &.left td,
    & th.left,
    &.left td,
    & td.left{
        text-align:left;
    }
    &.center th,
    &.center td,
    & th.center,
    &.center td,
    & td.center{
        text-align:center;
    }
    &.right th,
    &.right td,
    & th.right,
    & td.right{
        text-align:right;
    }
    /**
     * vertical align
     */
    &.top th,
    &.top td,
    & th.top,
    &.top .top,
    &.top td,
    & td.top{
        vertical-align:top;
    }
    &.middle th,
    &.middle td,
    & th.middle,
    &.middle td,
    & td.middle{
        vertical-align:middle;
    }
    &.bottom th,
    &.bottom td,
    & th.bottom,
    &.bottom td,
    & td.bottom{
        vertical-align:bottom;
    }
}
.wp-block-table{

    /**
     * Required to support TinyMCE and custom HTML other than the block editor
     */
    margin-top:1.5rem;
    margin-bottom:.75rem;
    position:relative;
    overflow:auto;
    clear:none;
    display:table;
    display:block;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column-reverse;
    max-width:100%;
    padding-bottom:1px;
    // overflow:hidden;
    width:calc(var(--thm_content_width) - var(--thm_content_gap) * 2);
}
.wp-block-table > table{
    margin-top:0;
    margin-bottom:0;
}
.gist-syntax table{
    table-layout:auto;
}
.gist{
    .emulsion-table-wrapper{
        margin-top:0!important;
        margin-bottom:0!important;
        padding-left:0!important;
        padding-right:0!important;
    }
}
/**
 * Forms
 * ========================================================================== */
button, [type="button"], [type="reset"], [type="submit"] {
    &:hover{
        cursor:pointer;
    }
}
button{
    clear: both;
    float: none;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 140px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.685rem;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    margin-left: var(--thm_content_gap, 24px);
    margin-right: var(--thm_content_gap, 24px);
}
fieldset{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    min-width: auto;    /* for chrome overflow */
}
form{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
input{
    margin-left:auto;
    margin-right:auto;
    line-height:var( --thm_content_line_height, 1.5 );
    margin:.75em auto .75em;
    max-width:calc( 100% - 4px);
    padding:.625rem;
    box-sizing:border-box;
}
.wp-block-search{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    padding:0;
    max-width:100%;
    height:48px;
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
    input{
        flex:1 1 auto;
        min-width:0;
        height:48px;
        margin:0;
        line-height:var( --thm_content_line_height, 1.5 );
        margin:.75em 0 .75em;
        max-width:calc( 100% - 4px);
        padding:.625rem;
        box-sizing:border-box;
    }
    .wp-block-search__button{
        flex:0 0 48px;
        width:48px;
        height:48px;
        margin:0;
        overflow:hidden;
        padding:0;
        color:rgba(0,0,0,0);
        &:hover{
            cursor:pointer;
        }
        &:before{
            content:' ';
            position:absolute;
            background-size:16px 16px;
            background-position:16px 0;
            background-repeat:no-repeat;
            display:block;
            width:48px;
            height:48px;
        }
    }
    .wp-block-search__label{
        width:1px;
        z-index:-1;
    }
}
body{
    .layout-block{
        .wp-block-search{
            &.alignleft,
            &.alignright{
                display:flex;
            }
        }
    }
}
label{
    padding-left:.5rem;
    padding-right:.5rem;
}
legend{
    padding:.74rem;
}
progress{
    display:block;
    width:10em;
    margin-right:auto;
    margin-left:auto;
}
form select,
.widget_categories form select,
[name="archive-dropdown"]{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    padding-top:.625rem;
    padding-bottom:.625rem;
    padding-left:0.625rem;
    padding-right:0.625rem;
    max-width:100%;
    box-sizing:border-box;
}
form > p{
    padding-left:0;
    padding-right:0;
}
option{
    padding-left:.625rem;
    padding-right:.625rem;
}
textarea{
    vertical-align:top;
    max-width:calc( 100% - 4px);
    padding:.625rem;
    box-sizing:border-box;
    width: calc(var(--thm_common_font_size) * 40 );
}
/**
 * Form type attribute
 * ========================================================================== */
[type="email"],
[type="text"]{
    width: calc(var(--thm_common_font_size) * 40 );
}
[type="checkbox"]{
    margin-right:.3em;
    margin-left:.3em;
    vertical-align:middle;
}
[type="radio"]{
    margin-right:.3em;
    margin-left:.3em;
    vertical-align:middle;
}
/**
 * Classes
 * ========================================================================== */
.alignfull{
    //ex wp-block-coblocks-shape-divider
    width:100%;
}
.posted-on{
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.clearfix{
    @include clearfix;
}
.not-found-title,
.search-query,
.search-title,
.archive-title{
    text-align:center;
}
.not-found{
    @extend %block;
}
body .fit{
    @extend %block;
    margin-left:auto;
    margin-right:auto;
}
.trancate{
    max-width:100%;
    overflow:hidden; //@since 1.1.2
}
.on-trancate{
    display:block;
    //overflow:hidden; @since 1.1.2
}

.horizontal-list-group{
    @include clearfix;
    @extend %block;
    font-size:var(--thm_meta_data_font_size);
    margin-top:1.5rem;
    margin-bottom:.75rem;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    li{
        z-index:2;
        list-style-type:none;
        display:inline-block;
        text-align:center;
        list-style:none;
        padding:2px 4px;
        width: -moz-fit-content;
        width:fit-content;
        text-indent:0;
        margin:3px;
        &:nth-child(n + 8) {
            flex:1 1 auto;
        }
        &:before{
            content:none;
            display:none ! important;
        }
    }
}
.list-style-inline{

}

/**
 * wp_nav_menu
 * ========================================================================== */
.menu{
    .nav-menu-child-opener-label{
        padding:.3em;
        outline-color:transparent;
    }
    .nav-menu-child-opener-label:hover{
        cursor:pointer;
    }
    .nav-menu-child-opener[type="checkbox"]{
        margin-top:0;
        margin-bottom:0;
        visibility:hidden;
    }
    .nav-menu-child-opener-label:before{
        margin:-3px 10px 0 0;
        content:" ";
        display:inline-block;
        width:13px;
        height:13px;
        background-size:contain;
        vertical-align:middle;
        background-repeat:no-repeat;
        transition: all 1s ease-in-out;
    }
    .nav-menu-child-opener[type="checkbox"]:checked ~ label:before{
        margin:-3px 10px 0 0;
        content:" ";
        display:inline-block;
        width:13px;
        height:13px;
        background-size:contain;
        vertical-align:middle;
        background-repeat:no-repeat;
        transition: all 1s ease-in-out;
    }
}
/**
 * Centerling child elements
 * ========================================================================== */
.vertically,
.centered{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing:border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction:column;
    flex-direction:column;
    height:100%;
    box-sizing:border-box;
}
.horizontally{
    text-align:center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing:border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction:row;
    flex-direction:row;
    flex-wrap:wrap;
    box-sizing:border-box;
}
/* height classes */
.vh25{
    min-height:25vh;
}
.vh50{
    min-height:50vh;
}
.vh75{
    min-height:75vh;
}
.vh100{
    min-height:100vh;
}
/**
 * stream layout button
 * ========================================================================== */
.show-content{
    position:absolute;
    right:12px;
    top:12px;
    &:hover{
        cursor:pointer;
    }
}
.show-content:before{
    content:'';
   //@since 1.2.9 move to style.css  background:url(#{$theme_image_dir}svg/enlarge.svg);
    background-size:cover;
    position:absolute;
    right:0;
    top:0;
    width:24px;
    height:24px;
    z-index:2;
}
.is-dark .show-content:before,
.post-thumb-col:not(:empty) + .content-col .show-content:before{
    //@since 1.2.9 move to style.css background:url(#{$theme_image_dir}svg/enlarge.svg#white);
    background-size:contain;
}
.post-thumb-col + .content-col .show-content.is-active:before{
    content:'';
    //@since 1.2.9 move to style.css background:url(#{$theme_image_dir}svg/shrink.svg#alert);
    background-size:contain;
}
/**
 * Search drawer
 * ========================================================================== */
.drawer-wrapper .icon{
    width: 24px;
    height: 24px;
    margin:3px;
}
.drawer-wrapper .icon:hover{
    cursor:pointer;
}
.theme-message{
    margin-top:1.5rem;
    margin-bottom:.75rem;
}
/**
 * Grid
 * ========================================================================== */
.grid{
    .theme-message.aligncenter{
        max-width:100%;
        border:none;
    }
    article{
        header{
            &.has-post-image{
                /**
                 * grid header background position  must be center
                 */
                background-position:49.5% 50% ! important;
            }
        }
    }
}
/**
 * Relate posts
 * ========================================================================== */
.relate-content-wrapper{
    padding-top:.1rem;
    padding-bottom:.75rem;
    .relate-posts-title{
        margin-left:auto;
        margin-right:auto;
        padding-left:var(--thm_content_gap, 24px);
        padding-right:var(--thm_content_gap, 24px);
    }
    .relate-posts{
        margin-left:auto;
        margin-right:auto;
        padding-left:var(--thm_content_gap, 24px);
        padding-right:var(--thm_content_gap, 24px);
        li{
            list-style:none;
            height:48px;
            vertical-align:middle;
            margin-bottom:6px;
            img{
                vertical-align:middle;
                width:auto;
                max-width:48px;
                height:48px;
                margin-left:0;
                margin-right:0;
                padding-left:0;
                padding-right:0;
            }
            .relate-post-no-icon + a,
            img + a{
                vertical-align:middle;
                display:inline-block;
                margin-left:1rem;
                height:100%;
                max-width:calc( 100% - 48px - 2rem );
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height:48px;
                font-weight:700;
            }
            .relate-post-no-icon{
                vertical-align:middle;
                display:inline-block;
                width:48px;
                height:48px;
                line-height:48px;
                text-align:center;
            }
        }
    }
    &:empty{
        display:none;
    }
}
.clip{
    @include clip;
}
[class|="placeholder"]{
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
.read-more{
    float:none;
    clear:both;
    padding-left:0;
    padding-right:0;
}
.post-excerpt-html{
    text-align:left;
    width: -moz-fit-content;
    width:fit-content;
}
/**
 * theme .alignwide .alignfull
 * for custom html
 */
.enable-alignfull{
    .emulsion-wide{
        @extend %alignwide;
        clear:both;
        float:none;
    }
    &.emulsion-has-sidebar{
        .emulsion-full{
            @extend %has-sidebar-alignfull;
            clear:both;
            float:none;
        }
    }
    &.emulsion-no-sidebar{
        .emulsion-full{
            @extend %no-sidebar-alignfull;
            clear:both;
            float:none;
        }
    }
}
/**
 * margin class
 * ========================================================================== */
#document{

    .box-gap{
        margin-top:var(--thm_box_gap);
        margin-bottom:var(--thm_box_gap);
    }
    .box-gap-0{
        margin-top:0;
        margin-bottom:0;
    }

}
/**
 * SVG
 * ========================================================================== */
#emulsion_theme_svgs{
    display:none ! important;
}