body{
    font-feature-settings: 'palt';
    font-kerning: auto;
}
.is-presentation-theme{
    // FSE font setting use theme.json
    // If you used plugin, set CSS with PHP filter in more detail
    .entry-title a,
    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6{
        font-family:var(--thm_heading_font_family);
        font-weight:var(--thm_heading_font_weight);
        text-transform:var(--thm_heading_font_transform);
        a{
            text-transform:var(--thm_heading_font_transform);
        }
    }

    h1,.h1{
        font-size:var(--thm_h1_font_size);
        line-height:var(--thm_common_line_height);
    }
    h2,.h2{
        font-size:var(--thm_h2_font_size);
        line-height:var(--thm_common_line_height);
    }
    h3,.h3{
        font-size:var(--thm_h3_font_size);
        line-height:var(--thm_common_line_height);
    }
    h4,.h4{
        font-size:var(--thm_h4_font_size);
        line-height:var(--thm_common_line_height);
    }
    h5,.h5{
        font-size:var(--thm_h5_font_size);
        line-height:var(--thm_common_line_height);
    }
    h6,.h6{
        font-size:var(--thm_h6_font_size);
        line-height:var(--thm_common_line_height);
    }
}

div[data-block],
.entry-content{

    .use-font-heading{
        font-family:var(--thm_heading_font_family);
        font-weight:var(--thm_heading_font_weight);
        line-height:var( --thm_common_line_height, 1.15 );
        text-transform:var(--thm_heading_font_transform);
    }
    .use-font-common{
        font-family:var(--thm_common_font_family);
        font-size:var(--thm_common_font_size, 16px);
        line-height:var(--thm_content_line_height, 1.5);
    }
    .use-font-meta{
        font-family:var(--thm_meta_data_font_family);
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}

/**
 * Monospaced font
 */

.wp-block-code{
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:none;
}
.wp-block-code,
pre[class],
pre code,
.form-allowed-tags code,
code, kbd, samp,
tt{
    font-family:'Osaka', 'Consolas', 'Courier New', 'Courier', 'MS Gothic', monospace;
}
kbd, samp,tt {
    line-height:100%;
}

/**
 * Absolute Font Sizes
 * Override the relative font size and change it to absolute font size.
 *
 *If you change the base font size, overwrite it to suppress the font of the sidebar and menu from becoming large.
 */

[lang="ja"]{
    blockquote{
        cite{
            font-size:var(--thm_meta_data_font_size, 13px);
            font-style:normal;
            text-transform:var(--thm_meta_data_font_transform);
        }
    }
    @font-face {
        font-family:italicJa, sans-serif;
        src: local('Meiryo');
    }
    pre.wp-block-verse em{
        font-family:italicJa, sans-serif;
        font-style:italic;
        font-weight:normal;
    }
    pre.wp-block-verse.use-font-common{
        font-family:var(--thm_common_font_family);
    }
}

.form-allowed-tags code,
code{
    line-height: var(--thm_content_line_height, 1.5 );
}
pre.wp-block-preformatted{
    font-family: var(--thm_common_font_family);
    font-size:var(--thm_common_font_size, 16px);
    line-height:var(--thm_common_line_height);
}
pre.wp-block-verse{
    margin-top:calc( var(--thm_common_font_size, 16px) * var(--thm_content_line_height, 1.5) );
    margin-bottom:calc( var(--thm_common_font_size, 16px) * var(--thm_content_line_height, 1.5) / 2 );
    font-family: var(--thm_common_font_family);
    font-size:var(--thm_h3_font_size);
    font-style:italic;
    line-height:2;
}
//body{
body .has-large-font-size,
body .has-extra-large-font-size{
    line-height:var(--thm_common_line_height);
}
body .tag-cloud-style-flat a{
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:var(--thm_meta_data_font_transform);
}
body .primary-menu-wrapper a{
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:var(--thm_meta_data_font_transform);
}
body .relate-posts{
    .relate-post-no-icon{
        font-family:fantasy,serif;
        font-size:24px;
    }
}
body .wp-embed
body .menu-placeholder{
    font-size:var(--thm_common_font_size, 16px);
}
body > header{
    &.header-layer{
        .site-title{
            font-family:var(--thm_heading_font_family);
            font-size:24px;
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
        }
        .site-description{
            font-family:var(--thm_common_font_family);
            font-size:var(--thm_common_font_size, 16px);
            line-height:var(--thm_content_line_height, 1.5);
        }
        .taxonomy-description{
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
    }
}
body .taxsonomy,
body .wp-block-post-date,
body .taxonomy-description{
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:var(--thm_meta_data_font_transform);
}
body .trancate{
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:var(--thm_meta_data_font_transform);
}


body article{
    .skin-button{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
    &.post-password-required{
        .message{
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
    }
    figcaption{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
body .wp-block-search{
    .wp-block-search__label,
    .wp-block-search__button{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }

}
//}
.footer-widget-area{
    &.template-part-widget-footer{
        .footer-widget-area-lists{
            li{
                #wp-calendar caption,
                .widgettitle{
                    font-size:20px
                }
                font-size:var(--thm_meta_data_font_size, 13px);
                line-height:calc( var(--thm_common_font_size, 16px) * var( --thm_content_line_height, 1.5 ) );
                text-transform:var(--thm_meta_data_font_transform);
            }
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
        .emulsion-archive-count,
        .emulsion-cat-count,
        a{
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
        .calendar_wrap{
            #wp-calendar{
                th,
                td{
                    font-size:var(--thm_meta_data_font_size, 13px);
                    text-transform:var(--thm_meta_data_font_transform);
                }
            }
        }
        [name="cat"],
        [name="archive-dropdown"]{
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
        &.widget_rss{
            .rss-date,
            cite{
                font-size:var(--thm_meta_data_font_size, 13px);
                text-transform:var(--thm_meta_data_font_transform);
            }
        }
        &.widget_recent_comments{
            .recentcomments{
                font-size:var(--thm_meta_data_font_size, 13px);
                text-transform:var(--thm_meta_data_font_transform);
            }
        }
    }
}
.relate-content-wrapper{
    font-family:var(--thm_common_font_family);
    font-size:var(--thm_common_font_size, 16px);
    line-height:var( --thm_content_line_height );
    line-height:var(--thm_content_line_height, 1.5);
    .relate-posts-title{
        font-size:calc(var(--thm_meta_data_font_size, 13px) * 1.4);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
article{
    footer{
        font-size:var(--thm_common_font_size, 16px);
    }
}
.post-navigation{
    a{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
footer.banner{
    font-size:var(--thm_meta_data_font_size, 13px);
    .privacy-policy-link{
        font-size:var(--thm_meta_data_font_size, 13px);
    }
    a{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
.entry-meta{
    a{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
.posted-on{
    a{
        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);
    }
}
.footer-widget-area{
    .footer-widget-area-lists{
        a{
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
        }
    }
}
.is-loop{
    &.layout-grid{
        .entry-title{
            font-size:22px;
        }
    }
    &.layout-stream{
        .entry-title{
            font-size:22px;
        }
    }
}
.relate-posts-title{
    font-size:22px;
}
#document .wp-block-columns{
    /**
     * Page Layout
     */
    .wp-block-column{

        &.sidebar{
            margin-top:0;
            font-size:var(--thm_h5_font_size);
            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);
            .wp-block-latest-comments__comment-meta{
                font-size:var(--thm_meta_data_font_size, 13px);
                text-transform:var(--thm_meta_data_font_transform);
            }
        }
        &.is-style-main,
        &.main{
            font-size:var(--thm_common_font_size, 16px);
            line-height:var(--thm_content_line_height, 1.5);
            .entry-title a,
            h1,h2,h3,h4,h5,h6,
            .h1,.h2,.h3,.h4,.h5,.h6{
                font-weight:var(--thm_heading_font_weight);
                text-transform:var(--thm_heading_font_transform);
                a{
                    text-transform:var(--thm_heading_font_transform);
                }
            }
        }
    }
}

/**
 * font weight class
 */
$step: 100;
@while $step < 1000 {
    .layout-list.font-heading-sans-serif .fw-#{$step},
    .layout-list.font-heading-serif .fw-#{$step},
    .layout-list.font-common-sans-serif .fw-#{$step},
    .layout-list.font-common-serif .fw-#{$step}{
        font-weight:#{$step};
    }
    $step: $step + 100;
}

/**
 * Editor font sizes
 *
 * has-regular-font-size
 * has-large-font-size
 */

@each $font_size in $editor_font_sizes {
    $slug: nth($font_size, 1);
    $size: nth($font_size, 2);
    .wp-block.is-style-has-#{$slug}-font-size,
    .layout .has-#{$slug}-font-size {
        font-size:#{$size}px;
    }
    p.has-#{$slug}-font-size{
        margin:calc( #{$size}px * var(--thm_content_line_height, 1.5) ) auto;
    }
}

/**
 * wp-block
 */
.wp-block-columns{
    .wp-block-column:not(.main):not(.is-style-main){
        margin-top:0;
        margin-bottom:0;
        font-size:var(--thm_meta_data_font_size, 13px);
        h1,h2,h3,h4,h5,h6,p,ul,ol,table,.wp-block-table{
            margin-top:20px;
            margin-bottom:20px;
        }
        p.dropdown-on-click-title,
        p.dropdown-on-hover-title,
        h4.emulsion-panel-title{
            margin-top:0;
            margin-bottom:0;
        }
        .h1,
        h1{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 2);
        }
        .h2,
        h2{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1.4);
        }
        .h3,
        h3{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1.17);
        }
        .h4,
        h4{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1);
        }
    }
}
.entry-content{
    .wp-block-latest-posts{
        .h1,
        h1{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 2);
        }
        .h2,
        h2{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1.4);
        }
        .h3,
        h3{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1.17);
        }
        .h4,
        h4{
            font-size:calc(var(--thm_meta_data_font_size, 13px) * 1);
        }
    }
}
/**
 * Editor Style
 *
 */
.is-root-container{
    @if $language == ja {
        .edit-post-visual-editor__post-title-wrapper{
            .editor-post-title{
                max-width:100%;
                font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, "Noto Sans JP", Verdana, Meiryo, sans-serif;
                border-bottom:1px solid rgba(188,188,188,.5);
                @extend %block_main_wide;
                .editor-post-title__input{
                    margin:0 auto;
                    font-family:var(--thm_heading_font_family);
                    font-size:var(--thm_h2_font_size);
                    font-weight:var(--thm_heading_font_weight);
                    line-height:var( --thm_common_line_height, 1.15 );
                    text-transform:var(--thm_heading_font_transform);
                }
            }
        }
        .editor-block-list__block{
            font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, "Noto Sans JP", Verdana, Meiryo, sans-serif;
            font-family:var(--thm_common_font_family);
            font-size:var(--thm_common_font_size, 16px);
            line-height:var(--thm_content_line_height, 1.5);
        }
        .edit-post-visual-editor{
            font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, "Noto Sans JP", Verdana, Meiryo, sans-serif;
            p{
                font-family: "-apple-system", "Helvetica Neue", "Yu Gothic", YuGothic, "Noto Sans JP", Verdana, Meiryo, sans-serif;
                font-family:var(--thm_common_font_family);
                font-size:var(--thm_common_font_size, 16px);
                line-height:var(--thm_content_line_height, 1.5);
            }
        }
    } @else {
        .edit-post-visual-editor__post-title-wrapper{
            .editor-post-title{
                max-width:100%;
                border-bottom:1px solid rgba(188,188,188,.5);
                @extend %block_main_wide;
                //  font-family: 'Roboto', sans-serif;
                .editor-post-title__input{
                    margin:0 auto;
                    font-family:var(--thm_heading_font_family);
                    font-size:var(--thm_h2_font_size);
                    font-weight:var(--thm_heading_font_weight);
                    line-height:var( --thm_common_line_height, 1.15 );
                    text-transform:var(--thm_heading_font_transform);
                }
            }
        }
        .editor-block-list__block{
            font-family: 'Roboto', sans-serif;
            font-family:var(--thm_common_font_family);
            font-size:var(--thm_common_font_size, 16px);
            line-height:var(--thm_content_line_height, 1.5);
        }
        .edit-post-visual-editor{
            font-family: 'Roboto', sans-serif;
            font-family:var(--thm_common_font_family);
            font-size:var(--thm_common_font_size, 16px);
            line-height:var(--thm_content_line_height, 1.5);
            p{
                font-family: 'Roboto', sans-serif;
                font-family:var(--thm_common_font_family);
                font-size:var(--thm_common_font_size, 16px);
                line-height:var(--thm_content_line_height, 1.5);
            }
        }
    }

    p{
        font-family: var(--thm_common_font_family);
        font-size:var(--thm_common_font_size, 16px);
        &.h1{
            font-family:var(--thm_heading_font_family);
            font-size:var(--thm_h1_font_size);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %block_wide;
            }
        }
        &.h2{
            font-family:var(--thm_heading_font_family);
            font-size:var(--thm_h2_font_size);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %alignwide;
            }
        }
        &.h3{
            font-family:var(--thm_heading_font_family);
            font-size:var(--thm_h3_font_size);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %alignwide;
            }
        }
        &.h4{
            font-family:var(--thm_heading_font_family);
            font-family: var(--thm_heading_font_family);
            font-size:var(--thm_h4_font_size);
            font-weight:var(--thm_heading_font_weight);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);

            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %alignwide;
            }
        }
        &.h5{
            font-family:var(--thm_heading_font_family);
            font-size:var(--thm_h5_font_size);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %alignwide;
            }
        }
        &.h6{
            font-family:var(--thm_heading_font_family);
            font-size:var(--thm_h6_font_size);
            font-weight:var(--thm_heading_font_weight);
            line-height:var( --thm_common_line_height, 1.15 );
            text-transform:var(--thm_heading_font_transform);
            &.alignwide,
            &.is-style-emulsion-wide{
                @extend %alignwide;
            }
        }
    }
}