@for $i from 1 through 10 {
    .gallery-columns-#{$i} .gallery-item:nth-child(#{ $i + 1}){
        clear:both;
    }
}
/**
 * Shortcode gallery, widget gallery
 * ========================================================================== */
@each $size in $image_sizes {
    $key : nth( $size, 1);
    $val : nth( $size, 2);
    @for $i from 2 through 10 {
        div.gallery-columns-#{$i}.gallery-size-#{$key}{
            width: calc( #{$val}px * #{$i} + var( --thm_box_gap, 3px ) * #{$i * 2} + var(--thm_common_border_width, 1px) * #{$i * 2} );
            max-width:calc(100% - var(--thm_content_gap, 24px) * 2);
        }
    }
}
.footer-widget-area,
.sidebar-widget-area,
.shortcode-wrapper{
    div.gallery{
        @extend %block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        float:none;
        padding-right:0;
        padding-left:0;
        clear: both;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        &.gallery-size-thumbnail{
            .gallery-item{
                align-items: stretch;
                justify-content: start;
            }
        }
        figure{
            width:-moz-fit-content;
            width:fit-content;
        }
        .gallery-item {
            position: relative;
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            //  justify-content: center;
            align-items: center;
            text-align: center;
            vertical-align: middle;
            .gallery-icon{
                a{
                    margin-top:0;
                    margin-bottom:0;
                }
                img{
                    object-fit:contain;
                }
            }
        }
        .gallery-caption {
          @include font_size(5);
            margin-top:0;
            margin-bottom:0;
        }
        br {
            clear: both;
        }
        img{
            max-width:100%;
        }
        /**
         * small gallery item figcaption
         * gallery-item hover show
         */
        &.gallery-columns-0 .gallery-item{
            width:auto;
            width: -moz-fit-content;
            width:fit-content;
        }
        &.gallery-columns-9 .gallery-item,
        &.gallery-columns-8 .gallery-item,
        &.gallery-columns-7 .gallery-item,
        &.gallery-columns-6 .gallery-item,
        &.gallery-columns-5 .gallery-item {
            margin-top:var(--thm_box_gap, 3px);
            margin-bottom:var(--thm_box_gap, 3px);
        }
        &.gallery-columns-9 .gallery-item figcaption,
        &.gallery-columns-8 .gallery-item figcaption,
        &.gallery-columns-7 .gallery-item figcaption,
        &.gallery-columns-6 .gallery-item figcaption,
        &.gallery-columns-5 .gallery-item figcaption{
            position:absolute;
            visibility:hidden;
        }
        &.gallery-columns-9 .gallery-item:hover figcaption,
            &.gallery-columns-8 .gallery-item:hover figcaption,
            &.gallery-columns-7 .gallery-item:hover figcaption,
            &.gallery-columns-6 .gallery-item:hover figcaption,
            &.gallery-columns-5 .gallery-item:hover figcaption{
            z-index:200;
            width:290px;
            max-width:290px;
            visibility:visible;
            background:var(--thm_white_color, #ffffff);
        }
    }
}

body .sidebar-widget-area,
body .footer-widget-area{
    div.gallery[id]{
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
        &.gallery-size-thumbnail{
            figcaption{
                position:absolute;
                clip:rect(1px,1px,1px,1px);
                clip-path:polygon(0px 0px,0px 0px,0px 0px,0px 0px);
            }
        }
    }
}

div.gallery-columns-1.gallery-size-thumbnail{
    box-sizing:border-box;
    width:calc(150px + var(--thm_content_gap, 24px) * 2 );
}
.gallery-columns-1 .gallery-item{
    width:100%;
}
/**
 * Block gallery WordPress 5.0 - 5.2
 */
@for $i from 2 through 10 {
    .gallery-columns-#{$i} .gallery-item{
        width: calc( 100% / #{$i} - var( --thm_box_gap, 3px ) * 2);
        padding:0;
        margin: var( --thm_box_gap, 3px );
    }
}
/* Gutenberg Gallery */

.wp-block-gallery li.blocks-gallery-item{
    flex-grow:1;
    margin:var( --thm_box_gap, 3px );
    -ms-flex-positive: 0;
}
.layout .wp-block-gallery.aligncenter,
.layout .wp-block-gallery.alignleft,
.layout .wp-block-gallery.alignright,
.layout .wp-block-gallery{
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
    margin-top:1.5rem;
    margin-bottom:.75rem;
    list-style-type: none;
    .blocks-gallery-item {
        flex-grow:1;
        margin:var( --thm_box_gap, 3px );
        -ms-flex-positive: 0;
    }
    .blocks-gallery-item figure{
        flex-direction:row;
        align-items: center;
        justify-content: center;
        max-width:100%;
        margin:0;
        overflow:hidden;
    }
    .is-cropped{
        .blocks-gallery-image img, //old gallery
        .blocks-gallery-image a,   //old gallery
        .blocks-gallery-item a,
        .blocks-gallery-item img {
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            height:100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        figure{
            height:100%;
        }
    }
    .blocks-gallery-image img,
    .blocks-gallery-item img{
        display:block;
        max-width:100%;
        margin:0;
    }
    .blocks-gallery-item figcaption{
        visibility:hidden;
    }
    .blocks-gallery-item figure{
        img{
            filter: brightness(100%);
            transition: all 0.5s ease;
        }
    }
    .blocks-gallery-item figure:focus figcaption{
        margin:4px;
        overflow:hidden;
        visibility:visible;
        outline:0;
        opacity:.7;
        -webkit-transition:visibility .7s,opacity .7s;
        transition:visibility 1s, opacity 1s;
    }
    .blocks-gallery-item figure:hover{
        img{
            filter: var(--thm_gallery_hover_filter);
        }
        figcaption{
            position: absolute;
            top: 50%;
            bottom:auto;
            left: 50%;
            display: block;
            width: 100%;
            height:auto;
            max-height: 100%;
            padding: 1rem;
            overflow: auto;
            font-family:var(--thm_meta_data_font_family);
            font-size: var( --thm_meta_data_font_size );
            color: var(--thm_white_color, #ffffff);
            text-align: center;
            visibility:visible;
            background:transparent;
            filter: none;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
/**
 * Block gallery WordPress 5.3 -
 */
@for $i from 2 through 10 {
    figure.wp-block-gallery.columns-#{$i} .blocks-gallery-item{
        width: calc( 99.9% / #{$i} - var( --thm_box_gap, 3px ) * 2);// 99.9% for edge lauout broken when figcaption scroll
        padding:0;
        margin: var( --thm_box_gap, 3px );
    }
}
ul.blocks-gallery-grid{
    left:0;
    width:100%;
}

figure.wp-block-gallery li.blocks-gallery-item{
    flex-grow:1;
    margin:var( --thm_box_gap, 3px );
    -ms-flex-positive: 0;
}
figure.wp-block-gallery.alignfull{
    width:100%;
}
.layout figure.wp-block-gallery.aligncenter,
.layout figure.wp-block-gallery.alignleft,
.layout figure.wp-block-gallery.alignright,
.layout figure.wp-block-gallery{
    display: -ms-flexbox;
    display: flex;

    flex-wrap: wrap;
    margin-top:1.5rem;
    margin-bottom:.75rem;
    list-style-type: none;
    .blocks-gallery-item {
        flex-grow:1;
        margin:var( --thm_box_gap, 3px );
        -ms-flex-positive: 0;
    }
    .blocks-gallery-item figure{
        flex-direction:row;
        align-items: center;
        justify-content: center;
        max-width:100%;
        margin:0;
        overflow:hidden;
    }
    .is-cropped{
        .blocks-gallery-image img, //old gallery
        .blocks-gallery-image a,   //old gallery
        .blocks-gallery-item a,
        .blocks-gallery-item img {
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            height:100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        figure{
            height:100%;
        }
    }
    .blocks-gallery-image img,
    .blocks-gallery-item img{
        display:block;
        max-width:100%;
        margin:0;
    }
    .blocks-gallery-item figcaption{
        visibility:hidden;
    }
    .blocks-gallery-item:focus .blocks-gallery-item__caption{
        visibility:visible
    }
    .blocks-gallery-item figure{
        img{
            filter: brightness(100%);
            transition: all 0.5s ease;
        }
    }
    .blocks-gallery-item figure:focus figcaption{
        margin:4px;
        overflow:hidden;
        visibility:visible;
        outline:0;
        opacity:.7;
        -webkit-transition:visibility .7s,opacity .7s;
        transition:visibility 1s, opacity 1s;
    }
    .blocks-gallery-item figure:hover{
        .has-image{
            img{
                filter: var(--thm_image_hover_filter);
            }
        }
        figcaption{
            position: absolute;
            top: 50%;
            bottom:auto;
            left: 50%;
            display: block;
            width: 100%;
            height:auto;
            max-height: 100%;
            padding: 1rem;
            overflow: auto;
            font-family:var(--thm_meta_data_font_family);
            font-size: var( --thm_meta_data_font_size );
            color: var(--thm_white_color, #ffffff);
            text-align: center;
            visibility:visible;
            background:transparent;
            filter: none;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
figure.wp-block-gallery.has-nested-images.columns-default .wp-block-image {
    flex: 1 1 calc(100% / 3 - var( --thm_box_gap, 3px ) * 2);
    padding: 0;
    margin: var(--thm_box_gap, 3px);
}

