.wp-block-media-text.archive{
    &.paged{
        .page-title-block{
            .taxonomy-description{
                display:none;
            }
        }
    }
    main{
        .page-title-block{
            overflow:hidden;
            .archive-title{
                @extend %block_main_wide;
                margin-left:auto;
                margin-right:auto;
            }
            .emulsion-monthly-archive-prev-next-navigation{
                @extend %block;
                margin-left:auto;
                margin-right:auto;
            }
            .taxonomy-description{
                @extend %block;
                margin-left:auto;
                margin-right:auto;
                max-width:calc(100% - var(--thm_content_gap) * 2);
            }
        }
    }
}
.layout-stream,
.layout-grid{
    main{
        padding-left:var( --thm_content_gap);
        padding-right:var( --thm_content_gap);

        .theme-message{
            max-width:100%;
            border:none;
        }
    }
}
/**
 * Grid Layout
 * for customizer
 * ========================================================================== */
.grid{
    @extend %block_main_wide;
    @extend %grid;
    margin-left:auto;
    margin-right:auto;
    margin-top:var(--thm_content_gap);
    .article-wrapper{
        article{
            header{
                .entry-meta{
                    margin-top:0;
                    ul{
                        li{
                            a{
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                }
            }
            .entry-content{
                width: -moz-fit-content;
                width:fit-content;
            }
        }
        &:nth-child(2),
            &:nth-child(1){
            flex-basis:40%;
        }
    }
}
.archive-year-links{
    div{
        flex-basis:10%;
        min-width:5rem;
        text-align:center;
    }
}
/**
 * Stream Layout
 * for customizer
 * ========================================================================== */
.stream{
    @extend %block_main_wide;
    @extend %grid;
    overflow:visible;
    margin-left:auto;
    margin-right:auto;
    margin-top:var(--thm_content_gap);
    .article-wrapper{
        .format-gallery{
            .has-post-image:before{
                background-color: var(--thm_header_image_dim);
                content: ' ';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                z-index: 0;
                top:0;
                left:0;
            }
            border: 1px solid rgba(188, 188, 188, .3);
        }
        article{
            .stream-wrapper{
                overflow:visible;
                position:relative;
                display:flex;
                align-items:stretch;
                height:100%;
                width:100%;
                .post-thumb-col{
                    flex:0 0 150px;
                    justify-content:flex-start;
                    align-self:stretch;
                    img{
                        position:relative;
                        object-fit:cover;
                        height:100%;
                        width:100%;
                    }
                    &:empty{
                        display:none;
                    }
                    &:empty + .content-col{
                        flex:1 1 auto;
                        width:100%;
                        max-width:100%;
                    }
                    order:2;
                }
                .content-col{
                    flex:1 1 calc(100% - 150px);
                    width:calc(100% - 150px);
                    align-self:stretch;
                    order:1;
                    max-width:calc(100% - 150px);//firefox
                    .entry-title{
                        margin-top:.75rem;
                        padding-right:2rem;
                    }
                    .posted-on{
                        margin-top:.75rem;
                        margin-bottom:0;
                        display:none;
                    }
                    .entry-content{
                        p{
                            margin-top:.75rem;
                        }
                    }
                    .archive-preview{
                        max-width:100%;
                        overflow:hidden;
                        /**
                         * A different style is required because javascript is not working.
                         */
                        p{
                            width:var(--thm_content_width);
                            clear:both;
                        }
                        .alignwide,
                        .alignfull{
                            &.wp-block-cover{
                                &.has-background-dim{
                                    position:relative;
                                }
                            }
                        }
                        .alignleft{
                            @extend %alignleft;
                        }
                        .alignright{
                            @extend %alignright;
                        }
                        .emulsion-full,
                        .alignfull{
                            position:relative;
                            left:0;
                            width:calc( var(--thm_main_width) - 24px);
                            max-width:none;
                            margin-left:auto;
                            margin-right:auto;
                        }
                        .is-style-circle-mask{
                            overflow:hidden;
                        }
                        div.wp-block-image{
                            display:inline;
                            width: -moz-fit-content;
                            width:fit-content;
                            overflow:hidden;
                            &.badge{
                                border-radius:0;
                                margin:auto;
                            }
                            .alignleft{
                                @extend %alignleft;
                                width: calc(50% - var(--thm_content_gap) * 2);
                            }
                            .alignright{
                                @extend %alignright;
                                width: calc(50% - var(--thm_content_gap) * 2);
                            }
                        }
                        figure.wp-block-image{
                            &.alignfull{
                                position:relative;
                                left:0;
                                width:calc( var(--thm_main_width) - 24px);
                                max-width:none;
                            }
                        }
                        .wp-block-tag-cloud,
                        .wp-block-group{
                            margin-left:auto;
                            margin-right:auto;
                        }
                        .badge{
                            display:inline-block;
                            width:auto;
                            border-radius:0;
                        }
                        .wp-block-latest-posts{
                            .wp-block-latest-posts__post-full-content{
                                @extend %die-aligns;
                            }
                        }
                        .wp-block-gallery{
                            margin-left:auto;
                            margin-right:auto;
                        }
                        .wp-block-latest-comments{
                            li:before{
                                display:none;
                            }
                        }
                        .wp-block-columns{
                            margin-left:auto;
                            margin-right:auto;
                            max-width:100%;
                            &.alignwide{
                                max-width:100%;
                            }
                            &.alignfull{
                                max-width:100%;
                            }
                        }
                        [class|="wp-block"]:not(.alignright),
                        [class|="wp-block"]:not(.alignleft){
                            margin-left:auto;
                            margin-right:auto;
                            max-width:100%;
                            &.alignwide{
                                max-width:100%;
                            }
                            &.alignfull{
                                max-width:100%;
                            }
                        }


                    }
                    .content{
                        .trancate{
                            padding-left:var(--thm_content_gap, 24px);
                            padding-right:var(--thm_content_gap, 24px);
                            position:relative;
                        }
                        .on-trancate:before{

                        }
                    }
                    footer{
                        display:none;
                        margin-bottom:0;
                        .entry-meta{
                            margin-top:0;
                            margin-bottom:0;
                            ul{
                                margin-top:0;
                                margin-bottom:0;
                            }
                        }
                    }
                }
            }
        }
    }
}
/**
 * Pagination
 * ========================================================================== */
div.archive-year-links{
    width: -moz-fit-content;
    width:fit-content;
    margin: 1.5em auto 0.75em;
    & > div{
        margin-left:3px;
        margin-right:3px;
        a{
            line-height:3rem;
        }
        &.current,
        &.dots{
            line-height:3rem;
        }        
    }
}
div.emulsion-monthly-archive-prev-next-navigation{
    @extend %block;
    display: flex;
    margin: 1.5em auto 0.75em;
    flex-wrap: wrap;
    padding: 0;
    & > div{
        text-align: center;
        margin: var(--thm_box_gap, 3px);
        padding: 0.685rem;
        flex-basis: 40%;
        flex-grow: 1;
        min-width: 100px;
    }
}
.attachment-navigation{
    & > div{
        @extend %block_main_wide;
    }
    .nav-links{
        max-width:100%;
        display:flex;
        margin:1.5em auto .75em;
        flex-wrap:wrap;
        padding:0;
    }
    .nav-next:empty,
        .nav-previous:empty{
        visibility:hidden;
    }
}
.emulsion-no-sidebar{
    .post-navigation{
        @extend %block_main_wide;
        margin-left:auto;
        margin-right:auto;
        padding-top: .1rem;
        padding-bottom: 0.75em;
        max-width:100%;
    }
}
.emulsion-has-sidebar{
    .post-navigation{
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
        padding-top: .1rem;
        padding-bottom: 0.75em;
        box-sizing: border-box;
        max-width:100%;
    }
}
.nav-links{
    display:flex;
    margin:1.5em auto .75em;
    flex-wrap:wrap;
    padding:0;
    position:relative;
}
main .nav-links > div{
    text-align:center;
    margin:3px;
    padding:.685rem;
    flex-basis: auto;
    flex-grow: 1;
    min-width:240px;
}
main .nav-links > div:first-child:last-child{
    flex-basis: 50%; /* default value */
    flex-grow: 0;
}
main .nav-links > div > a{
    display:inline-block;
    text-align:left;
    width: -moz-fit-content;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.nav-links a{
    display:inline-block;
    text-align:left;
    width: -moz-fit-content;
    width:fit-content;
}
.pagination{
    padding-left:var(--thm_content_gap, 24px);
    padding-right:var(--thm_content_gap, 24px);
}
.stream + .pagination,
.grid + .pagination{
    padding-left:16px;
    padding-right:16px;
}
.pagination .nav-links{
    display:flex;
    padding-left:0;
    padding-right:0;
}
.pagination .nav-links span,
.pagination .nav-links a{
    flex:1 1 5%;
    text-align:center;
    margin:3px;
    padding:.685rem;
    width: -moz-fit-content;
    width:fit-content;
    white-space:pre;
}
.post-navigation{
    .nav-links{
        .nav-previous{
            a{
                display:block;
                width:auto;
                text-align:center;
                .text{
                    display:block;
                }
                .title{
                    display:block;
                }
                @supports ( width:fit-content ) or ( width: -moz-fit-content ){
                    .title{
                        text-align:left;
                        width: -moz-fit-content;
                        width:fit-content;
                        margin-left:auto;
                        margin-right:auto;
                        font-size:var(--thm_common_font_size);
                        font-family:var(--thm_common_font_family);
                        font-weight:var(--thm_heading_font_weight);
                        text-transform:var(--thm_heading-font-transform);
                    }
                }
            }
        }
        .nav-next{
            a{
                display:block;
                width:auto;
                text-align:center;
                .text{
                    display:block;
                }
                .title{
                    display:block;
                }
                @supports ( width:fit-content ) or ( width: -moz-fit-content ){
                    .title{
                        text-align:left;
                        width: -moz-fit-content;
                        width:fit-content;
                        margin-left:auto;
                        margin-right:auto;
                        font-size:var(--thm_common_font_size);
                        font-family:var(--thm_common_font_family);
                        font-weight:var(--thm_heading_font_weight);
                        text-transform:var(--thm_heading-font-transform);
                    }
                }
            }
        }
    }
}
/**
 * Page break
 * ========================================================================== */
.page-break-links{
    @extend %block;
    margin-top:3rem;
    display:flex;
}
.page-break-links > span,
.page-break-links a{
    flex:1 1 5%;
    text-align:center;
    margin:3px;
    width: -moz-fit-content;
    width:fit-content;
    padding:.685rem;
    font-size:var(--thm_meta_data_font_size);
}
/**
 * Static Page
 * ========================================================================== */
body.page{
    .posted-on{
        display:none;
    }
    .header-layer div.entry-text {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
}
.emulsion-has-sidebar{
    .has-column{
        display:flex;
        flex-direction: row;
        max-width:100%;
        flex-wrap:wrap;
    }
    .pagination,
    .page-title-block,
    .nav-links{
        margin-left:auto;//ie
        margin-right:auto;//ie
        max-width:100%;
    }
    .banner{
        margin-top:0;
    }
    .page-wrapper{
        order:1;
        flex:1 1 auto;
        min-width:var( --thm_content_width );
        //ブレークポイント調整テスト
        flex-basis:var(--thm_content_width);
        box-sizing:border-box;
    }
    .side-right .sidebar-widget-area{
        /**
         * sidebar position control
         * order:0 left sidebar
         * order:2 right sidebar
         * breack point 1249px responsive order issue (sidebar page first)
         */
        order:2;
        .widget{
            overflow:hidden;
        }
    }
    .side-left .sidebar-widget-area{
        /**
         * sidebar position control
         * order:0 left sidebar
         * order:2 right sidebar
         * breack point 1249px responsive order issue (sidebar page first)
         */
        order:0;
        .widget{
            overflow:hidden;
        }
    }
}
/**
 * Attachment Page
 * ========================================================================== */

.template-part-content-attachment{

    article{
        padding-left:0;
        padding-right:0;
        .attachment{
            text-align:center;
        }
        .attachment-image{
            width:100%;
            max-width:100%;
            figcaption{
                @extend %block;
            }
            a{
                display:block;
                overflow:hidden;
                margin-left:auto;
                margin-right:auto;
                width: -moz-fit-content;
                width:fit-content;
            }
            img{
                display:block;
                margin-left:auto;
                margin-right:auto;
            }
        }
        .entry-content.attachment-content{
            min-height:0;
        }
        .attachment-content{
            @extend %block;
            margin-left:auto;
            margin-right:auto;

            .attachment-metadata{
                width:var(--thm_content_width);
                max-width:100%;
                margin-top:1.5rem;
                margin-bottom:.75rem;
                padding-left:var(--thm_content_gap);
                padding-right:var(--thm_content_gap);
                .relate-post-title{
                    margin-bottom:.75rem;
                }
                .caption-text{
                    font-size:var(--thm_meta_data_font_size);
                    text-transform:var(--thm_meta_data_font_transform);
                }
                .description-text{
                    font-size:var(--thm_common_font_size);
                    .label{
                        width:120px;
                        display:inline-block;
                        font-weight:700;
                    }
                }
                .relate-post-title{
                    .label{
                        width:120px;
                        display:inline-block;
                        font-weight:700;
                    }
                    a{
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}
.enable-alignfull{
    &.page-template-gallery,
    &.post-template-gallery{
        .entry-content{
            figure.wp-block-image{

                margin-top:var(--thm_box_gap);
                margin-bottom:var(--thm_box_gap);
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }

                figcaption{
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    width: calc(100% - var(--thm_content_gap));
                    text-align: right;
                    color: var(--thm_white_color);
                    background: transparent;
                    text-shadow: #000 1px 0 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            section{
                margin-top:0;
                margin-bottom:0;
            }
            div.wp-block-image{
                figure{
                    margin-top:0;
                    margin-bottom:0;
                }
                figcaption{
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    width: calc(100% - var(--thm_content_gap));
                    text-align: right;
                    color: var(--thm_white_color);
                    background: transparent;
                    text-shadow: #000 1px 0 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-cover{
                margin-top:var(--thm_box_gap);
                margin-bottom:var(--thm_box_gap);
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-video{
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    width:calc(50% - var(--thm_box_gap));
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;
                    video{
                        padding:0;
                    }
                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    width:calc(50% - var(--thm_box_gap));
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;
                    video{
                        padding:0;
                    }
                }
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        width:100%;
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
            .wp-block-media-text{
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignwide{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
            }
            .wp-block-embed{
                margin:var(--thm_box_gap) auto ;
                &.alignfull{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                }
                &.alignleft{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-right:var(--thm_box_gap);
                    margin-left:0;

                }
                &.alignright{
                    margin-top:var(--thm_box_gap);
                    margin-bottom:var(--thm_box_gap);
                    max-width:calc(50% - var(--thm_box_gap));
                    margin-left:var(--thm_box_gap);
                    margin-right:0;

                }
                figcaption{
                    position:absolute;
                    bottom:3rem;
                    left:1rem;
                    color:var(--thm_white_color);
                    background-color:rgba(0,0,0,.5);
                }

                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    &.alignright,
                    &.alignleft{
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                    }
                }
            }
        }
    }
}
