
@function is_dark(){
    $color-brightness: round((red($background_color) * 299) + (green($background_color) * 587) + (blue($background_color) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
    @if abs( $color-brightness ) < ( $light-color / 2 ){
        @return true;
    }
    @else {
        @return false;
    }
}
/**
 * Gradient
 * @include bg-gradient;
 * @since removed @if( $header_background_gradient_color != $header_bg_color )
 */
@mixin bg-gradient($angle: 90deg) {
    background: -webkit-gradient(linear,  left top, left bottom,  from($angle),  color-stop(var(--thm_header_bg_color)), to(var(--thm_header_background_gradient_color)) );
    background: linear-gradient($angle,  var(--thm_header_bg_color), var(--thm_header_background_gradient_color) );
}
/**
 * Contrast Color
 * @include text-color( $background_color )
 */
@mixin text-color( $background_color ) {
    $color-brightness: round((red($background_color) * 299) + (green($background_color) * 587) + (blue($background_color) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
    @if abs($color-brightness) < ($light-color/2){
        color: #ffffff;
    }
    @else {
        color: #333333;
    }
}
/**
 * Clearfix
 * @include clearfix;
 */
@mixin clearfix {
    &:before,
        &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}
/**
 * hide when not focus or hover
 * @include clip;
 */
@mixin clip{
    width:1px;
    height:1px;
    overflow:hidden;
    clip:rect(1px,1px,1px,1px);
    clip-path:polygon(0px 0px,0px 0px,0px 0px,0px 0px);
    white-space:nowrap;
    &:hover,
        &:focus {
        z-index:100000;
        display:block;
        width:auto;
        height:auto;
        clip:auto!important;
        clip-path:none;
    }
}
/**
 * font size
 * @include font_size(1);
 */
@mixin font_size( $level , $margin: default-margin) {
    $line-heights: (
        6: $content_line_height,  // h6
        5: $content_line_height,  // H5
        4: $common_line_height,      // H4
        0: $content_line_height,      // p
        3: $common_line_height,  // H3
        2: $common_line_height,   // H2
        1: $common_line_height,      // H1
    );
    @if $heading_font_scale == 'xxx' {
        $type-scale: (
            6: $heading_font_base * 0.6875px,  // h6
            5: $heading_font_base * 0.8125px,  // H5
            4: $heading_font_base * 1px,      // H4
            0: 1rem,      // p
            3: $heading_font_base * 1.5px,  // H3
            2: $heading_font_base * 2px,   // H2
            1: $heading_font_base * 3px     // H1
            );
    } @else {
        $type-scale: (
            6: $heading_font_base * 0.6875px,  // h6
            5: $heading_font_base * 0.8125px,  // H5
            4: $heading_font_base * 1px,      // H4
            0: 1rem,      // p
            3: $heading_font_base * 1.17px,  // H3
            2: $heading_font_base * 1.4px,   // H2
            1: $heading_font_base * 2px      // H1
            );
    }
    font-size: map-get($type-scale, $level);
    line-height:map-get($line-heights, $level);
    @if( 'default-margin' == $margin) {
        margin-top: map-get($type-scale, $level) * 1.5;
        margin-bottom: map-get($type-scale, $level) * .75;
    }
}

/**
 * Basic Block Elements
 * @extend %block;
 */
%block {
    box-sizing:border-box;
    width: var(--thm_content_width, 720px );
    max-width:100%;
    padding-right:var( --thm_content_gap, 24px );
    padding-left:var( --thm_content_gap, 24px );
    margin:1.5rem auto .75rem;
    &.has-background{
        // width: calc( var(--thm_content_width, 720px) - var(--thm_content_gap, 24px) * 2);
    }

}
/**
 * Wide Block Elements
 * @extend %block_wide;
 */
%block_wide {
    box-sizing:border-box;
    //width:calc( var(--thm_content_width, 720px) + var(--thm_align_offset, 200px) );
    width:var(--thm_wide_width, 920px);
    max-width:100%;
    padding-right:var( --thm_content_gap, 24px );
    padding-left:var( --thm_content_gap, 24px );
    margin:1.5rem auto .75rem;
}
/**
 * Wide Block Elements
 * @extend %block_main_wide;
 */
%block_main_wide {
    box-sizing:border-box;
    width: var( --thm_main_width, 1280px );
    padding-right:var( --thm_content_gap, 24px );
    padding-left:var( --thm_content_gap, 24px );
    margin-top:1.5rem;
    margin-bottom:.75rem;
}
/**
 * Grid Template
 * @extend %grid;
 * .grid
 */
%grid{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    max-width:100%;
    padding:0;
    margin-top:var(--thm_content_gap, 24px);
    overflow:visible;// change auto to visible firefox scrollbar issue
    .article-wrapper{
        flex:1 1 auto;
        align-self:stretch;
        width: var(--thm_content_width, 296px );
        margin: var( --thm_box_gap,3px);
        article{
            display:flex;
            flex-direction:column;
            align-items: center;
            align-items:stretch;
            max-width:100%;
            height:100%;
            header{
                flex:0 1 auto;
                align-self: flex-start;
                margin-top:0;

            }
            footer{
                display:flex;
                flex:0 0 auto;
                align-self: flex-end;
                justify-content:flex-end;
                height:auto;
                min-height:0;
                margin-top:0;
                margin-bottom:var( --thm_content_gap, 24px );
                span{
                    display:flex;
                    display:inline-flex;
                    flex:0 0 auto;
                    align-self: flex-end;
                    justify-content:flex-end;
                    width:auto;
                    height:100%;
                    margin-left:calc( var(--thm_box_gap, 3px) * 2 );
                    a{
                        display:inline-block;
                        flex:0 0 auto;
                        justify-content:flex-end;
                        max-height:calc( 3rem - 2px);
                        vertical-align:baseline;
                    }
                }


            }
            footer:empty{
                margin:0;
            }
        }
    }
}
/**
 * @extend %hyphenate;
 */
%hyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    //word-break: break-all;
    word-break: break-word;
    overflow-wrap:break-word;
}

/**
 * @extend %fulltext
*/

%fulltext {
    &.blog{
        .entry-content{
            .content-excerpt:not(:empty){
                padding-bottom:3rem;
            }
        }
    }
    &.home{
        &.page{
            article{
                header{
                    display:none;
                    &.show-post-image{
                        display:block;
                    }
                }
            }
        }
    }
    article{
        & > header{
            .entry-title{

                max-width:100%;
                margin-right:auto;
                margin-left:auto;
            }
        }
        & > .entry-content{
            .content-excerpt:empty{
                display:none;
            }
        }
        & > footer{
            min-height:6rem;
            padding-right:0;
            padding-left:0;
            &:empty{
                display:none;
            }
        }
    }
    .wp-block-latest-comments{
        .wp-block-latest-comments__comment{
            footer{
                min-height:0;
            }
            article{
                width:auto;

            }
        }
    }
    &.search article.has-post-thumbnail,
    &.home article.has-post-thumbnail,
    &.archive article.has-post-thumbnail{
        border:none;
    }
}
/**
 * alignleft
 * @extend %alignleft
 */
%alignleft {
    box-sizing:border-box;
    float:left;
    width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
   // max-width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
   max-width:100%;
    padding:0;
    margin-top:1.5rem;
    margin-right:1rem;
    margin-bottom:.75rem;
    margin-left:var(--thm_content_gap, 24px);
    clear:left;
&.has-background{
        @media screen and (max-width: 640px){
            margin-top:0;
            margin-bottom:0;
        }
    }

    &.wp-block-embed{
        width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
    }
    &.wp-block-social-links{
        flex-direction: column;
        width:fit-content;
        margin-top:1.5rem;
        @media screen and (max-width: 640px) {
            width:100px;
        }
    }
    &.wp-block-file{
        width:-moz-fit-content;
        width:fit-content;
        margin-top:1.5rem;
        @media screen and ( max-width : 480px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding:0 var(--wp--custom--padding--content, .75rem);
            //padding-left: clamp( 2rem, calc( 100vw / 36 ), calc(40px + var(--wp--custom--padding--content,.75rem)));

        }
    }
    &.wp-block-search,
    &.wp-block-latest-comments{
        width:320px;
        margin-top:1.5rem;
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding:0 var(--wp--custom--padding--content, .75rem);
        }
    }
    &.wp-block-archives,
    &.wp-block-categories{
        width:320px;
        margin-top:1.5rem;
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding-left: clamp( 2rem, calc( 100vw / 36 ), calc(40px + var(--wp--custom--padding--content,.75rem)));

        }
        @media (min-width: 640px) and (max-width: 1360px){
            & ~ .is-vertical ol:not([class*="wp-block"]),
                & ~ .is-vertical ul:not([class*="wp-block"]),
                & ~ ol:not([class*="wp-block"]),
                & ~ ul:not([class*="wp-block"]){
                li{
                    margin-right:1.75rem;
                    transform: translateX(1.75rem);

                }
            }
        }
    }
    & > figure{
        margin-top:0;
        margin-bottom:0;
    }
    .alignleft,
    .alignright{
        float:none;
        width:100%;
        max-width:100%;
        margin-right:0;
        margin-left:0;
    }
    @media screen and ( max-width : 640px ) {
        // static break point
        width:100%;
        max-width:100%;
        padding:0 var(--thm_content_gap, 24px);
        margin-right:0;
        margin-left:0;
    }

}
/**
 * alignright
 * @extend %alignright
 */
%alignright {
    box-sizing:border-box;
    float:right;
    width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
   // width:-moz-fit-content;
  //  width:fit-content;
    //max-width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
    max-width:100%;
    padding:0;
    margin-top:1.5rem;
    margin-right:var(--thm_content_gap, 24px);
    margin-bottom:.75rem;
    margin-left:1rem;
    clear:right;
    &.has-background{
        @media screen and (max-width: 640px){
            margin-top:0;
            margin-bottom:0;
        }
    }
    &.wp-block-embed{
        width:calc( 50% - var(--thm_content_gap, 24px) - 1rem );
    }
     &.wp-block-social-links{
        width:fit-content;
        margin-top:1.5rem;
        @media screen and (max-width: 640px) {
            width:100px;
        }
    }
    &.wp-block-file{
        width:-moz-fit-content;
        width:fit-content;
        margin-top:1.5rem;
        @media screen and ( max-width : 480px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding:0 var(--wp--custom--padding--content, .75rem);
            //padding-left: clamp( 2rem, calc( 100vw / 36 ), calc(40px + var(--wp--custom--padding--content,.75rem)));

        }
    }
    &.wp-block-search,
    &.wp-block-latest-comments{
        width:320px;
        margin:1.5rem auto;
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding:0 var(--wp--custom--padding--content, .75rem);
        }
    }
    &.wp-block-archives,
    &.wp-block-categories{
        width:320px;
        margin:1.5rem auto;
        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            padding-left: clamp( 2rem, calc( 100vw / 36 ), calc(40px + var(--wp--custom--padding--content,.75rem)));

        }
    }
    & > figure{
        margin-top:0;
        margin-bottom:0;
    }
    &.wp-block-media-text{
        p{
            max-width:100%;
        }
    }
    .alignleft,
    .alignright{
        float:none;
        width:100%;
        max-width:100%;
        margin-right:0;
        margin-left:0;
    }
    @media screen and ( max-width : 640px ) {
        // static break point
        width:100%;
        max-width:100%;
        padding:0 var(--thm_content_gap, 24px);
        margin-right:0;
        margin-left:0;
    }
}
/**
 * aligncenter
 * @extend %aligncenter
 */
%aligncenter {
    box-sizing:border-box;
    float:none;
    width:calc( var(--thm_content_width, 720px) - var(--thm_align_offset, 200px) );
    max-width:100%;
    margin:1.5rem auto .75rem;
    clear:both;

    @media screen and ( max-width : 640px ) {
        // static break point
        width:100%;
        max-width:100%;
        margin-right:0;
        margin-left:0;
    }
}
/**
 * alignwide
 * @extend %alignwide;
 */
%alignwide{
    position: relative;
    left:0;
    //width:calc( var(--thm_content_width, 720px) + var(--thm_align_offset, 200px) );
    width:var(--thm_wide_width, 920px);
    max-width:100%;
    margin-right:auto;
    margin-left:auto
}
/**
 * has sidebar alignfull
 * @extend %has-sidebar-alignfull;
 */
%has-sidebar-alignfull{
    position:relative;
    width:100%;
    max-width:100%;
    margin:0 auto;
}
/**
 * no sidebar alignfull
 * @extend %no-sidebar-alignfull;
 */
%no-sidebar-alignfull{
    position:relative;
    width:100vw;
    max-width:100%;
    margin:0 auto;
    overflow:visible;
    @media screen and ( min-width : 1280px ) {

        // Limit width
        width:1600px;
        max-width:100%;
        margin-right:auto;
        margin-left:auto;
    }
}
/**
 * no sidebar alignfull
 * @extend %die-aligns;
 */
%die-aligns{
    .emulsion-full,
    .remove-aligns{
        position:static;
        display:block;
        flex:none;
        float:none;
        max-width:100%;
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
        overflow:visible;
        clear:both;
        background-size:cover;
    }
    ul,ol{
        li:not(.wp-block-gallery):not([role="tab"]){
            @extend .remove-aligns;
            display: list-item;
            width:100%;
        }
    }
    [class|="wp-block"]:not(.wp-block-gallery){
        &.size1of2,
        &.size1of3,
        &.size2of3,
        &.size1of4,
        &.size3of4,
        &.size1of5,
        &.size2of5,
        &.size3of5,
        &.size4of5,
        &.alignleft,
        &.alignright,
        &.alignwide,
        &.alignfull{
            @extend .remove-aligns;
        }
        &.alignfull{
            .alignfull{
                @extend .remove-aligns;
            }
        }
        .size1of2,
        .size1of3,
        .size2of3,
        .size1of4,
        .size3of4,
        .size1of5,
        .size2of5,
        .size3of5,
        .size4of5{
            @extend .remove-aligns;
            width:100%;
        }
        .alignnone,
        .aligncenter,
        .alignleft,
        .alignright,
        .alignwide,
        .alignfull{
            @extend .remove-aligns;
            max-width:100%;
        }
    }
    .alignnone,
    .aligncenter,
    .alignleft,
    .alignright,
    .alignwide,
    .alignfull{
        @extend .remove-aligns;
        max-width:100%;
    }
    .wp-block-column {
        width:100%;
        max-width:100%;
    }
    .shortcode-wrapper,
    .wp-block-media-text,
    .wp-block-pullquote,
    .wp-block-cover{
        height:auto;
        overflow-y:visible;
        &.aligncenter,
        &.alignleft,
        &.alignright,
        &.alignwide,
        &.alignfull{
            @extend .remove-aligns;
            // position:static;
            position:relative;
            left:0;
            max-width:100%;
            padding-right:0;
            padding-left:0;
            margin-right:0;
            margin-left:0;
            background-size:cover;
        }
        &.alignwide{
            margin-right:auto;
            margin-left:auto;
        }
        &:before{
            display:none!important;
        }
    }
}
/**
 * Download button file type
 * @extend %download-button-file-type
 */
%download-button-file-type{
    display:inline-block;
    padding:3px 6px;
    margin:auto 1rem;
    font-size:var(--thm_meta_data_font_size, 13px);
    text-transform:var(--thm_meta_data_font_transform);
    border-bottom-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-bottom-style:var(--thm_common_border_style, solid);
    border-bottom-width:var(--thm_common_border_width, 1px);
}
/**
 * Block editor list presentation
 * @extend %list-effect-editor
 */
%list-effect-editor{

    ol:not(.list-style-initial):not(.wp-list-comments):not(.is-style-list-style-initial){
        &.circle{
            li:before{
                border-radius:50%;
            }
        }
        &.is-style-list-style-none,
        &.list-style-none{
            li{
                margin-left:0;
                text-indent:0;
                list-style-type:none;
                &:before{
                    display:none!important;
                    content:''!important;
                }
            }
        }
        counter-reset: emulsion-counter;
        li{
            text-indent:-24px;
            list-style-type:none;
            *:not(li){
                text-indent:0;
            }
            &:before{
                display:inline-block;
                width: calc(1rem * var(--thm_content_line_height ) );
                margin-right:1rem;
                font-size:var(--thm_meta_data_font_size, 13px);
                line-height: calc(1rem * var(--thm_content_line_height ) );
                color: var(--thm_white_color,#ffffff);
                text-align:center;
                text-indent:0;
                content: counter( emulsion-counter );
                counter-increment: emulsion-counter;
                background: var(--thm_default_bullet_color, #3498db);
            }
            ol{
                padding-left: calc( 1rem * var(--thm_content_line_height ) + 1rem );
                counter-reset: emulsion-counter-lv1;
                li{
                    margin-left:0;
                    list-style-type:none;
                    &:before{
                        width: calc(1rem * var(--thm_content_line_height ) );
                        line-height: calc(1rem * var(--thm_content_line_height ) );
                        content: counter( emulsion-counter-lv1 );
                        counter-increment: emulsion-counter-lv1;
                    }
                    ol{
                        padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                        margin:0;
                        counter-reset: emulsion-counter-lv2;
                        & > li{
                            margin-left:0;
                            list-style-type:none;
                            &:before{
                                width: calc(1rem * var(--thm_content_line_height ) );
                                line-height: calc(1rem * var(--thm_content_line_height ) );
                                content: counter( emulsion-counter-lv2 );
                                counter-increment: emulsion-counter-lv2;
                            }
                        }
                    }
                    ul{
                        margin-top:0;
                        margin-bottom:0;
                    }
                }
            }
            ul{
                padding-left:40px;
                li{
                    margin-left:0;
                    list-style-type:none;
                    &:before{
                        width: calc(1rem / 3 );
                        height: calc(1rem / 3 );
                        color: var(--thm_white_color,#ffffff);
                        vertical-align:middle;
                        content:' ';
                        counter-increment: none;
                        background: var(--thm_default_bullet_color, #3498db);
                        border-radius:50%;
                    }
                    ul{
                        padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                        margin:0;
                        li{
                            margin-left:0;
                            list-style-type:none;
                            &:before{
                                width: calc(1rem / 3 );
                                height: calc(1rem / 3 );
                                vertical-align:middle;
                                content:' ';
                                counter-increment: none;
                                background:rgba(147,147,147,1);
                                border-radius:0;
                            }
                        }
                    }
                    ol{
                        margin-top:0;
                        margin-bottom:0;
                    }
                }
            }
        }
        &.circle li:before{
            border-radius:50%;
        }
    }
    .wp-block-gallery{
        li{
            margin-left:0;
            text-indent:0;
            list-style-type:none;
            &:before{
                display:none!important;
                content:''!important;
            }
        }
    }
    .wp-block-navigation ul{
        li{
            margin-left:1rem;
            margin-left:0;
            text-indent:0;
            list-style-type:none;
            &:before{
                display:none!important;
                content:''!important;
            }
        }
    }

    ul.wp-block:not(.list-style-initial):not(.is-style-list-style-initial){
        &.is-style-list-style-none,
        &.list-style-none{
            li{
                margin-left:1rem;
                text-indent:0;
                list-style-type:none;
                &:before{
                    display:none!important;
                    content:''!important;
                }
            }
        }
        li{
            text-indent:-24px;
            list-style-type:none;
            *:not(li){
                text-indent:0;
            }
            &:before{

                display:inline-block;
                width: calc(1rem / 3 );
                height: calc(1rem / 3 );
                margin-right:1rem;
                color: var(--thm_white_color, #ffffff);
                text-align:center;
                vertical-align:middle;
                content:' ';
                background: var(--thm_default_bullet_color, #3498db);
                border-radius:50%;

            }
            ul{
                padding-right:0;
                padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                margin-top:0;
                margin-bottom:0;
                li{
                    margin-left:0;
                    list-style-type:none;
                    &:before{
                        width: calc(1rem / 3 );
                        height: calc(1rem / 3 );
                        vertical-align:middle;
                        content:' ';
                        counter-increment: none;
                        background:rgba(147,147,147,1);
                        border-radius:0;
                    }
                    ul{
                        padding-right:0;
                        padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                        li{
                            padding-right:0;
                            padding-left:0;
                            margin-left:0;
                            list-style-type:none;
                            &:before{
                                width: calc(1rem / 3 );
                                height: calc(1rem / 3 );
                                vertical-align:middle;
                                content:' ';
                                counter-increment: none;
                                background:rgba(147,147,147,1);
                                border-radius:50%;
                            }
                        }
                    }
                }
            }
            ol{
                padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                margin-top:0;
                margin-bottom:0;
                counter-reset: emulsion-counter-lv1;
                li{
                    margin-left:0;
                    list-style-type:none;
                    &:before{
                        width: calc(1rem * var(--thm_content_line_height ) );
                        height:1.5rem;
                        line-height: calc(1rem * var(--thm_content_line_height ) );
                        color: var(--thm_white_color, #ffffff);
                        content: counter( emulsion-counter-lv1 );
                        counter-increment: emulsion-counter-lv1;
                        background: var(--thm_default_bullet_color, #3498db);
                        border-radius:0;
                    }
                    ol{
                        padding-left: calc(1rem * var(--thm_content_line_height ) + 1rem );
                        counter-reset: emulsion-counter-lv2;
                        li{
                            margin-left:0;
                            list-style-type:none;
                            &:before{
                                width: calc(1rem * var(--thm_content_line_height ) );
                                line-height: calc(1rem * var(--thm_content_line_height ) );
                                content: counter( emulsion-counter-lv2 );
                                counter-increment: emulsion-counter-lv2;
                            }
                        }
                    }
                }
            }
        }
        &.circle{
            li:before{
                border-radius:50%;
            }
        }
    }
    ol[reversed],
    ol[start],
    ol.is-style-list-style-initial,
    ol.list-style-initial{
        padding-right:var(--thm_content_gap, 24px);
        padding-left:calc( var(--thm_content_gap, 24px) * 3 );
        li{
            margin-left:0;
            color:var(--thm_general_text_color);
            text-indent:0!important;
            list-style-type:decimal!important;
            &:before{
                display:none!important;
            }
            ol{
                li{
                    text-indent:initial;
                    list-style-type:decimal ;
                    &:before{
                        display:none!important;
                    }
                    ol{
                        li{
                            list-style-type:decimal;
                            &:before{
                                display:none!important;
                            }
                        }
                        ol{
                            li{
                                list-style-type:decimal;
                                &:before{
                                    display:none!important;
                                }
                            }
                        }
                    }
                }
            }
            ul{
                li{
                    list-style-type:initial;
                    &:before{
                        display:none;
                    }
                    ul{
                        li{
                            &:before{
                                display:none;
                            }
                        }
                    }
                }
            }
        }
    }
    ul.is-style-list-style-initial,
    ul.list-style-initial{
        padding-right:var(--thm_content_gap, 24px);
        padding-left:calc( var(--thm_content_gap, 24px) * 3 );
        li{
            text-indent:initial;
            list-style-type:initial;
            &:before{
                display:none;
            }
            ul{
                li{
                    list-style-type:initial;
                    &:before{
                        display:none;
                    }
                    ul{
                        li{
                            &:before{
                                display:none;
                            }
                        }
                    }
                }
            }
            ol{
                li{
                    text-indent:initial;
                    list-style-type:decimal;
                    &:before{
                        display:none;
                    }
                    ol{
                        li{
                            list-style-type:decimal;
                            &:before{
                                display:none;
                            }
                        }
                        ol{
                            li{
                                list-style-type:decimal;
                                &:before{
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .is-style-list-style-inline:not(.list-style-initial):not(.is-style-list-style-initial),
        .list-style-inline:not(.list-style-initial):not(.is-style-list-style-initial){
        @include clearfix;
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        padding:0;
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        margin-top:1.5rem;
        margin-bottom:.75rem;
        //@extend %block;
        font-size:var(--thm_meta_data_font_size, 13px);
        font-size:1rem;
        li{
            z-index:2;
            display:inline-block;
            flex:1 1 auto;
            width: -moz-fit-content;
            width:fit-content;
            margin:var( --thm_box_gap,3px );
            text-align:center;
            text-indent:0;
            list-style:none;
            list-style-type:none;
            &:before{
                display:none ! important;
                content:none;
            }
            &:hover{
                a{
                    cursor:pointer;
                }
            }
        }
    }
}
/**
 * Block editor list presentation
 * @extend %narrow-space-block-and-elements
 */
%narrow-space-block-and-elements{
    .wp-block-columns{
        display:block;
        padding-right:0;
        padding-left:0;
        .wp-block-column{
            padding-right:0;
            padding-left:0;
            margin-left:0;
        }
    }
    ul{
        padding-left:0;
        margin-left:0;
        li{
            text-indent:0;
        }
    }
}
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}



