//body{
body.emulsion-has-sidebar{

    .sidebar-widget-area{

        position:relative;
        z-index:1;
        flex:1 0;
        flex-basis:var( --thm_sidebar_width, 400px );
        width:var( --thm_sidebar_width, 400px );
        max-width:var( --thm_sidebar_width, 400px );
        margin-top:0;
        margin-bottom:0;

        font-size:var(--thm_meta_data_font_size, 13px);
        text-transform:var(--thm_meta_data_font_transform);

        .sidebar-widget-area-lists{
            padding-right:0;

            padding-left:0;
            margin-top:0;
            margin-right:auto;
            margin-left:auto;
            list-style: none;

            & > li{
                &:first-child{
                    margin-top:0;
                    & > figure,
                    & > div,
                    & > ul{
                        margin-top:0;
                    }
                }
                padding-right:0;
                padding-left:0;
            }

            li{

                //line-height:calc( 1rem * var( --thm_content_line_height, 1.5 ) );
                //  font-size:var(--thm_meta_data_font_size, 13px);
                // text-transform:var(--thm_meta_data_font_transform);

                #wp-calendar caption,
                .widgettitle{
                    margin-top:1em;
                    margin-bottom:1em;
                    font-size:20px;
                }

            }
            .wp-widget-group__inner-blocks > ul {
                padding:0 var(--thm_content_gap, 24px);
            }
        }
    }

    .post-navigation{
        box-sizing: border-box;
        max-width:100%;
        padding-top: .1rem;
        padding-right:var(--thm_content_gap, 24px);
        padding-bottom: 0.75em;

        padding-left:var(--thm_content_gap, 24px);

    }

    .has-column{

        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        max-width:100%;

    }
    .pagination,
    .page-title-block,
    .nav-links{
        max-width:100%;
        margin-right:auto;

        margin-left:auto;//ie//ie

    }
    .banner{
        margin-top:0;
    }
    .page-wrapper{
        box-sizing:border-box;
        flex:1 1 auto;
        flex-basis:var(--thm_content_width, 720px);
        order:1;
        //min-width:var(--thm_content_width, 720px);
        min-width:var(--thm_content_min_width, 296px);

    }
    &.layout-stream,
    &.layout-grid{
        .page-wrapper{
            box-sizing:border-box;
            padding:0 var(--thm_box_gap, 3px);
        }
    }
    .side-right .sidebar-widget-area{
        /**
         * sidebar position control
         * order:0 left sidebar
         * order:2 right sidebar
         * breack point 1249px responsive order issue (sidebar page first)
         */
        order:2;
        .widget{
            overflow:hidden;
        }
    }
    .side-left .sidebar-widget-area{
        /**
         * sidebar position control
         * order:0 left sidebar
         * order:2 right sidebar
         * breack point 1249px responsive order issue (sidebar page first)
         */
        order:0;
        .widget{
            overflow:hidden;
        }
    }
}

//}

.enable-alignfull{
    &.emulsion-has-sidebar{
        .emulsion-full{
            @extend %has-sidebar-alignfull;
            float:none;
            clear:both;
        }
    }
}

/**
 * Sidebar Sequential Control
 * ========================================================================== */
//body{
body.search-no-results,
body.error404{
    .sidebar-widget-area{
        display:none;
        .sidebar-widget-area-lists{
            display:none;
        }
    }
    .footer-widget-area{
        position:static;
        display:none;
        .footer-widget-area-lists{
            display:none;
        }
    }
}
body.emulsion-has-sidebar{
    .sidebar-widget-area {
        min-height:calc(100vh - 80px);
        padding-bottom:80px;
    }
    .has-column{
        max-width:calc( var(--thm_sidebar_width) + var(--thm_main_width) );
        margin-right:auto;
        margin-left:auto;
    }
}
body.emulsion-no-sidebar{
    .sidebar-widget-area{
        display:none;
    }
}
body:not(.emulsion-has-sidebar) .sidebar-widget-area{
    position:absolute;
    right:0;
    visibility:hidden;
}
//}

/**
 * Sidebar fallback
 * ========================================================================== */
.widget{

    h1,h2,h3,h4,h5,div,form{
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        &.wp-block-latest-posts__featured-image{
            padding-right:0;
            padding-left:0;
        }
    }
    .shortcode-wrapper{
        padding:0;
    }
    &.widget_search{
        .wp-block-search__inside-wrapper{
            width:-moz-fit-content;
            width:fit-content;
            padding-right:0;
            padding-left:0;
            .wp-block-search__button{
                margin-right:3px;
                margin-left:3px;
            }
        }
    }
    p{
        padding-right:0;
        padding-left:0;
        line-height:1.5;
        img{
            max-width:100%;
            height:auto;
            margin-right:0;
            margin-left:0;
        }
    }
    &.widget_block{
        p{
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
        }
    }
    ul,ol{
        padding-right:0;
        padding-left:0;
    }
    li{
        position:relative;
        min-height:3rem;

    }
    img{
        max-width:100%;
        height:auto;
    }
    .widget_media_image{
        text-align:center;
    }
    .gallery{
        .gallery-item{
            margin-top:0;
            margin-bottom:var(--thm_box_gap, 3px);

            .gallery-icon{
                padding-right:0;
                padding-left:0;
            }
        }
    }
    .breadcrumbs{
        margin-top:1.5rem;
        margin-bottom:.75rem;
    }
    .wp-video{
        padding-right:0;
        padding-left:0;
        .mejs-duration,
        .mejs-time{
            white-space:pre;
        }
    }
    &.widget_rss{
        & > ul{
            padding-right:var(--thm_box_gap, 3px);
            padding-left:var(--thm_box_gap, 3px);
        }
    }
    &.widget_media_audio{
        padding-right:var(--thm_box_gap, 3px);
        padding-left:var(--thm_box_gap, 3px);
        .mejs-time{
            white-space:pre;
        }
    }
    &.textwidget{
        ol,
        ul{
            padding-left:40px;
            margin-top:1.5rem;
            margin-bottom:.75rem;
            li{
                margin-top:.375rem;
                margin-bottom:.375rem;
                list-style:disc;
                border:none;
                ol,
                ul{
                    margin-top:0;
                    margin-bottom:0;
                }
                &:empty{
                    display:none;
                }
            }
        }
        & > ul,
        &:not(ul) ul{
            list-style-type:disc;
        }
        & ul ul{
            list-style-type:circle;
        }
        & ul ul ul{
            list-style-type:square;
        }
    }
}
.footer-widget-area,
.sidebar-widget-area{
    .widget[id]{
        &:before{
            display:none;
        }
        & > div,
        & > ol,
        & > ul{
            box-sizing:border-box;
            overflow:hidden;
            .flex-control-nav{
                display:flex;
            }
        }
        & > ul{
            li{

                &:before{
                    display:none;
                }
            }
        }
    }
    .widget[id]{
        & > .gallery{
            max-width:100%;
            padding-right:0;
            padding-left:0;
        }
    }

}
/**
 * Widget tag cloud
 * ========================================================================== */
.widget_tag_cloud{
    .tagcloud{
        @extend %block;
        display:flex;
        flex-wrap:wrap;
        a{
            display:inline-block;
            flex:1 1 auto;
            padding:2px 3px;
            margin-bottom:2px;
            text-align:center;
            vertical-align:middle;
            &:hover{
                background:rgba(188, 188, 188, .2);
            }
        }
    }
}
/**
 * Sidebar widget
 * ========================================================================== */
.sidebar-widget-area{

    /**
     * sidebar position control
     * order:0 left sidebar
     * order:2 right sidebar
     * breack point 1249px responsive order issue (sidebar page first)
     */
    @if(  $sidebar_position == 'left') {
        order:0;
    }
    @if(  $sidebar_position == 'right') {
        order:2;
    }



    a[data-title]:hover:after {
        position:absolute;
        top:3rem;
        right:0;
        left:6em;
        z-index:2;
        z-index:10;
        display:inline-block;
        max-width:100%;
        padding:1rem;
        color:var(--thm_black_color);
        white-space: normal;
        content: attr( data-title );
        background:var(--thm_white_color, #ffffff);

    }

    .is-style-list-style-inline{
        a[data-title]:hover:after{
            display:none;
            content:'';
        }
    }

    & > ul{
        padding:0;
        margin-top:0;
        margin-right:auto;
        margin-left:auto;
        li{
            width:100%;
            margin-top:0;
            margin-bottom:0;
            line-height:calc( 1rem * var( --thm_content_line_height, 1.5 ) );
            list-style:none;
        }
    }
    .widget{

        .widgettitle{
            overflow:hidden;
        }

        h1{
            line-height:var(--thm_common_line_height);
        }


        & > ol{
            &.wp-block-latest-comments{
                padding-right: var(--thm_content_gap, 24px);

                padding-left: var(--thm_content_gap, 24px);
                footer{
                    margin-left:0;
                    .wp-block-latest-comments__comment-meta{
                        width:auto;
                    }
                }
                .wp-block-latest-comments__comment-excerpt{
                    margin-left:0;
                }
            }

        }

        .wp-block-navigation__container:not(#specificity){
            border-top:none;
            border-bottom:none;
        }
        .wp-block-table{
            width:calc(100% - var(--thm_content_gap, 24px) * 2);
            margin-right:auto;
            margin-left:auto;
        }
        .wp-block-group.dropdown-on-click,
        .wp-block-group.dropdown-on-hover,
        .wp-block-group.emulsion-panel{
            width:calc(100% - var(--thm_content_gap, 24px) * 2);
            margin-right:auto;
            margin-left:auto;
        }

        .wp-block-latest-posts__list:not(#specificity){
            padding:0;
            border-top:none;
            border-bottom:none;
            li{
                box-sizing:border-box;
                gap:var(--thm_box_gap, 3px);
                max-width:calc(100% - var(--thm_box_gap, 3px) * 2);
                margin:auto;
            }
        }

        ol,
        ul{
            border-top:none;
            border-bottom:none;

            li{
                //  border:none;
            }
        }
        .wp-block-loginout{
            padding:0;
            form{
                padding:0;
            }
        }

        & > ul:not(#specificity){



            &.list-style-tab.success-js,
            &.list-style-inline{
                padding-right: var(--thm_content_gap, 24px);
                padding-left: var(--thm_content_gap, 24px);
                border-top:none;
                border-bottom:none;
                & > li{
                    position:static;
                    width:auto;
                    ul{

                        width:calc(var(--thm_sidebar_width) - var(--thm_content_gap, 24px) * 2);
                        max-width:none;
                        li{
                            width:100%;
                        }
                    }
                }
            }

            @include font_size(5);
            margin-top:0;
            margin-bottom:0;

            &.wp-block-latest-posts{
                a:first-of-type{
                    display:block;
                    width:-moz-fit-content;
                    width:fit-content;
                    max-width:100%;
                    margin-top:.75rem;
                    margin-right:auto;
                    margin-bottom:.75rem;
                    margin-left:auto;
                    font-family:var(--thm_heading_font_family);
                    font-size:var(--thm_h3_font_size);
                    font-weight:var(--thm_heading_font_weight);
                    text-transform:var(--thm_heading_font_transform);

                }
                .wp-block-latest-posts__featured-image + a:first-of-type{
                    width:auto;
                }


                .wp-block-latest-posts__post-date{
                    margin-right:auto;
                    margin-left:auto;
                }
                .wp-block-latest-posts__post-full-content,
                .wp-block-latest-posts__post-excerpt{
                    line-height:var(--thm_content_line_height, 1.5);
                }

            }


            & > li{
                span,
                a{
                    box-sizing: content-box;
                    display:inline-block;
                    padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    white-space:pre;
                    *{
                        padding:0;
                        margin-top:0;
                        margin-bottom:0;
                    }
                }


                .children,
                .sub-menu{
                    padding-left:var(--thm_content_gap, 24px);
                }
            }
        }
    }
    .current-cat{
        list-style-type:disc;
    }
    .widget_rss{
        ul{
            li{
                max-width:100%;
                a.rsswidget{
                    display:block;
                    width:auto;
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                    margin-bottom:0;
                    font-size:1rem;
                    font-weight:bold;
                    line-height:var(--thm_common_line_height);
                    text-align:center;
                }
                .rss-date{
                    display:block;
                    width:auto;
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                    margin-top:0;
                    margin-bottom:0;
                    text-align:center;
                }
                .rssSummary{
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                    margin-top:.75rem;
                    margin-bottom:.75rem;
                    line-height:1.5;
                }
                .rssSummary:empty{
                    display:none;
                }
                cite{
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                }
            }
        }
    }
    .widget_media_gallery{
        .gallery{
            padding-right:0;
            padding-left:0;
        }
    }
    .widget_archive{
        select[name="archive-dropdown"]{
            width:calc( 100% - var( --thm_content_gap, 24px ) * 2 );
            max-width:100%;
            padding:.69rem;
            margin:1.5rem auto .75rem;
        }
    }
    .widget_categories{
        .postform{
            width:calc( 100% - var( --thm_content_gap, 24px ) * 2 );
            max-width:100%;
            padding:.69rem;
            margin-top:1.5rem;
            margin-bottom:.75rem;
        }
    }
    .widget_tag_cloud{
        .tagcloud{
            @extend %block;
        }
    }
    .widget_nav_menu{
        .menu{
            @extend %block;
            padding-right:0;
            padding-left:0;
            & > li{
                &  > a{
                    margin-top:0;
                    margin-bottom:0;
                }
            }
        }
        & > div:not(.has-chckbox-control) {
            .menu{
                @extend %block;
                padding-right:0;
                padding-left:0;
                & > li{
                    padding-top: 0.71rem;
                    padding-bottom: 0.71rem;
                    font-size: var(--thm_meta_data_font_size, 13px);
                    line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                    text-transform: var(--thm_meta_data_font_transform);
                    list-style: none;
                    &  > a{
                        box-sizing: content-box;
                        padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        white-space:pre;
                    }
                }
            }
        }
    }
    .wp-caption{
        &.alignnone{
            margin-top:1.5rem;
            margin-right:0;
            margin-bottom:.75rem;
            margin-left:0;
        }
    }
    .widget_calendar{
       @include font_size(5);
        width:100%;
        .calendar_wrap{
            width:calc( 100% - var(--thm_content_gap, 24px) * 2 );
            margin-right:auto;
            margin-left:auto;
            text-align:center;

        }
    }
}
/**
 * Footer Widget
 * ========================================================================== */
body{
    .template-part-widget-footer{
        @extend .sidebar-widget-area;
        &.footer-widget-area{
            @extend %no-sidebar-alignfull;
            display:block;
            visibility:visible;

            .footer-widget-area-lists{
                display:flex;
                flex-wrap:wrap;
                justify-content:center;
                width:100%;
                padding:1.5rem var(--thm_content_gap, 24px) .75rem;
                padding-right:var(--thm_content_gap, 24px);
                margin:0 auto 0;
                & > li{
                    // Customizer relate cols
                    flex:1 1 var( --thm_footer_widget_width );
                    min-width:var(--thm_content_min_width, 296px);
                    margin:var(--thm_box_gap, 3px);
                    list-style:none;
                    .widgettitle{
                        width:auto;
                        margin-top:1.5rem;
                        overflow:hidden;
                    }
                    & > div:not(.gallery){

                        max-height:70vh;
                        margin-top:0;
                        margin-bottom:0;
                        overflow-x:hidden;
                        overflow-y:scroll;
                        @include font_size(5);
                        & > .menu{
                            margin-top:0;
                        }
                        &::-webkit-scrollbar {
                            width: .5rem;
                            height:100px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: var(--thm_black_color);
                            outline: 1px solid var(--thm_black_color);
                        }
                    }
                    & > ul{
                        max-height:70vh;
                        margin-bottom:0;
                        overflow-x:hidden;
                        overflow-y:scroll;
                     //   @include font_size(5);
                        &::-webkit-scrollbar {
                            width: .5rem;
                            height:100px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: var(--thm_black_color);
                            outline: 1px solid var(--thm_black_color);
                        }
                    }
                    ul{
                        width:auto;
                    }
                    .children,
                    .sub-menu{
                        padding-left:var(--thm_content_gap, 24px);
                    }
                }
            }
        }
        &.sidebar-is-dark{
            .footer-widget-area-lists > li > ul::-webkit-scrollbar-thumb{
                background-color: var(--thm_white_color, #ffffff);
                outline: 1px solid var(--thm_white_color, #ffffff);
            }
        }
        .widget_nav_menu{
            .menu{
                @extend %block;
                padding-right:0;
                padding-left:0;
                & > li{
                    &  > a{
                        margin-top:0;
                        margin-bottom:0;
                    }
                }
            }
            & > div:not(.has-chckbox-control) {
                .menu{
                    @extend %block;
                    padding-right:0;
                    padding-left:0;
                    & > li{
                        padding-top: 0.71rem;
                        padding-bottom: 0.71rem;
                        font-size: var(--thm_meta_data_font_size, 13px);
                        line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                        text-transform: var(--thm_meta_data_font_transform);
                        list-style: none;
                        &  > a{
                            box-sizing: content-box;
                            padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            white-space:pre;
                        }
                    }
                }
            }
        }
        .wp-caption{
            &.alignnone{
                margin-top:1.5rem;
                margin-right:0;
                margin-bottom:.75rem;
                margin-left:0;
            }
        }
        .widget_calendar{
          @include font_size(5);
            width:100%;

            .calendar_wrap{
                max-width:100%;
                text-align:center;

            }
        }
    }
}
/**
 * bbpress
 */
.widget{
    &.widget_display_stats{
        display:block;
        max-width:100%;
        margin-top:0;
        margin-bottom:0;
        dt{
            float:left;
            margin-top:1.5rem;
            margin-bottom:.75rem;
            clear:left;
        }
        dd{
            float:left;
            margin-top:1.5rem;
            margin-bottom:.75rem;
        }
    }
    &.widget_display_search{
        .bbp-search-form{
            #bbp_search{
                width:calc(100% - 70px);
            }
        }
    }
}
/**
 * woocommerce
 */
.widget{
    &.widget_shopping_cart{
        .cart_list{
            li{
                a.remove{
                    line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                }
            }
        }
    }
}

.emulsion-has-sidebar{
    .primary-menu-wrapper{
        position:relative;
        display:flex;
        flex-direction: row;
        margin-right:auto;
        margin-left:auto;
        nav[class|="menu"]{
            position:relative;
            box-sizing: border-box;
            flex:1 1 auto;
            flex-wrap:wrap;
            order:1;
            width: var(--thm_content_width, 720px);
        }
        &.menu-inactive{
            display:none;
            .menu-placeholder{
                display:none;
            }
        }
        .menu-placeholder:empty{
            display:none;
        }
        .menu-placeholder{
            position:relative;
            z-index:1;
            flex:0 0;
            flex-basis:var( --thm_sidebar_width, 400px );
            width:var( --thm_sidebar_width, 400px );
            max-width:var( --thm_sidebar_width, 400px );
            text-align:right;
        }
        &.side-right{
            .menu-placeholder{
                order:2;
            }
        }
        &.side-left{
            .menu-placeholder{
                order:0;
            }
        }
    }
    .header-layer{
        .menu-simple-container{
            .menu{
                margin-top:0;
            }
        }
    }
}

/**
 * Sticky Sidebar
 * =================================================================== */
.emulsion-has-sidebar{
    &.disable-sidebar-sticky{
        .sidebar-widget-area .widget:last-child{
            position: static;
        }
    }
    .sidebar-widget-area-lists{
        height:100%;
    }
    .sidebar-widget-area .widget:last-child{
        position: -webkit-sticky;
        position: sticky;
        top: 52px;
        align-self: flex-start;
    }
    &.logged-in .sidebar-widget-area .widget:last-child{
        top: 84px;
    }
    &.on-scroll{
        overflow:visible;
        &.logged-in{
            .menu-inactive{
                & ~ .has-column{
                    .sidebar-widget-area{
                        top:32px;
                    }
                }
            }
        }
    }
}
.emulsion-has-sidebar{
    .menu-inactive{
        &.primary-menu-wrapper{
            display:none;
        }
    }
    &.on-scroll{
        overflow:visible;
    }
}

/**
 * Widget Navigation Menu
 * ========================================================================== */
.widget_nav_menu{

    & > nav{
        &.has-chckbox-control{
            .menu{
                width:100%;
                & > li{
                    margin:0 var(--thm_box_gap, 3px) 0;
                    list-style:none;
                    &:not(.menu-item-has-children) a{
                        display:inline-block;
                    }
                    ul{
                        @include clip;
                        display:none;
                        width:100%;
                        text-align:left;//EDGE
                    }
                }
                li{
                    padding-top:.71rem;
                    padding-bottom:.71rem;
                    list-style:none;
                    .nav-menu-child-opener:checked ~ .children .menu-item-has-children,
                        .nav-menu-child-opener:checked ~ .children,
                        .nav-menu-child-opener:checked ~ .sub-menu{
                        display:block; //EDGE
                        height:auto;
                        clip:auto;
                        clip-path: none;
                        visibility:visible;
                    }
                }
            }
        }
    }
}

.noscript{
    .widget_nav_menu{
        .menu-item-has-children>a:after{
            display:none;
        }
    }
}

//body{
body .header-layer{
    .drawer-block{
        .wp-block-search__inside-wrapper{
            [type="submit"],
            [type="search"]{
                color:var(--thm_black_color);
            }
        }
    }
}
body.emulsion-has-sidebar{
    .sidebar-widget-area{
        @media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
            // for sidebar width support

            position:relative;
            z-index:1;
            flex:0 0;
            flex-basis:100%;
            width:100%;
            max-width:100%;

        }
    }

    .sidebar-widget-area-lists{
        padding-right:0;
        padding-left:0;
        @media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
            max-width:100%;
        }
        .widget_block{
            .wp-block-latest-posts{
                padding-left:0;
                .wp-block-latest-posts__post-author{
                    margin-right:auto;
                    margin-left:auto;
                }
            }
            .wp-block-gallery{
                padding:0;
                ul.blocks-gallery-grid{
                    padding:0;
                    .blocks-gallery-item{
                        margin:var(--thm_box_gap, 3px);
                    }
                }
            }
            .wp-block-page-list{
                .wp-block-page-list__submenu-icon{
                    vertical-align:middle;

                    svg{
                        fill:var(--thm_sidebar_text_color);
                    }
                }
                li{
                    &.wp-block-pages-list__item{
                        display:block;
                        margin:auto;

                    }
                    //now dummy css
                    &.has-child{
                        .submenu-container{
                            position:absolute;
                            visibility:hidden;
                            transition:visibility 1s;
                        }

                        .wp-block-pages-list__item__link{
                            display:inline-block;
                        }

                        .wp-block-page-list__submenu-icon:focus ~ .submenu-container{
                            position:relative;
                            visibility:visible;

                        }
                        &:focus-within{
                            .submenu-container{
                                position:relative;
                                visibility:visible;

                            }
                        }

                        a:focus  ~ .submenu-container{
                            position:relative;
                            // when javascript off
                            visibility:visible;

                        }
                    }
                }
            }
            .wp-block-table{
                color:var(--thm_sidebar_text_color);
                table{
                    background:var(--thm_sidebar_bg_color);
                }
            }
        }
    }
}

body.is-dark{
    .sidebar-widget-area{

        &.emulsion-add-dark-color{
            .sidebar-widget-area-lists{
                //setting customizer
                .widget_categories,
                .wp-block-archives-dropdown{
                    option,
                    select{
                        color:var(--thm_black_color);
                        background:var(--thm_white_color, #ffffff);
                    }
                }
                .widget_block{
                    //setting widget block
                    .widget_categories,
                    .wp-block-archives-dropdown{
                        option,
                        select{
                            color:var(--thm_black_color);
                            background:var(--thm_white_color, #ffffff);
                        }
                    }

                }
            }
        }
    }
}


//}
.widget{
    .wp-block-contact-form-7-contact-form-selector{
        padding:0;
        .wrap-contact-form-7{
            padding:0;
            .wpcf7{
                padding:0;
                .wpcf7-form{
                    padding:0;
                }
            }
        }
    }
}
@media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
    // for sidebar width support
    body.emulsion-has-sidebar .sidebar-widget-area{
        position:relative;
        z-index:1;
        flex:0 0;
        flex-basis:100%;
        width:100%;
        max-width:100%;

    }
    ul.sidebar-widget-area-lists{
        //width:100%;
        max-width:100%;
    }
}

.sidebar-widget-area.border-default
.widget .wp-widget-group__inner-blocks>ul>li,
.sidebar-widget-area.border-default .widget>ul>li,
.footer-widget-area.border-default .widget .wp-widget-group__inner-blocks>ul>li,
.footer-widget-area.border-default .widget>ul>li {
    border-bottom-color: var(--thm_common_border, rgba(188, 188, 188, 0.5));
    border-bottom-style: var(--thm_common_border_style, solid);
    border-bottom-width: var(--thm_common_border_width, 1px);
}
.layout ul.sidebar-widget-area-lists .widget_categories>ul{

    padding-right: var(--thm_content_gap, 24px);
    padding-left: var(--thm_content_gap, 24px);

}