body{
    &.emulsion-has-sidebar{

        .sidebar-widget-area{

            font-size:var(--thm_meta_data_font_size, 13px);
            text-transform:var(--thm_meta_data_font_transform);

            position:relative;
            z-index:1;
            flex-basis:var( --thm_sidebar_width, 400px );
            width:var( --thm_sidebar_width, 400px );
            max-width:var( --thm_sidebar_width, 400px );
            flex:1 0;
            margin-top:0;
            margin-bottom:0;

            .sidebar-widget-area-lists{

                padding-left:0;
                padding-right:0;
                list-style: none;
                margin-top:0;
                margin-left:auto;
                margin-right:auto;

                & > li{
                    &:first-child{
                        margin-top:0;
                    }
                    padding-left:0;
                    padding-right:0;
                }

                li{

                    //line-height:calc( 1rem * var( --thm_content_line_height, 1.5 ) );
                    //  font-size:var(--thm_meta_data_font_size, 13px);
                    // text-transform:var(--thm_meta_data_font_transform);

                    #wp-calendar caption,
                    .widgettitle{
                        margin-top:1em;
                        margin-bottom:1em;
                        font-size:20px;
                    }

                }
            }
        }

        .post-navigation{

            padding-left:var(--thm_content_gap, 24px);
            padding-right:var(--thm_content_gap, 24px);
            padding-top: .1rem;
            padding-bottom: 0.75em;
            box-sizing: border-box;
            max-width:100%;

        }

        .has-column{

            display:flex;
            flex-direction: row;
            max-width:100%;
            flex-wrap:wrap;

        }
        .pagination,
        .page-title-block,
        .nav-links{

            margin-left:auto;//ie
            margin-right:auto;//ie
            max-width:100%;

        }
        .banner{
            margin-top:0;
        }
        .page-wrapper{
            order:1;
            flex:1 1 auto;
            min-width:var(--thm_content_width, 720px);
            flex-basis:var(--thm_content_width, 720px);
            box-sizing:border-box;
        }
        .side-right .sidebar-widget-area{
            /**
             * sidebar position control
             * order:0 left sidebar
             * order:2 right sidebar
             * breack point 1249px responsive order issue (sidebar page first)
             */
            order:2;
            .widget{
                overflow:hidden;
            }
        }
        .side-left .sidebar-widget-area{
            /**
             * sidebar position control
             * order:0 left sidebar
             * order:2 right sidebar
             * breack point 1249px responsive order issue (sidebar page first)
             */
            order:0;
            .widget{
                overflow:hidden;
            }
        }
    }

}

.enable-alignfull{
    &.emulsion-has-sidebar{
        .emulsion-full{
            @extend %has-sidebar-alignfull;
            clear:both;
            float:none;
        }
    }

    //article
    &.emulsion-has-sidebar{
        article{

        }
    }
}

/**
 * Sidebar Sequential Control
 * ========================================================================== */
body{
    &.search-no-results,
    &.error404{
        .sidebar-widget-area{
            display:none;
            .sidebar-widget-area-lists{
                display:none;
            }
        }
        .footer-widget-area{
            display:none;
            position:static;
            .footer-widget-area-lists{
                display:none;
            }
        }
    }
    &.emulsion-has-sidebar{
        .sidebar-widget-area {
            min-height:calc(100vh - 80px);
            padding-bottom:80px;
        }
        .has-column{
            max-width:calc( var(--thm_sidebar_width) + var(--thm_main_width) );
            margin-left:auto;
            margin-right:auto;
        }
    }
    .emulsion-no-sidebar{
        .sidebar-widget-area{
            display:none;
        }
    }
    &:not(.emulsion-has-sidebar) .sidebar-widget-area{
        visibility:hidden;
        position:absolute;
        right:0;
    }
}

/**
 * Sidebar fallback
 * ========================================================================== */
.widget{

    h1,h2,h3,h4,h5,div,form{
        padding-left:var(--thm_content_gap, 24px);
        padding-right:var(--thm_content_gap, 24px);
        &.wp-block-latest-posts__featured-image{
            padding-left:0;
            padding-right:0;
        }
    }
    .shortcode-wrapper{
        padding:0;
    }
    &.widget_search{
        .wp-block-search__inside-wrapper{
            padding-left:0;
            padding-right:0;
            width:-moz-fit-content;
            width:fit-content;
            .wp-block-search__button{
                margin-left:3px;
                margin-right:3px;
            }
        }
    }
    p{
        line-height:1.5;
        padding-left:0;
        padding-right:0;
        img{
            margin-left:0;
            margin-right:0;
            max-width:100%;
            height:auto;
        }
    }
    &.widget_block{
        p{
            padding-left:var(--thm_content_gap, 24px);
            padding-right:var(--thm_content_gap, 24px);
        }
    }
    ul,ol{
        padding-left:0;
        padding-right:0;
    }
    li{
        position:relative;
        min-height:3rem;

    }
    img{
        max-width:100%;
        height:auto;
    }
    .widget_media_image{
        text-align:center;
    }
    .gallery{
        .gallery-item{
            margin-top:0;
            margin-bottom:var(--thm_box_gap, 3px);

            .gallery-icon{
                padding-left:0;
                padding-right:0;
            }
        }
    }
    .breadcrumbs{
        margin-top:1.5rem;
        margin-bottom:.75rem;
    }
    .wp-video{
        padding-left:0;
        padding-right:0;
        .mejs-duration,
        .mejs-time{
            white-space:pre;
        }
    }
    &.widget_rss{
        & > ul{
            padding-left:var(--thm_box_gap, 3px);
            padding-right:var(--thm_box_gap, 3px);
        }
    }
    &.widget_media_audio{
        padding-left:var(--thm_box_gap, 3px);
        padding-right:var(--thm_box_gap, 3px);
        .mejs-time{
            white-space:pre;
        }
    }
    &.textwidget{
        ol,
        ul{
            padding-left:40px;
            margin-top:1.5rem;
            margin-bottom:.75rem;
            li{
                list-style:disc;
                border:none;
                margin-top:.375rem;
                margin-bottom:.375rem;
                ol,
                ul{
                    margin-top:0;
                    margin-bottom:0;
                }
                &:empty{
                    display:none;
                }
            }
        }
        & > ul,
        &:not(ul) ul{
            list-style-type:disc;
        }
        & ul ul{
            list-style-type:circle;
        }
        & ul ul ul{
            list-style-type:square;
        }
    }
}
.footer-widget-area,
.sidebar-widget-area{
    .widget[id]{
        &:before{
            display:none;
        }
        & > .widgettitle{

        }
        & > div,
        & > ol,
        & > ul{
            overflow:hidden;
            box-sizing:border-box;
            .flex-control-nav{
                display:flex;
            }
        }
        & > ul{
            li{

                &:before{
                    display:none;
                }
            }
        }
    }
    .widget[id]{
        & > .gallery{
            padding-left:0;
            padding-right:0;
            max-width:100%;
        }
    }
}
/**
 * Widget tag cloud
 * ========================================================================== */
.widget_tag_cloud{
    .tagcloud{
        @extend %block;
        display:flex;
        flex-wrap:wrap;
        a{
            flex:1 1 auto;
            margin-bottom:2px;
            vertical-align:middle;
            display:inline-block;
            text-align:center;
            padding:2px 3px;
            &:hover{
                background:rgba(188, 188, 188, .2);
            }
        }
    }
}
/**
 * Sidebar widget
 * ========================================================================== */
.sidebar-widget-area{

    /**
     * sidebar position control
     * order:0 left sidebar
     * order:2 right sidebar
     * breack point 1249px responsive order issue (sidebar page first)
     */
    @if(  $sidebar_position == 'left') {
        order:0;
    }
    @if(  $sidebar_position == 'right') {
        order:2;
    }
    a[data-title]:hover:after {
        content: attr( data-title );
        max-width:100%;
        display:inline-block;
        background:var(--thm_white_color);
        color:var(--thm_black_color);
        position:absolute;
        top:3rem;
        left:6em;
        right:0;
        padding:1rem;
        z-index:2;
        z-index:10;
    }
    & > ul{
        margin-top:0;
        margin-left:auto;
        margin-right:auto;
        padding:0;
        li{
            margin-top:0;
            margin-bottom:0;
            list-style:none;
            line-height:calc( 1rem * var( --thm_content_line_height, 1.5 ) );
            width:100%;
        }
    }
    .widget{

        .widgettitle{
            overflow:hidden;
        }

        h1{
            line-height:var(--thm_common_line_height);
        }


        & > ol{
            &.wp-block-latest-comments{

                padding-left: var(--thm_content_gap, 24px);
                padding-right: var(--thm_content_gap, 24px);
                footer{
                    margin-left:0;
                    .wp-block-latest-comments__comment-meta{
                        width:auto;
                    }
                }
                .wp-block-latest-comments__comment-excerpt{
                    margin-left:0;
                }
            }

        }

        .wp-block-navigation__container:not(#specificity){
            border-top:none;
            border-bottom:none;
        }
        .wp-block-table{
            width:calc(100% - var(--thm_content_gap, 24px) * 2);
            margin-left:auto;
            margin-right:auto;
        }
        .wp-block-group.dropdown-on-click,
        .wp-block-group.dropdown-on-hover,
        .wp-block-group.emulsion-panel{
            width:calc(100% - var(--thm_content_gap, 24px) * 2);
            margin-left:auto;
            margin-right:auto;
        }

        .wp-block-latest-posts__list:not(#specificity){
            border-top:none;
            border-bottom:none;
            padding:0;
            li{
                margin-top:var(--thm_box_gap);
                margin-bottom:var(--thm_box_gap);
                border:none;
            }
        }

        ol,
        ul{
            border-top:none;
            border-bottom:none;

            li{
                border:none;
            }
        }
        .wp-block-loginout{
            padding:0;
            form{
                padding:0;
            }
        }

        & > ul:not(#specificity){



            &.list-style-tab.success-js,
                &.list-style-inline{
                border-top:none;
                border-bottom:none;
                padding-left: var(--thm_content_gap, 24px);
                padding-right: var(--thm_content_gap, 24px);
                & > li{
                    width:auto;
                    position:static;
                    ul{

                        width:calc(var(--thm_sidebar_width) - var(--thm_content_gap, 24px) * 2);
                        max-width:none;
                        li{
                            width:100%;
                        }
                    }
                }
            }

            // @include font_size(5);
            margin-top:0;
            margin-bottom:0;

            &.wp-block-latest-posts{
                a:first-of-type{
                    font-size:var(--thm_h3_font_size);
                    display:block;
                    margin-top:.75rem;
                    margin-bottom:.75rem;
                    font-family:var(--thm_heading_font_family);
                    font-weight:var(--thm_heading_font_weight);
                    text-transform:var(--thm_heading_font_transform);
                    margin-left:auto;
                    margin-right:auto;
                    width:-moz-fit-content;
                    width:fit-content;
                    max-width:100%;

                }
                .wp-block-latest-posts__featured-image + a:first-of-type{
                    width:auto;
                }


                .wp-block-latest-posts__post-date{
                    margin-left:auto;
                    margin-right:auto;
                }
                .wp-block-latest-posts__post-full-content,
                .wp-block-latest-posts__post-excerpt{
                    line-height:var(--thm_content_line_height, 1.5);
                }

            }


            & > li{
                span,
                a{
                    display:inline-block;
                    padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                    padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                    margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    *{
                        margin-top:0;
                        margin-bottom:0;
                        padding:0;
                    }
                }


                .children,
                .sub-menu{
                    padding-left:var(--thm_content_gap, 24px);
                }
            }
        }
    }
    .current-cat{
        list-style-type:disc;
    }
    .widget_rss{
        ul{
            li{
                max-width:100%;
                a.rsswidget{
                    display:block;
                    text-align:center;
                    margin-bottom:0;
                    padding-left:var(--thm_content_gap, 24px);
                    padding-right:var(--thm_content_gap, 24px);
                    width:auto;
                    font-size:1rem;
                    font-weight:bold;
                    line-height:var(--thm_common_line_height);
                }
                .rss-date{
                    display:block;
                    margin-top:0;
                    margin-bottom:0;
                    padding-left:var(--thm_content_gap, 24px);
                    padding-right:var(--thm_content_gap, 24px);
                    width:auto;
                    text-align:center;
                }
                .rssSummary{
                    padding-left:var(--thm_content_gap, 24px);
                    padding-right:var(--thm_content_gap, 24px);
                    line-height:1.5;
                    margin-top:.75rem;
                    margin-bottom:.75rem;
                }
                .rssSummary:empty{
                    display:none;
                }
                cite{
                    padding-left:var(--thm_content_gap, 24px);
                    padding-right:var(--thm_content_gap, 24px);
                }
            }
        }
    }
    .widget_media_gallery{
        .gallery{
            padding-left:0;
            padding-right:0;
        }
    }
    .widget_archive{
        select[name="archive-dropdown"]{
            margin:1.5rem auto .75rem;
            width:calc( 100% - var( --thm_content_gap, 24px ) * 2 );
            max-width:100%;
            padding:.69rem;
        }
    }
    .widget_categories{
        .postform{
            margin-top:1.5rem;
            margin-bottom:.75rem;
            width:calc( 100% - var( --thm_content_gap, 24px ) * 2 );
            max-width:100%;
            padding:.69rem;
        }
    }
    .widget_tag_cloud{
        .tagcloud{
            @extend %block;
        }
    }
    .widget_nav_menu{
        .menu{
            @extend %block;
            padding-left:0;
            padding-right:0;
            & > li{
                &  > a{
                    margin-top:0;
                    margin-bottom:0;
                }
            }
        }
        & > div:not(.has-chckbox-control) {
            .menu{
                @extend %block;
                padding-left:0;
                padding-right:0;
                & > li{
                    list-style: none;
                    padding-top: 0.71rem;
                    padding-bottom: 0.71rem;
                    line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                    font-size: var(--thm_meta_data_font_size, 13px);
                    text-transform: var(--thm_meta_data_font_transform);
                    &  > a{
                        padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                        padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                        margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                    }
                }
            }
        }
    }
    .wp-caption{
        &.alignnone{
            margin-top:1.5rem;
            margin-bottom:.75rem;
            margin-left:0;
            margin-right:0;
        }
    }
    .widget_calendar{
        @include font_size(5);
        width:100%;
        .calendar_wrap{
            text-align:center;
            width:calc( 100% - var(--thm_content_gap, 24px) * 2 );
            margin-left:auto;
            margin-right:auto;

        }
    }
}
/**
 * Footer Widget
 * ========================================================================== */
body{
    .template-part-widget-footer{
        @extend .sidebar-widget-area;
        &.footer-widget-area{
            @extend %no-sidebar-alignfull;
            display:block;
            visibility:visible;

            .footer-widget-area-lists{
                padding:1.5rem var(--thm_content_gap, 24px) .75rem;
                padding-right:var(--thm_content_gap, 24px);
                width:100%;
                display:flex;
                flex-wrap:wrap;
                margin:0 auto 0;
                justify-content:center;
                & > li{
                    // Customizer relate cols
                    flex:1 1 var( --thm_footer_widget_width );
                    min-width:var(--thm_content_min_width);
                    list-style:none;
                    margin:var(--thm_box_gap, 3px);
                    .widgettitle{
                        overflow:hidden;
                        width:auto;
                        margin-top:1.5rem;
                    }
                    & > div:not(.gallery){

                        max-height:70vh;
                        overflow-y:scroll;
                        overflow-x:hidden;
                        @include font_size(5);
                        margin-bottom:0;
                        margin-top:0;
                        & > .menu{
                            margin-top:0;
                        }
                        &::-webkit-scrollbar {
                            width: .5rem;
                            height:100px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: var(--thm_black_color);
                            outline: 1px solid var(--thm_black_color);
                        }
                    }
                    & > ul{
                        max-height:70vh;
                        overflow-y:scroll;
                        overflow-x:hidden;
                        @include font_size(5);
                        margin-bottom:0;
                        &::-webkit-scrollbar {
                            width: .5rem;
                            height:100px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: var(--thm_black_color);
                            outline: 1px solid var(--thm_black_color);
                        }
                    }
                    ul{
                        width:auto;
                    }
                    .children,
                    .sub-menu{
                        padding-left:var(--thm_content_gap, 24px);
                    }
                }
            }
        }
        &.sidebar-is-dark{
            .footer-widget-area-lists > li > ul::-webkit-scrollbar-thumb{
                background-color: var(--thm_white_color);
                outline: 1px solid var(--thm_white_color);
            }
        }
        .widget_nav_menu{
            .menu{
                @extend %block;
                padding-left:0;
                padding-right:0;
                & > li{
                    &  > a{
                        margin-top:0;
                        margin-bottom:0;
                    }
                }
            }
            & > div:not(.has-chckbox-control) {
                .menu{
                    @extend %block;
                    padding-left:0;
                    padding-right:0;
                    & > li{
                        list-style: none;
                        padding-top: 0.71rem;
                        padding-bottom: 0.71rem;
                        line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                        font-size: var(--thm_meta_data_font_size, 13px);
                        text-transform: var(--thm_meta_data_font_transform);
                        &  > a{
                            padding-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            padding-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            padding-left:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                            padding-right:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 2 );
                            margin-top:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                            margin-bottom:calc( 1rem * var( --thm_content_line_height, 1.5 ) / 4 );
                        }
                    }
                }
            }
        }
        .wp-caption{
            &.alignnone{
                margin-top:1.5rem;
                margin-bottom:.75rem;
                margin-left:0;
                margin-right:0;
            }
        }
        .widget_calendar{
            @include font_size(5);
            width:100%;

            .calendar_wrap{
                text-align:center;
                max-width:100%;

            }
        }
    }
}
/**
 * bbpress
 */
.widget{
    &.widget_display_stats{
        display:block;
        max-width:100%;
        margin-top:0;
        margin-bottom:0;
        dt{
            float:left;
            clear:left;
            margin-top:1.5rem;
            margin-bottom:.75rem;
        }
        dd{
            float:left;
            margin-top:1.5rem;
            margin-bottom:.75rem;
        }
    }
    &.widget_display_search{
        .bbp-search-form{
            #bbp_search{
                width:calc(100% - 70px);
            }
        }
    }
}
/**
 * woocommerce
 */
.widget{
    &.widget_shopping_cart{
        .cart_list{
            li{
                a.remove{
                    line-height: calc(1rem * var( --thm_content_line_height, 1.5 ));
                }
            }
        }
    }
}

.emulsion-has-sidebar{
    .primary-menu-wrapper{
        display:flex;
        flex-direction: row;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        nav[class|="menu"]{
            order:1;
            flex:1 1 auto;
            position:relative;
            width: var(--thm_content_width, 720px);
            box-sizing: border-box;
            flex-wrap:wrap;
        }
        &.menu-inactive{
            display:none;
            .menu-placeholder{
                display:none;
            }
        }
        .menu-placeholder:empty{
            display:none;
        }
        .menu-placeholder{
            position:relative;
            z-index:1;
            flex-basis:var( --thm_sidebar_width, 400px );
            width:var( --thm_sidebar_width, 400px );
            max-width:100%;
            flex:0 0;
            text-align:right;
        }
        &.side-right{
            .menu-placeholder{
                order:2;
            }
        }
        &.side-left{
            .menu-placeholder{
                order:0;
            }
        }
    }
    .header-layer{
        .menu-simple-container{
            .menu{
                margin-top:0;
            }
        }
    }
}

/**
 * Sticky Sidebar
 * =================================================================== */
.emulsion-has-sidebar{
    &.disable-sidebar-sticky{
        .sidebar-widget-area .widget:last-child{
            position: static;
        }
    }
    .sidebar-widget-area-lists{
        height:100%;
    }
    .sidebar-widget-area .widget:last-child{
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }
    &.on-scroll{
        overflow:visible;
        &.logged-in{
            .menu-inactive{
                & ~ .has-column{
                    .sidebar-widget-area{
                        top:32px;
                    }
                }
            }
        }
    }
}
.emulsion-has-sidebar{
    .menu-inactive{
        &.primary-menu-wrapper{
            display:none;
        }
    }
    &.on-scroll{
        overflow:visible;
    }
}

/**
 * Widget Navigation Menu
 * ========================================================================== */
.widget_nav_menu{
    & > div{
        &.has-chckbox-control{
            .menu{
                width:100%;
                & > li{
                    list-style:none;
                    margin:0 var(--thm_box_gap, 3px) 0;
                    &:not(.menu-item-has-children) a{
                        display:inline-block;
                    }
                    ul{
                        @include clip;
                        width:100%;
                        text-align:left;
                        display:none;//EDGE
                    }
                }
                li{
                    list-style:none;
                    padding-top:.71rem;
                    padding-bottom:.71rem;
                    .nav-menu-child-opener:checked ~ .children .menu-item-has-children,
                        .nav-menu-child-opener:checked ~ .children,
                        .nav-menu-child-opener:checked ~ .sub-menu{
                        clip:auto;
                        height:auto;
                        clip-path: none;
                        display:block; //EDGE
                        visibility:visible;
                    }
                }
            }
        }
    }
}

.noscript{
    .widget_nav_menu{
        .menu-item-has-children>a:after{
            display:none;
        }
    }
}

body{
    .header-layer{
        .drawer-block{
            .wp-block-search__inside-wrapper{
                [type="submit"],
                [type="search"]{
                    color:var(--thm_black_color);
                }
            }
        }
    }
    &.emulsion-has-sidebar{
        .sidebar-widget-area-lists{
            padding-left:0;
            padding-right:0;

            .widget_block{
                .wp-block-latest-posts{
                    padding-left:0;
                    .wp-block-latest-posts__post-author{
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
                .wp-block-gallery{
                    padding:0;
                    ul.blocks-gallery-grid{
                        padding:0;
                        .blocks-gallery-item{
                            margin:var(--thm_box_gap, 3px);
                        }
                    }
                }
                .wp-block-page-list{
                    .wp-block-page-list__submenu-icon{
                        vertical-align:middle;

                        svg{
                            fill:var(--thm_sidebar_text_color);
                        }
                    }
                    li{
                        //now dummy css
                        &.has-child{
                            .submenu-container{
                                visibility:hidden;
                                position:absolute;
                                transition:visibility 1s;
                            }
                            .wp-block-pages-list__item__link{
                                display:inline-block;
                            }

                            .wp-block-page-list__submenu-icon:focus ~ .submenu-container{
                                visibility:visible;
                                position:relative;

                            }
                            &:focus-within{
                                .submenu-container{
                                    visibility:visible;
                                    position:relative;

                                }
                            }

                            a:focus  ~ .submenu-container{
                                // when javascript off
                                visibility:visible;
                                position:relative;

                            }
                        }
                    }
                }
                .wp-block-table{
                    color:var(--thm_sidebar_text_color);
                    table{
                        background:var(--thm_sidebar_bg_color);
                    }
                }
            }
        }
    }

    &.is-dark{
        .sidebar-widget-area{

            &.emulsion-add-dark-color{
                .sidebar-widget-area-lists{
                    //setting customizer
                    .widget_categories,
                    .wp-block-archives-dropdown{
                        option,
                        select{
                            background:var(--thm_white_color);
                            color:var(--thm_black_color);
                        }
                    }
                    .widget_block{
                        //setting widget block
                        .widget_categories,
                        .wp-block-archives-dropdown{
                            option,
                            select{
                                background:var(--thm_white_color);
                                color:var(--thm_black_color);
                            }
                        }

                    }
                }
            }
        }
    }


}
.widget{
    .wp-block-contact-form-7-contact-form-selector{
        padding:0;
        .wrap-contact-form-7{
            padding:0;
            .wpcf7{
                padding:0;
                .wpcf7-form{
                    padding:0;
                }
            }
        }
    }
}