.has-custom-logo{

    .site-title-text,
    .site-description{

     //   position: absolute;
      //  clip: rect(1px, 1px, 1px, 1px);

    }
}
/**
 * header
 * ========================================================================== */

.header-layer{
    position:relative;
    width:100%;
    margin-right:auto;
    margin-left:auto;


    &.header-video-active{

        .entry-text{
            z-index:2;
            a{
                z-index:2;
            }
        }

        .site-description{
            z-index:2;
            a{
                z-index:2;
            }
        }

        .header-text{
            z-index:2;
            a{
                z-index:2;
            }
        }

        .site-description{
            z-index:2;
        }

    }
    .header-text{

        .site-title{

            padding-top:0;
        }

        .site-description{
            display:inline-block;
            padding-right:var(--thm_content_gap, 24px);
            padding-bottom:0;
            padding-left:var(--thm_content_gap, 24px);
        }
    }

    div.entry-text{
        max-width:100%;
        margin-right:auto;

        margin-left:auto;

        .entry-meta{
            padding-bottom:.75rem;
        }
    }

    &:not(.cta-layer-active){

        .page-title-block{
            min-height:25vh;
        }
    }

    div.page-title-block{
        max-width:100%;
        margin-right:auto;

        margin-left:auto;
        overflow:hidden;

        h2{
            @include font_size(2);
            padding-top:.75em;
            padding-bottom:.75em;
            margin-top:0;
            margin-right:auto;
            margin-bottom:0;
            margin-left:auto;// not rem
        }

        .taxonomy-description{

            @extend %block;
            padding-right:0;
            padding-left:0;
            margin:0 auto 24px;

            p{
                width: -moz-fit-content;
                width:fit-content;
            }

            p:first-child{
                margin-top:0;
            }

            p:last-child{
                margin-bottom:0;
            }
        }

    }
    &.cta-layer-active{

        div.page-title-block{

            h2{

                &:first-child:last-child{
                    // not exists taxonomy-description
                    padding-top:1em;
                    padding-bottom:1em;
                    margin-bottom:0;
                }
            }
        }
    }
    &.header-image-active{

        &.cta-layer-active{

            .wp-custom-header{

                height:var(--thm_header_media_max_height, 75vh);

                img{
                    height:var(--thm_header_media_max_height, 75vh);
                }
            }
        }

        .site-description,
        .header-text a{

            z-index:auto;
        }

        img{

            object-fit:cover;
        }

        .entry-text{

            z-index:3;
            padding-bottom:0;
            a{
                z-index:3;
            }
        }

        div.page-title-block{
            position:absolute;
            top:100px;
            right:0;
            bottom:0;
            left:0;
            z-index:5;

            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            margin:auto auto 0 auto;
            color:var(--thm_header_text_color);

            a{
                color:var(--thm_header_text_color);
            }
        }

        .header-layer-nav-menu{

            nav > ul > li > a{
                color:var(--thm_white_color, #ffffff);
            }
            .nav-menu-child-opener-label:before{
                //@since 1.2.9 move to style.css background:url('#{$theme_image_dir}svg/arrow-down.svg#white');
                background-size:contain;
            }
            .nav-menu-child-opener[type="checkbox"]:checked ~ label:before {
                //@since 1.2.9 move to style.css background:url('#{$theme_image_dir}svg/arrow-up.svg#white');
                background-size:contain;
            }
        }
    }
    /**
     * template-part-self.php
     * ========================================================================== */
    &.template-part-header-self{

        overflow:hidden;

        .entry-title{
            @extend %block;
            text-align:center;
        }

        .posted-on{
            @extend %block;
            text-align:center;
        }

        .entry-meta{
            @extend %block;
            text-align:center;
        }

        .is-user-header{
            position:relative;

            left:0;
            width:100%;
            height:100%;

            & > div,
            & > .alignfull{
                width:calc(100vw - 17px);
            }

            .shortcode-wrapper{
                width:100%;

                margin-top:0;
                margin-bottom:0;
            }
        }
    }
    /**
     * template-part-header.php
     * ========================================================================== */
    &.template-part-header{
        position:relative;

        display:flex;
        flex-direction:column;
        flex-wrap:wrap;

        .header-layer-site-title-navigation{

            .menu{

                .children,
                .sub-menu{
                    li{
                        box-sizing:border-box;
                    }
                }
            }
        }

        &.header-image-active{

            overflow:hidden;

            .wp-post-image{
                position:absolute;
                top:0;
                left:0;
                display:block;
                width:100vw;
                max-width:100%;
                height:var(--thm_header_media_max_height, 75vh);
                margin-top:0;
                -o-object-fit:cover;
                object-fit:cover;
            }
        }

        .header-layer-nav-menu{
            z-index:6;
            display:inline-block;
            flex:1 1 auto;

            //padding-right:24px;
            text-align:left;

            ul.wp-nav-menu{
                &.top-right[data-direction="vertical"]{
                    margin-right:0;
                }
                &.top-right[data-direction="horizontal"]{
                    margin-right:0;
                }
            }
            nav{

                //padding-top:.685rem;
                text-align:left;

                .menu{
                    margin-right:auto;
                    margin-left:auto;
                    &[data-direction="vertical"]{
                        margin-top:-.685rem;
                    }
                }
            }
        }

        .header-text{

            flex:1 1 auto;
            width:auto;
            min-width:298px;
            text-align:left;

            .site-title{
                position:static;
                width:auto;
                max-width:100%;
                padding-top:11px;
                margin:0;
            }
            .site-description{
               @include font_size(5,no-margin);
                width:auto;
                max-width:100%;
                margin-top:0;
                margin-bottom:0;
            }
        }

        .entry-text{

            flex:1 1 auto;
            text-align:center;

            .entry-title{
                width: -moz-fit-content;
                width:fit-content;
                margin-right:auto;
                margin-left:auto;
            }

            .posted-on{
                width: -moz-fit-content;
                width:fit-content;
                margin-right:auto;
                margin-left:auto;
            }

            .entry-meta{

                ul{
                    margin-right:auto;
                    margin-left:auto;
                }
            }

            .emulsion-scroll{
                margin-right:auto;
                margin-left:auto;
            }
        }

        .custom-logo-wrap img{
            width:auto;
            max-width: 100%;
            max-height:60px;
            vertical-align: middle;
            // transform: translate(0, -.5rem);
        }
    }
    /**
     * template-part-header-custom.php
     * ========================================================================== */
    &.template-part-header-custom{

        overflow:visible;

        &.password-required{

            .entry-text{
                position:static;
                padding-bottom:4rem;
                margin-bottom:0;
                overflow-y:visible;
            }
        }

        &.no-header-media{

            height:auto;
            min-height:70px;

            .header-text{
                position:static;
                z-index: 3;
            }
            .page-title-block,
            .entry-text{
                position:static;
                overflow-y:visible;
            }
        }

        .header-text{
            top:0;
            left:0;
            z-index: 4;

            width:100%;

            .site-title{
                z-index:3;
                padding-top:var(--thm_content_gap, 24px);
                padding-left:var(--thm_content_gap, 24px);
                margin-top:0;
                margin-right:0;
                margin-bottom:0;
                margin-left:0;

            }

            .site-description{
                // position:relative;
                z-index:7;
                padding-bottom:.75rem;
                padding-left:var(--thm_content_gap, 24px);
                margin-top:0;
                margin-bottom:0;
            }

            .site-title-link{
                position:relative;
                z-index:7;
            }

            .wp-custom-logo .site-title-text{
                position: absolute;
                clip: rect(1px, 1px, 1px, 1px);
            }

            .custom-logo-wrap img{
                width:auto;
                max-width: 100%;
                vertical-align: middle;
            }
        }

        .wp-post-image{
            position:relative;
            top:0;
            left:0;
            display:block;
            width:100vw;
            max-width:100%;
            height:var(--thm_header_media_max_height, 75vh);
            margin-top:0;
            -o-object-fit:cover;
            object-fit:cover;
        }

        .wp-custom-header{

            //header image video wrapper
            position:relative;
            text-align:center;

            video#wp-custom-header-video{
                display:block;
                width:auto;
                height:var(--thm_header_media_max_height, 75vh);
                margin-right:auto;
                margin-left:auto;
                object-fit:contain;
            }

            iframe#wp-custom-header-video,
            img{
                display:block;
                width: 100vw;
                height: var(--thm_header_media_max_height, 75vh);
                margin-right:auto;
                margin-left:auto;
                object-fit:cover;
            }
        }

        .entry-text{

            position:absolute;
            top:0;
            left:0;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction:column;
            flex-direction:column;
            align-items: center;
            justify-content:flex-start;
            width:100%;
            height:100%;
            min-height:25vh;
            overflow-x:hidden;
            overflow-y:auto;
            text-align:center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -ms-flex-pack: center;

            & > div{
                width:var(--thm_main_width);
                //  flex:1 1 auto;
                max-width:100%;
            }

            div .entry-title{
                width: -moz-fit-content;
                width:fit-content;
                overflow:hidden;

            }

            .entry-meta{
                @extend %block;
              @include font_size(5);
            }

            .posted-on{
                @extend %block;
               @include font_size(5);
                z-index:7;
                width: -moz-fit-content;
                width:fit-content;
            }

            .entry-title{
                @extend %block;
            }
        }
    }

    &.header-image-active{

        img{
            position:relative;
            z-index:1;
            -webkit-transition:  filter 1s ease;
            transition: filter 1s ease;
        }
        .header-text,
        .taxonomy-description{
            transition: background 1s ease;
        }
        .entry-text{
            justify-content:center;

            -webkit-transition:  background 1s ease; /* Safari */
            transition: background 1s ease;

            &:before{
                position:absolute;
                top:0;
                left:0;
                z-index:-1;
                width:100%;
                height:100%;
                content:' ';
                background:var(--thm_header_image_dim);
            }

            .entry-title{
                z-index:2;
            }

            .entry-meta{
                li{
                    z-index:2;
                }
            }
        }

    }

}
.scheme-bloging .header-layer,
.scheme-daybreak .header-layer{
    z-index:20;
}

body:not(.home){
    .header-image-active{
        img{
            z-index:1;
        }
        &:hover{
            .header-text{
                background:var(--thm_header_image_dim);
                transition: all 1s ease;
            }
        }
    }
}
body.single .header-layer.cta-layer-active,
body.page .header-layer.cta-layer-active{
    .entry-text{
        min-height:0;

    }
}
/**
* Site Title Only Home
*/
.home:not(.paged){
    .header-layer{
        &.template-part-header-custom{
            &.header-image-active{
                .header-text{
                    transition:none;
                    .site-title-text{
                        color:var(--thm_white_color, #ffffff);

                    }
                    .site-description{
                        color:var(--thm_white_color, #ffffff);
                    }

                    &:before{
                        position:absolute;
                        top:0;
                        left:0;
                        z-index:-1;
                        width:100%;
                        height:100%;
                        content:' ';
                        background:var(--thm_header_image_dim);
                    }
                }

            }
        }
    }
}

.drawer-is-active{

    .header-layer{
        &.header-image-active{
            &:hover{
                .header-text{
                    background:transparent;
                    transition:none;
                }
            }
        }
    }
    .header-layer{
        &.template-part-header-custom{
            &.header-image-active{
                .header-text{
                    background:transparent;
                    transition:none;
                }
            }
        }
    }
    &.home:not(.paged){

        .header-layer{
            &.template-part-header-custom{
                &.header-image-active{
                    &:hover{
                        background:transparent;
                    }
                    .header-text{
                        background:transparent;
                        transition:none;
                        &:before{
                            display:none;
                        }
                        .site-title-text{
                            color:var(--thm_header_text_color);
                        }
                        .site-description{
                            color:var(--thm_header_text_color);
                        }

                    }
                }
            }
        }
    }

    .primary-menu-wrapper.menu-active{
        display:none;
    }
}


.page{

    .header-layer{

        &.header-image-active{

            .entry-text{

                & > div{
                    margin-top:0;
                }
            }
        }
    }

    article{

        .show-post-image{

            .entry-title{
                margin-top:0;
            }
        }
    }
}

.home{

    .header-layer{

        &.template-part-header-custom{

            &.header-image-active{

                .header-text{
                    .site-title{
                        z-index:3;
                        padding-top:0;
                    }
                }
            }
        }
    }
}
/**
 * CSS sequence
 * ========================================================================== */
//body{
body.blog{
    .breadcrumbs{
        display:none;
    }
}

/**
 * Type Page
 * 404 file not found, fail search.
 */
body.search-no-results,
body.error404{

    .breadcrumbs{
        display:none;
    }

    .page-wrapper{

        margin-top:0;
        margin-bottom:0;

        .emulsion-failed{
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction:column;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            height:100%;
            min-height:calc(100vh - 14rem);
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -ms-flex-pack: center;
        }
    }
}

/**
 * Type Paged
 * diaable Header Image
 */
body[class*="paged-"]{

    .header-image-active{

        &.template-part-header-custom{
            min-height:75px;
        }
    }

    .hero-content{
        // same .entry-text
        display:none;
    }
}

body .toc > ul{
    max-height:80vh;
    overflow-y:auto;
    list-style-type:disc;
}

body .template-part-header{
    z-index:14;
    .header-layer-site-title-navigation{
        z-index:9999;

        display:flex;
        width:100%;
        @media screen and ( max-width : 768px) {
            flex-wrap:wrap;//new
            max-width:100%;//new
            .menu-main-container{
                max-width:100%;
            }
            #menu-main{
                max-width:100%;
            }

        }
        .header-text{
            position:relative;
            flex:1 1 auto;
        }
        .header-layer-nav-menu{
            position:relative;
            flex:1 1 auto;

        }
    }
}
/**
 * When Scroll
 * ========================================================================== */
body.on-scroll{

    .header-image-active{

        &.template-part-header{

            .header-layer-site-title-navigation{
                position:fixed;
                z-index:3;
                display:flex;
                width:100%;
            }
        }
        .entry-text{
            height:100%;
        }
    }
    .header-image-active + .page-wrapper{
        padding-top:0;
    }
}
/**
 * Type Singular
 * ========================================================================== */
body.page,
body.single{

    .template-part-header-custom{

        &.header-image-active{

            .header-text{
                position:absolute;
            }
        }
    }

    .template-part-header{

        &.header-image-active{

            .header-text{
                z-index:4;
            }
        }
    }
}
/**
 * When has header image
 * ========================================================================== */
body .header-image-active{

    &.template-part-header{

        .header-layer-site-title-navigation{

            .header-text{
                .site-description{
                    display:block;
                }
            }
        }
    }
}

body .header-image-active + .page-wrapper{
    padding-top:70px;
}

body .wp-custom-header{
    max-height:var(--thm_header_media_max_height, 75vh);
    img{
        width:100vw;
        // height: calc( 100vw * #{$header_image_ratio} );
        height:var(--thm_header_media_max_height, 75vh);
    }
}
.emulsion-amp-standard{
    .header-layer.template-part-header-custom .wp-custom-header{
        overflow:hidden;
    }
    .header-layer.template-part-header-custom .wp-custom-header amp-img {
        display: block;
        width: 100vw;
        height: auto;

    }
}
body .header-video-active{

    iframe#wp-custom-header-video{
        width:100vw;
        height:var(--thm_header_media_max_height, 75vh);
        margin-top:0;
    }
}

body.enable-alignfull{

    iframe#wp-custom-header-video{
        width:100vw;
        height:var(--thm_header_media_max_height, 75vh);
        margin-top:0;
    }
}


body.admin-bar{
    header{
        .header-text{
            flex:1 1 auto;
        }
    }
}
//}

.header-layer-site-title-navigation.is-user-header:empty{
    display:none;
}

button.wp-custom-header-video-button{
    position:absolute;
    right:auto;
    bottom:0;
    left:16px;
    z-index:4;
    display:inline-block;
    padding:2px 4px 0;

    margin:.5em;
    background:rgba(188,188,188,.4);
    border:none;
    border-radius: 0;
    outline:none;

    .icon-play,
    .icon-pause{
        width:32px;
        height:36px;
    }
}
@supports ( width:fit-content ) or ( width: -moz-fit-content ){

    body > header .entry-text div .entry-title{
        width: -moz-fit-content;
        width:fit-content;
        text-align:left;
    }

    .emulsion-scroll{
        display:inline-block;
        width: -moz-fit-content;
        width:fit-content;
        max-width:100%;
    }
}

.taxonomy-description{
    @extend %block;
    margin:0 auto 24px;
}
/**
 * drawer
 * ========================================================================== */
.drawer-is-active{

    //conditional setting
    .entry-text{
        display:none!important;
    }

    .page-title-block{
        display:none!important;
    }

    .wp-post-image{
        height:100px!important;
    }

    &.home:not(.paged){

        .header-layer{

            &.header-video-active,
            &.header-image-active{

                &.template-part-header-custom{

                    .header-text{
                        right:0;
                        left:0;
                        display: block;
                        width:90vw;
                        height: 10vh;
                        margin-right:auto;
                        margin-left:auto;
                        .site-title{
                            margin-right:auto;
                            margin-left:auto;
                        }
                        .site-description{
                            display:block;
                            margin-right:auto;
                            margin-left:auto;
                        }
                    }
                }
            }
            &.template-part-header-custom{

                &.header-image-active{

                    .header-text{

                        transition: all 1s ease;

                        .site-title-text{
                            transition: all 1s ease;
                            -moz-text-stroke: 1px rgba(0,0,0,.5);
                            -webkit-text-stroke: 1px rgba(0,0,0,.5);
                        }
                        .site-description{
                            transition: all 1s ease;
                        }
                    }
                }
            }
        }
    }
}

.drawer-wrapper{

    label[for="c1"]{

        position:absolute;
        top:1rem;
        right:0;
        z-index:4;

        .icon{
            position:absolute;
            top:.5rem;
            right:1.5rem;
            z-index:8;
            cursor:pointer;
            background:transparent;
            fill:var(--thm_header_text_color);
        }

        &.close{
            right:1rem;
        }
    }

    input[id="c1"]{
        position:absolute;
        top:0;
        right:0;
        z-index:1;
        padding:0;
        margin:0;
        visibility:hidden;
    }

    input[id="c1"]:checked~.drawer{
        z-index:11;
        display:block;
        width:100%;
        /*safari */ width:100vw;
        /*safari*/ height:775px;
        height:auto;
    }
}

.header-video-active,
.header-image-active{

    input[id="c1"]:checked~.drawer{
        min-height:100vh;
    }

    label[for="c1"]{

        top:1rem;

        &.close{

            right:1rem;

            .icon{
                fill:var(--thm_header_text_color);
            }
        }
        .icon{
            fill:var(--thm_white_color, #ffffff);
        }
    }

    .drawer{
        color:var(--thm_header_text_color);
        background: var(--thm_header_bg_color);
    }
}

.template-part-search-drawer:focus{

    label[for="c1"]{

        .icon{
            fill:red;
        }
    }
}

.header-video-active{
    min-height:70px;
}

.customize-partial-edit-shortcuts-shown,
.logged-in{

    .no-header-media{

        label[for="c1"]{

            z-index:4;

            .close,
            .icon{
                top:.5rem;
            }
        }
    }
    .header-video-active,
    .header-image-active{

        label[for="c1"]{

            z-index:4;

            .close,
            .icon{
                top:.5rem;
            }
        }
    }
}

.no-header-media{

    label[for="c1"]{

        .icon{
            top:.5rem;
        }
    }
    input[id="c1"]:checked~.drawer{
        min-height:100vh;
    }
}

.emulsion-append-header-layer:not(:empty) ~ .drawer-wrapper .drawer-block{
    margin-top:18rem;
}

.drawer{
    position:absolute;
    top:0;
    left:0;
    display:none;

    color:var(--thm_header_text_color);
    text-align:left;
    background: var(--thm_header_bg_color);

    li{

        width:auto;
        h4,
        a{
            color:var( --thm_header_text_color );
        }
    }

    .close{
        position:absolute;
        z-index:5;
        cursor:pointer;
    }

    .search-box{
        margin-top:6rem;
        form{
            text-align:center;
        }
    }

    .search-info{

        .taxonomy {

            width:var(--thm_content_width, 720px);

            li{
                list-style:none;
                &.horizontal-list-group{
                    margin-right:auto;
                    margin-left:auto;
                }
            }
            ul{
                width:auto;
            }
        }
    }

    .drawer-block{

        width:var(--thm_main_width);
        max-width:100%;
        padding-bottom:20vh;
        margin-right:auto;
        margin-left:auto;

        .search-info{

            .taxonomy{

                li:before{
                    display:none;
                }
            }
        }
    }
}


.emulsion-layout-has-title{

    .page-title-block{

        position:relative;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction:column;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        min-height:25vh;
        margin-right:calc(var(--thm_content_gap, 24px) * -1);
        margin-left:calc(var(--thm_content_gap, 24px) * -1);
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
    }

}

.home{

    .header-video-active,
    .header-image-active{

        .drawer-block{
            margin-top:25vh;
        }
    }

    &.emulsion-header-has-title,
    &.emulsion-layout-has-title{

        .header-video-active.cta-layer-active.template-part-header-custom,
        .header-image-active.cta-layer-active.template-part-header-custom{

            position:relative;

            .cta-layer{
                position:absolute;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
        &.drawer-is-active{

            .cta-layer-active.template-part-header-custom{

                .cta-layer{
                    top:0;
                    height:25vh;
                }
            }
        }
    }
}

.search-results,
.error404,
.author,
.tag,
.category{

    &.emulsion-header-has-title{
        &.drawer-is-active{

            .cta-layer-active.template-part-header-custom{

                .cta-layer{
                    top:3rem;
                }
            }
        }
    }
}

body.single{

    &.emulsion-header-has-title{
        .header-video-active.cta-layer-active.template-part-header-custom,
        .header-image-active.cta-layer-active.template-part-header-custom{

            position:relative;

            .cta-layer{
                position:absolute;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        &.drawer-is-active{

            .cta-layer-active.template-part-header-custom{

                .cta-layer{
                    top:5.5rem;
                }
            }
        }
    }

}

body.page{

    &.emulsion-header-has-title{

        .header-video-active.cta-layer-active.template-part-header-custom,
        .header-image-active.cta-layer-active.template-part-header-custom{

            position:relative;

            .cta-layer{
                position:absolute;
                right: 0;
                bottom: 0;
                left: 0;

            }
        }
        &.drawer-is-active{

            .cta-layer-active.template-part-header-custom{

                .cta-layer{
                    top:3rem;
                }
            }
        }
    }
}
.emulsion-layout-no-title{
    .header-layer{
        .entry-text{
        display:none;
        }
    }
}
.cta-layer-active{

    .drawer-block{
        margin-top:240px;
    }

    .cta-layer{
        z-index:10;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction:row;
        flex-direction:row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        min-height:25vh;

        text-align:center;
        text-align:center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;

        .skin-button{
            //@1.3.3 margin-bottom:3rem;
            margin:calc(var(--thm_box_gap, 3px) / 2) var(--thm_box_gap, 3px) ;

        }
    }
}

.is-searching-progress{

    .site-title{
        font-size:1rem;
    }
}
input[type="checkbox"][data-skin] + label[for="primary-menu-controll"],
.header-layer-nav-menu input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
    position:relative;
    top:3rem;
    left:calc(100% - 2rem);
    display:block;
    margin:0 1em 45px;
    clear:both;
    vertical-align:middle;
    @media screen and ( min-width : 768px) {
        display:none!important;

    }
}

.emulsion-no-sidebar input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
    left:100%;
}
.emulsion-no-sidebar .header-layer-nav-menu input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
    // left:calc(100% - var(--thm_content_gap, 24px) * 2);
}
.header-layer-nav-menu input[type="checkbox"][data-skin] {
    display:none;
}
input[type="checkbox"][id="toc-toggle"]{
    display:none;
    visibility:hidden;
}

input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span{
    position: absolute;
    display:inline-block;
    width: 35px;
    height: 5px;
    margin:-30px 45px 0 0;
    vertical-align: middle;
    cursor:pointer;
    content: '';
    background:var(--thm_gray_color);
    border-radius: 1px;
}
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span {
    position: absolute;
    display:inline-block;
    width: 35px;
    height: 5px;
    margin:0 45px 0 0;
    vertical-align: middle;
    cursor:pointer;
    content: '';
    background:var(--thm_gray_color);
    border-radius: 1px;
    @media screen and ( max-width : 768px) {
        margin:-90px 20px 0 -48px;
    }
}
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span,
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:before,
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:after{
    position: absolute;
    display: block;
    width: 35px;
    height: 6px;
    cursor: pointer;
    content: '';
    background:var(--thm_gray_color);
    border-radius: 1px;
}
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:before,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:before{
    top: -10px;
}

input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:after,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:after{
    bottom: -10px;
}

input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span,
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:before,
input[type="checkbox"][data-skin="hamburger"] + label[for="primary-menu-controll"] span:after{
    transition: all 500ms ease-in-out;
}
input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span {
    background-color: transparent;
}
input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:before,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:before,
input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:after {
    top: 0;
}
input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:before,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:before{
    transform: rotate(45deg);
}
input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:after,
.header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"]:checked + label[for="primary-menu-controll"] span:after{
    transform: rotate(-45deg);
}
.header-layer-nav-menu input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
    display:none;
}
.template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin] + label[for="primary-menu-controll"],
html[style^="overflow"] .template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
    // sticky column
    //visibility:hidden;
    //
    // position:absolute;
    @media screen and ( min-width : 780px ) {
        display:none;
    }
}
.emulsion-prepend-page-wrapper{

    @extend %block;
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}
.emulsion-prepend-page-wrapper:empty{
    display:none;
}
.emulsion-prepend-page-wrapper:not(:empty){

    & ~ main{
        .grid,
        .stream{
            margin-top:0;
        }
    }
}
/**
 * Home Site Title ( not paged )
 * ========================================================================== */
.home:not(.paged){

    .header-layer{

        &.header-video-active,
        &.header-image-active{

            &.template-part-header-custom{

                .header-text{
                    position:absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    height:100%;

                    .site-title{
                        font-size:var(--thm_h1_font_size);
                        font-weight:normal;
                        text-align:center;
                    }

                    .site-description{
                        text-align:center;
                    }
                }
            }
        }
        &.template-part-header-custom{

            &.header-image-active{

                .header-text{

                    //transition: all 1s ease;

                    .site-title-text{
                        transition: all 1s ease;
                        -moz-text-stroke: 1px rgba(0,0,0,.5);
                        -webkit-text-stroke: 1px rgba(0,0,0,.5);
                    }
                    .site-description{
                        transition: all 1s ease;
                    }
                }
            }
        }

        .custom-logo-wrap{
            img{
                height:48px;
                height: clamp(32px, calc( 100vw / 72 * 3), 48px);
            }

        }

    }
    &.drawer-is-active{
        .header-text{
            transform:translateY(72px);
        }
    }
}

.menu-inactive{

    #primary-menu-controll,
    *{
        display:none;
    }
}