@import 'scss-@';
@import 'css-custom-prop';
//@import 'core';
//@import 'fonts';
@import 'elements';
@import 'article';
@import 'accessibility.scss';
@import 'site-header';
///////////////////////////////////////////////////////////////////////////////
.post-header .post-header-content{
    //child link not worked
    z-index:10;
}

/**
 * FSE
 */
.is-presentation-transitional{
    .fse-footer,
    .fse-header{
        //display:none ! important;
        &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
            display:none;
        }
    }

}

[amp]{

    --thm_align_offset:$align_offset;
    --thm_background_color: $background_color;
    --thm_background_image_dim:$background_image_dim;
    --thm_border_global:$border_global;
    --thm_border_global_style:$border_global_style;
    --thm_border_global_width:$border_global_width;
    --thm_border_grid:$border_grid;
    --thm_border_grid_style:$border_grid_style;
    --thm_border_grid_width:$border_grid_width;
    --thm_border_sidebar:$border_sidebar;
    --thm_border_sidebar_style:$border_sidebar_style;
    --thm_border_sidebar_width:$border_sidebar_width;
    --thm_border_stream:$border_stream;
    --thm_border_stream_style:$border_stream_style;
    --thm_border_stream_width:$border_stream_width;
    --thm_box_gap: $box_gap;
    --thm_caption_height: $caption_height;

    --thm_comments_bg:$comments_bg;
    --thm_comments_color:$comments_color;
    --thm_comments_link_color:$comments_link_color;
    --thm_common_border:#cccccc;
    --thm_common_border_style:solid;
    --thm_common_border_width:1px;
    --thm_common_font_family: $common_font_family;
    --thm_common_font_size: $common_font_size;
    --thm_common_line_height: $common_line_height;
    --thm_content_gap: $content_gap;
    --thm_content_line_height: $content_line_height;
    --thm_content_margin_top: $content_margin_top;
    --thm_content_width: $content_width;
    --thm_content_min_width: 296px;
    --thm_default_header_height: $default_header_height;
    --thm_excerpt_linebreak: $excerpt_linebreak;
    --thm_favorite_color_palette:$favorite_color_palette;
    --thm_footer_widget_width: $footer_widget_width;

    --thm_general_link_color: $general_link_color;
    --thm_general_link_hover_color: $general_link_hover_color;
    --thm_general_text_color: $general_text_color;
    --thm_header_background_gradient_color:$header_background_gradient_color;
    --thm_header_bg_color: $header_bg_color;
    --thm_header_hover_color: $header_hover_color;
    --thm_header_image_dim:rgba(0,0,0,.3);
    --thm_header_link_color: $header_link_color;
    --thm_header_media_max_height:$header_media_max_height;
    --thm_header_text_color: $header_text_color;
    --thm_heading_font_base: $heading_font_base;
    --thm_heading_font_family: $heading_font_family;
    --thm_heading_font_scale: $heading_font_scale;
    --thm_heading_font_transform: $heading_font_transform;
    --thm_heading_font_weight: $heading_font_weight;
    --thm_hover_color:$hover_color;
    --thm_i18n_no_title:$i18n_no_title;//fallback
    // --thm_main_width-with-sidebar: calc(100vw - var(--thm_sidebar_width) - 48px );
    --thm_main_width: $main_width;

    --thm_meta_data_font_family: $meta_data_font_family;
    --thm_meta_data_font_size: $meta_data_font_size;
    --thm_meta_data_font_transform: $meta_data_font_transform;
    --thm_post_display_author:$post_display_author;
    --thm_post_display_category:$post_display_category;
    --thm_post_display_date:$post_display_date;
    --thm_post_display_tag:$post_display_tag;
    --thm_primary_menu_background:$primary_menu_background;
    --thm_primary_menu_color:$primary_menu_color;
    --thm_primary_menu_link_color:$primary_menu_link_color;
    --thm_relate_posts_bg:$relate_posts_bg;
    --thm_relate_posts_color:$relate_posts_color;
    --thm_relate_posts_link_color:$relate_posts_link_color;
    --thm_sidebar_bg_color:$sidebar_background;
    --thm_sidebar_hover_color:$sidebar_hover_color;
    --thm_sidebar_link_color:$sidebar_link_color;
    --thm_sidebar_text_color:$sidebar_color;
    --thm_sidebar_width: $sidebar_width;
    --thm_social_icon_bg_color:$sub_background_color_lighten;
    --thm_social_icon_color:$general_text_color;
    --thm_sub_background_color_darken:$sub_background_color_darken;
    --thm_sub_background_color_lighten:$sub_background_color_lighten;
    --thm_box_shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.4);
    --thm_image_hover_filter:brightness(70%);

    /**
     * Color
     * ========================================================================== */
    body{
        color:var(--thm_general_text_color);
        background:var(--thm_background_color);
        a{
            color:var(--thm_general_link_color);
            background:transparent;

            &:hover{
                color:var(--thm_general_link_hover_color);
            }
        }
        .show-post-image {
            color: var(--thm_white_color, #ffffff);
            border-color: var(--thm_white_color, #ffffff);
            a{
                color:var(--thm_cloud_color,#ecf0f1);
                &:hover{
                    color:var(--thm_white_color, #ffffff);
                }
            }
        }
        /* layout */
        .alignleft,.alignright{
            &.wp-block-cover{
                max-width:100%;
            }
            @media screen and ( max-width : 640px ) {
                // static break point
                [class|="wp-block"]{
                    width:100%;
                    max-width:100%;
                    margin-right:0;
                    margin-left:0;
                }
            }
        }
        [class|="wp-block"].aligncenter,
        .aligncenter{
            box-sizing:border-box;
            float:none;
            width:-moz-fit-content;
            width:fit-content;
            max-width:calc( var(--thm_content_width, 720px) - var(--thm_align_offset, 200px) );
            margin:1.5rem auto .75rem;
            clear:both;
            @media screen and ( max-width : 640px ) {
                // static break point
                width:100%;
                max-width:100%;
                margin-right:0;
                margin-left:0;
            }
        }
        [class|="wp-block"].alignleft,
        .alignleft{
            float:left;
            width:calc(50% - 2rem);
            max-width:100%;
            margin-right:2rem;
            margin-left:0;
            clear:left;
            &.is-resized{
                width:auto;
            }
        }
        [class|="wp-block"].alignright,
        .alignright{
            float:right;
            width:calc(50% - 2rem);
            max-width:100%;
            margin-right:0;
            margin-left:2rem;
            clear:right;
        }
        [class|="wp-block"].alignwide,
        .alignwide{
            position: relative;
            left:0;
            //width:calc( var(--thm_content_width, 720px) + var(--thm_align_offset, 200px) );
            width:var(--thm_wide_width, 920px);
            max-width:100%;
            margin-right:auto;
            margin-left:auto
        }
    }
    [class|="wp-block"].alignfull,
    .alignfull{
        position: relative;
        width:100vw;
        max-width:100%;
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        margin-right:auto;
        margin-left:auto;
    }
    /**
     * Extend block group
     * ========================================================================== */
    .page-title-block{
        background:#eee;
    }


    body .layout,
    // no fse amp
    body .wp-site-blocks{
        // AMP + FSE
        .wp-block-navigation.fse-primary{
            .wp-block-navigation__responsive-container{
                .wp-block-navigation__responsive-container-content{
                    .wp-block-navigation__submenu-container{
                        left:0;
                        .wp-block-navigation-item__content{
                            left:0;
                            display:inline-block;
                            width:200%;
                            span.wp-block-navigation-item__label{
                                display:inline-block;
                            }
                            span.wp-block-navigation-item__submenu-icon{
                                display:inline-block;
                            }
                        }
                    }
                }
            }
        }
        .wp-block-template-part-header-rich{

            .wp-block-cover__inner-container{
                color:#333;
            }
            .wp-block-site-title{
                font-size: 48px;
            }
        }
        .wp-block-group{
            &.grid{
                & > .wp-block-group{
                    display:block;
                }
                & > .wp-block-group__inner-container{
                    & > .grid-child,
                    & > .wp-block, // editor class
                    & > [class|="wp-block"]{
                        *{
                            max-width:100%;
                        }
                    }
                    .no-margin,
                    .wp-block-cover,
                    figure.wp-block-image{
                        padding:0;
                        margin:0;
                        amp-img {
                            display:block;
                            width: 100%;
                            max-width: 100%;
                            height: 0;
                            padding-bottom: 56.25%;
                            object-fit: cover;
                        }
                    }
                }
            }
            &.header{
                text-align:center;
            }
            &.taxsonomy{
                width:-moz-fit-content;
                width:fit-content;
                margin:0 auto .75rem;
            }
        }
    }
    body > .wp-site-blocks{
        //fse + amp
        .post-navigation{
            display:flex;
            margin:1.5rem auto .75rem;
            a{
                display:block;
                flex:1 1  auto;
                flex-basis: auto;
                flex-grow: 1;
                min-width: 240px;
                padding: 0.685rem;
                margin: 3px;
                text-align:center;
            }
        }
    }
    // pure fse
    .logged-in.emulsion-fse-active{
        &.is-singular{
            .wp-block-post-featured-image{
                & + .wp-block-template-part{
                    .fse-header{
                        top:32px;
                    }
                }
            }
        }
    }
    .emulsion-fse-active{
        .fse-header{
            min-height:12.5vh;
            padding-right:0;
            padding-left:0;
        }
        .fse-footer{
            min-height:12.5vh;
        }
        .fse-query-post-template{
            width:100%;
            margin:0 auto;
        }
        .fse-primary{
            margin:0 auto;
            .wp-block-navigation-item{
                border:none;
            }
        }
        .wp-block-template-part{
            padding:0;
        }
        &.is-singular{
            .wp-block-post-featured-image{

                width:100%;
                height:var(--thm_header_media_max_height, 75vh);
                margin:0;
                overflow:hidden;
                background-position:center center;
                amp-img{
                    object-fit:cover;
                }
                & + .wp-block-template-post-header{
                    position:absolute;
                    top:calc( var(--thm_header_media_max_height, 75vh) / 8);
                    right:0;
                    left:0;
                    z-index:10;
                    margin:0 auto;
                    color:#fff;
                    background:transparent;
                    a{
                        color:#fff;
                    }

                }
                & ~ main{
                    .post-header{
                        position: absolute;
                        top: 25vh;
                        right: 0;
                        left: 0;
                        z-index: 10;
                        color:#fff;
                        a{
                            color:#fff;
                        }
                    }
                }
            }
        }
        .wp-block-cover.fse-header{
            margin-top:0;
        }
        .wp-block-group.grid{
            &[class|="wp-container"]{
                & > .wp-block-group{
                    //margin:var(--thm_box_gap, 3px) ! important;
                    &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
                        margin:var(--thm_box_gap, 3px)
                    }
                }
            }
        }
        .wp-block-query-loop{
            width:100%;
            padding:0;
            margin:0;
            li{

                &:before{
                    display:none;
                }
            }
        }
    }
    .emulsion-prepend-page-wrapper{
        display:none;
    }
    .wp-block-post-featured-image{
        width:100%;
        max-height:75vh;
        margin:0 auto;
        overflow:hidden;
        & + .wp-block-post-excerpt{
            display:none;
        }
        amp-img{
            width:100%;
            max-width:100%;
            height:auto;
            margin-right:auto;
            margin-left:auto;
        }
    }
    .wp-block-post-title{
        width:-moz-fit-content;
        width:fit-content;
        margin:1.5rem auto .75rem;
    }
    .article-wrapper header{
        min-height:25vh;
        text-align:center;
    }
    .is-singular{
        .article-wrapper header{
            min-height:50vh;
        }
    }

    .wp-block-media-text{
        padding-right:0;
        padding-left:0;
        &.alignfull{
            padding-right:0;
            padding-left:0;
        }
        p{
            width:auto;
        }
        .wp-block-media-text__media amp-img{
            width:calc( 100% - 1rem );
            margin-right:0;
            margin-left:1rem;
        }
        &.has-media-on-the-right{
            .wp-block-media-text__media amp-img{
                margin-right:1rem;
                margin-left:0;
            }
        }
    }
    .counter.badge:before{
        display:none;
    }
    .counter.badge {
        min-width: 1rem;
        height: 1rem;
        padding: 0;
        margin: 0;
        font-size: 11px;
        line-height: 1.5;
        text-align: center;
        &:empty{
            display:none;
        }
    }
    .badge:not(.has-image-badge).circle {
        border-radius: 9999px;
    }
    //CSS to not affect fse
    .wp-block-group.grid{
        .size1of3,
        .size1of3,
        .size1of4,
        .size1of2,
        .size1of5,
        .size2of3,
        .size2of5,
        .size3of4,
        .size3of5,
        .size4of5{
            width: auto;
        }
    }
    .fse-header{
        .wp-block-site-title{
            width: auto;
            max-width: 100%;
            padding-top: var(--thm_content_gap,24px);
            padding-right: var(--thm_content_gap,24px);
            padding-left: var(--thm_content_gap,24px);
            margin-top: 0;
            margin-bottom: 0;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.15;
        }
        .wp-block-site-tagline{
            z-index: 7;
            display:block;
            padding-bottom: .75rem;
            padding-left: var(--thm_content_gap,24px);
            margin: 0 auto;
        }
        &.wp-block-template-part-rich-header{
            .wp-block-cover{
                margin:0 auto;
            }
        }
    }
    .emulsion-monthly-archive-prev-next-navigation{
        @extend %block;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 1.5em auto 0.75em;
        & > div{
            flex-basis: 40%;
            flex-grow: 1;
            min-width: 100px;
            padding: 0.685rem;
            margin: var(--thm_box_gap, 3px);
            text-align: center;
            &:nth-child(1):nth-last-child(2){
                position:relative;
                flex-grow:0;
                margin-right:auto;
                margin-left:auto;
            }
        }
    }
    .wp-block-group.alignfull{
        width:100%;
        padding:0;
        margin:0;
    }
    .post-header{
        .wp-block-post-title{
            width:-moz-fit-content;
            width:fit-content;
            text-align:left;
        }
    }
    .wp-block-query{
        &.alignfull{
            padding:0;
        }
        ul{
            padding:0;
            li{
                &:before{
                    display:none;
                }
            }
        }
        .wp-block-post-excerpt{
            box-sizing:border-box;
            width:var(--thm_content_width, 720px);
            max-width:100%;
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            margin:1.5rem auto .75rem;
            .wp-block-post-excerpt__excerpt{
                width:-moz-fit-content;
                width:fit-content;
                max-width:100%;
                margin:1.5rem auto .75rem;
            }
        }
    }
    .single-post .wp-block-post-navigation{
        display:none;
    }
    footer .editor{
        display:none;
    }
    body .header-image-active + .page-wrapper{
        padding-top:0;
    }
    main .excerpt .article-wrapper{
        position:relative;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction:column;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        min-height:50vh;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        &:after{
            position:absolute;
            right:0;
            bottom:-1px;
            left:0;
            width:720px;
            margin:auto;
            content:' ';
            border:1px solid #ccc;
        }
    }
    .wp-block-query .wp-block-post{
        position:relative;
        &:after{
            position:absolute;
            top:0;
            right:0;
            bottom:-1px;
            left:0;
            width:720px;
            margin:auto;
            content:' ';
            border-bottom:var(--thm_border_global) var(--thm_border_global_style) var(--thm_border_global_width);
        }
    }
    .emulsion .wp-block-post-template li.has-post-thumbnail header {
        position: absolute;
        /*top: calc(var(--thm_header_media_max_height,75vh) / 3);
        right: 0;
        left: 0;*/
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index: 10;
        width:calc(100% - var(--thm_content_gap, 24px) * 2);
        height:fit-content;
        margin:auto;
        color: #fff;
    }
    .emulsion .wp-block-query .wp-block-post-template li .wp-block-post-excerpt__excerpt {
        display: -webkit-box;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .emulsion .wp-block-query .wp-block-post-template li .wp-block-post-excerpt__excerpt {
        max-height: calc(var(--thm_common_font_size, 16px) * var(--thm_content_line_height, 1.5) * 1);
        overflow: hidden;
    }
    .emulsion .wp-block-query{
        //share fse
        @for $i from 1 through 6 {
            .wp-block-post-template.is-flex-container.columns-#{$i} > li,
            .wp-block-query-loop.is-flex-container.columns-#{$i} > li {
                width: calc(100% / #{$i} - var(--thm_box_gap, 3px) * 2 );
                margin:var(--thm_box_gap, 3px);
            }
        }
    }
    .is-flex-container li {
        border-color: var(--thm_common_border, rgba(188, 188, 188, 0.5));
        border-style: solid;
        border-width: 1px;
        &.has-post-thumbnail{
            .wp-block-post-excerpt{
                display:none;
            }
        }
        .wp-block-post-featured-image{
            margin-top:0;
            margin-bottom:0;
        }

    }
}
:root{
    line-height:1.5;
    h1,h2,h3,h4,h5,h6{
        line-height:1.15;
    }
    .has-link-color{
        --wp--preset--color--alert: rgba(231,76,60,1);
        --wp--preset--color--notice: rgba(163,140,8,1);
        --wp--preset--color--info: rgba(22,160,133,1);
        --wp--preset--color--cool: rgba(52,152,219,1);
    }
    --thm_heading_font_base:16;
    --thm_header_image_dim:rgba(0,0,0,.5);
}
//fallback
h1,h2,h3,h4,h5,h6{
    box-sizing: border-box;
    width:var(--thm_content_width, 720px);
    max-width:100%;
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    margin:1.5rem auto .75rem;
    font-weight:700;
}
h1{
    font-size:var(--thm_h1_font_size);
}
h2{
    font-size:var(--thm_h2_font_size);
}
h3{
    font-size:var(--thm_h3_font_size);
}
h4{
    font-size:var(--thm_h4_font_size);
}
h5{
    font-size:var(--thm_h5_font_size);
}
h6{
    font-size:var(--thm_h6_font_size);
}
p:not(.site-description){
    box-sizing: border-box;
    width:var(--thm_content_width, 720px);
    max-width:100%;
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    margin:1.5rem auto .75rem;
}
.site-description{
    width:auto;
}
.wp-block-embed__wrapper{
    background:rgba(188,188,188,.2);
}
form,
pre,
fieldset,
address,
ul,
dl,
ol,
table,
figure{
    width:var(--thm_content_width, 720px);
    max-width:100%;
    margin:1.5rem auto .75rem;
}
.layout{
    figcaption{
        width:inherit;
        text-align:center;
    }
    figcaption{
        margin-right:auto;
        margin-left:auto;
    }
}
.emulsion .wp-block-group,
.emulsion [class$="inner-container"]{
    padding-right:0;
    padding-left:0;
}
address{
    text-align:center;
}
.search-result-0,
.not-found,
article > div{
    & > div{
        width:var(--thm_content_width, 720px);
        max-width:100%;
        //exception
    }
    & > [class|="wp-block"]{
        width:var(--thm_content_width, 720px);
        max-width:100%;
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        overflow:hidden;
    }
    & > .wp-block-media-text{
        padding-right:0;
        padding-left:0;
        &.alignfull{
            padding-right:0;
            padding-left:0;
        }
        p{
            width:auto;
        }
    }
}
article{
    header {
        .entry-meta{
            margin-top:0;
            margin-bottom:0;
            .horizontal-list-group{
                margin-top:0;
                margin-bottom:0;
            }
        }
    }
    footer {
        width:100%;
        padding-right:0;
        padding-left:0;
        margin:0 auto;
        text-align:left;
    }
}
.wp-block-media-text{
    .wp-block-media-text__media{
        .amp-wp-enforced-sizes{
            object-position: 0 0;
        }
    }
    &.has-media-on-the-right{
        .wp-block-media-text__media{
            .amp-wp-enforced-sizes{
                object-position: 100% 100%;
            }
        }
    }
}
.archive-title,
.taxonomy-description{
    width:-moz-fit-content;
    width:fit-content;
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    margin-right:auto;
    margin-left:auto;
}
.taxonomy-description{
    box-sizing: border-box;
    width: var(--thm_content_width, 720px);
    max-width: 100%;
    padding-right: var(--thm_content_gap, 24px);
    padding-left: var(--thm_content_gap, 24px);
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}
textarea#comment,
form > p,
cite,
label[for="comment"],
.comment-reply-title{
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
}
.comments .form-submit [type="submit"],
.wp-block-latest-posts__post-excerpt > a,
.layout a.skin-button,
.layout span.skin-button{
    @include clearfix;
    display:inline-block;
    float:none;
    width:140px;
    width: -moz-fit-content;
    width:fit-content;
    padding:0 1rem;
    margin-top:1.5rem;
    margin-right:var(--thm_content_gap, 24px);
    margin-bottom:.75rem;
    margin-left:var(--thm_content_gap, 24px);
    overflow:hidden;
    clear:both;
    line-height:calc(1rem * 3 - 2px);
    color:var(--thm_header_text_color);
    text-align:center;
    background: var(--thm_header_bg_color);
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style, solid);
    border-width:var(--thm_common_border_width, 1px);// edge//edge
}
@media screen and ( max-width : 419px ) {
    // static break point
    .comment-form .comment-form input[name="author"],
    .comment-respond .comment-form input[name="author"],
    .comment-form .comment-form input[type="url"],
    .comment-respond .comment-form input[type="url"],
    .comment-form .comment-form input[type="email"],
    .comment-respond .comment-form input[type="email"],
    .comment-form .comment-form input[type="author"],
    .comment-respond .comment-form input[type="author"],
    .comment-form .comment-form input[type="comment"],
    .comment-respond .comment-form input[type="comment"] {
        width: 100%;
        max-width: 100%;
        margin-right:auto;
        margin-left: 0;
    }
    ol.wp-list-comments,
    .comment-wrapper .comments{
        padding-right:3px;
        padding-left:3px;
        ul.children{
            padding-left:1rem;
        }
    }
    .comment-form .comment-form textarea,
    .comment-respond .comment-form textarea{
        width:100%;
        max-width:100%;
        margin-left:0;
    }
    .comment-form .comment-form input[type="submit"],
    .comment-respond .comment-form input[type="submit"] {
        margin-left: 0;
    }
}
hr{
    width:720px;
    max-width:100%;
    margin:1.5rem auto;
}
div.gallery{
    // Shortcode gallery
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    figure {
        margin: var(--thm_box_gap,3px);
    }
}
.wp-block-navigation__submenu-container:not(#specificity){
    padding-left:0;
}
blockquote.wp-block-quote{
    border-left-style:solid;
    border-left-width:2px;
    p{
        margin-top:.75rem;
    }
}
figure.wp-block-pullquote{
    margin:1.5rem auto .75rem;
    border-top-style:solid;
    border-top-width:2px;
    border-bottom-style:solid;
    border-bottom-width:2px;
    &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
        border-right:none;
        border-left:none;
    }
}
p.badge,
.badge{
    position: relative;
    top: 0;
    box-sizing: border-box;
    display:inline-block;
    width:fit-content;
    padding-right:var(--thm_content_gap, 24px);
    padding-left:var(--thm_content_gap, 24px);
    vertical-align:middle;
    border: 1px solid rgba(127,127,127,.4);
    &:before{
        position:relative;
        display: inline-block;
        width: 1px;
        height: 0;
        padding-top: calc(50% + var(--thm_content_gap, 24px));
        padding-bottom:  calc(50% + var(--thm_content_gap, 24px));
        vertical-align:middle;
        content: '';
    }
}
.wp-block-image{
    padding-right:0;
    padding-left:0;
    amp-img{
        display:block;
        margin:auto;
    }
    /* .alignright,
     .alignleft{
         amp-img{
             display:block;
             margin:auto;
         }
     }*/
}
hr.wp-block-separator{
    &.has-background{
        visibility:hidden;
        &:before{
            visibility:visible;
            background:transparent;
        }
    }
}
div.wp-block-image{
    display:inline;
}
div.wp-block-image.is-style-rounded{
    figure.aligncenter{
        text-align:center;
    }
}
.is-singular{
    article{
        .entry-content{
            margin-top:var(--thm_content_margin_top);
        }
    }
}
/* minimam style site-header */
.fse-header.header-layer.wp-block-template-part-header{
    .header-text {
        display:block;
        overflow:hidden;
    }
}
.header-layer{
    color:var(--thm_header_text_color);
    background:var(--thm_header_bg_color);
    .header-text {

        .site-title{
            width:auto;
            max-width:100%;
            padding-top: var(--thm_content_gap, 24px);
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            margin-top:0;
            margin-bottom:0;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.15;
        }
        .site-description{
            width:auto;
            max-width:100%;
            padding-bottom:.75rem;
            margin-top:0;
            margin-bottom:0;
        }
    }
    &.amp-singular-has-header-image{
        z-index:2;
    }
}
.site-title.has-custom-logo + .site-description{
    display:none;
}

.layout-grid{
    header ~ .layout{
        article header{
            color:var(--thm_header_text_color);
            background:var(--thm_header_bg_color);
            a{
                color:var(--thm_header_link_color);
            }
            .emulsion-comment-count{
                display:none;
            }
        }
    }
}
.wp-block-query-pagination{
    box-sizing: border-box;
    display:flex;
    width: var(--thm_content_width,720px);
    max-width: 100%;
    padding-right: var(--thm_content_gap,24px);
    padding-left: var(--thm_content_gap,24px);
    margin: 1.5rem auto 0.75rem;
    .wp-block-query-pagination-previous{
        margin-right:auto;
        margin-left:0;
    }
    .wp-block-query-pagination-next{
        margin-right:0;
        margin-left:auto;
    }
}
.fse-footer,
div.page-title-block{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100%;
    min-height:25vh;
    margin-right:calc(var(--thm_content_gap, 24px) * -1);
    margin-left:calc(var(--thm_content_gap, 24px) * -1);
    color:var(--thm_header_text_color);
    background:var(--thm_header_bg_color);
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    a{
        color:var(--thm_header_link_color);
    }
}
main > .grid,
main > .stream{
    display:flex;
    flex-wrap:wrap;
    margin:1.5rem auto 1.5rem;
    .template-part-content-stream{
        flex:1 1 auto;
        width:var(--thm_content_width, 720px);
        max-width:100%;
        margin:var(--thm_box_gap, 3px);
        .posted-on,
        .entry-meta{
            display:none;
        }
    }
    .template-part-content{
        flex:1 1 auto;
        width:var(--thm_content_width, 720px);
        max-width:100%;
        margin:var(--thm_box_gap, 3px);
    }
}
.grid,
.stream{
    .article-wrapper{
        border:1px solid #ccc;
    }
    article{
        .content-col{
            .entry-title{
                padding-right: var(--thm_content_gap, 24px);
                padding-left: var(--thm_content_gap, 24px);
                font-size:24px;
                .trancate-heading{
                    &[data-rows="2"]{
                        height:calc(24px * var(--thm_common_line_height) * 2);
                    }
                    &[data-rows="3"]{
                        height:calc(24px * var(--thm_common_line_height) * 3);
                    }
                    &[data-rows="4"]{
                        height:calc(24px * var(--thm_common_line_height) * 4);
                    }
                    &[data-rows="5"]{
                        height:calc(24px * var(--thm_common_line_height) * 5);
                    }
                    &[data-rows="6"]{
                        height:calc(24px * var(--thm_common_line_height) * 6);
                    }
                }
            }
        }

        .entry-content,
        .content{

            [data-rows]{
                font-size:var(--thm_meta_data_font_size, 13px);
            }
            [data-rows="2"]{
                height:calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5) * 2);
            }
            [data-rows="3"]{
                height:calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5) * 3);
            }
            [data-rows="4"]{
                height:calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5) * 4);
            }
            [data-rows="5"]{
                height:calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5) * 5);
            }
            [data-rows="6"]{
                height:calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5) * 6);
            }
        }
    }
}
.archive,
.home{
    article{
        .content-excerpt{
            @extend %block;
            br{
                display:var(--thm_excerpt_linebreak, none);
            }
            .alignfull{
                max-width:100%;
            }
        }
        &.has-post-thumbnail{
            width:100%;
            .content-excerpt{
                display:none;
            }
        }
    }
}
/* minimam style color */
.header-layer{
    color:var(--thm_header_text_color,#000);
    background: var(--thm_header_bg_color,#eee);
    &.header-is-dark{
        color:var(--thm_header_text_color, #fff);
        background: var(--thm_header_bg_color, #000);
    }
    &.has-header-image,
    &.has-header-video{
        color:var(--thm_white_color, #ffffff);
        a{
            color:var(--thm_white_color, #ffffff);
        }
    }
}
.footer-layer{
    color:var(--thm_header_text_color,#000);
    background:var(--thm_header_bg_color,#eee);
    a{
        color:var(--thm_header_text_color,#000);
        background:var(--thm_header_bg_color,#eee);
    }
}
.header-layer.header-is-dark ~ .footer-layer{
    color:var(--thm_header_text_color,#fff);
    background:var(--thm_header_bg_color,#000);
}
.is-light:not(.is-fse-dark) article .has-background:not(.has-text-color) *:not(.has-text-color){
    color:var(--thm_black_color);
}
.is-light:not(.is-fse-dark) article .has-black-background-color:not(.has-text-color) *:not(.has-text-color) {
    color:var(--thm_white_color, #ffffff);
}
#main{
    article .has-background.has-midnight-gradient-background,
    article .has-background.has-cool-to-warm-spectrum-gradient-background,
    article .has-background.has-luminous-vivid-orange-to-vivid-red-gradient-background,
    article .has-background.has-vivid-cyan-blue-to-vivid-purple-gradient-background,
    article .has-background.has-midnight-gradient-background *:not(.has-text-color),
        article .has-background.has-cool-to-warm-spectrum-gradient-background *:not(.has-text-color),
        article .has-background.has-luminous-vivid-orange-to-vivid-red-gradient-background *:not(.has-text-color),
        article .has-background.has-vivid-cyan-blue-to-vivid-purple-gradient-background *:not(.has-text-color){
        color:var(--thm_white_color, #ffffff);
    }
    article .has-background.has-white-background-color,
    article .has-background.has-electric-grass-gradient-background,
    article .has-background.has-luminous-dusk-gradient-background,
    article .has-background.has-blush-bordeaux-gradient-background,
    article .has-background.has-blush-light-purple-gradient-background,
    article .has-background.has-very-light-gray-to-cyan-bluish-gray-gradient-background,
    article .has-background.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background,
    article .has-background.has-light-green-cyan-to-vivid-green-cyan-gradient-background,
    article .has-background.has-pale-ocean-gradient-background *:not(.has-text-color),
        article .has-background.has-white-background-color *:not(.has-text-color),
        article .has-background.has-electric-grass-gradient-background *:not(.has-text-color),
        article .has-background.has-luminous-dusk-gradient-background *:not(.has-text-color),
        article .has-background.has-blush-bordeaux-gradient-background *:not(.has-text-color),
        article .has-background.has-blush-light-purple-gradient-background *:not(.has-text-color),
        article .has-background.has-very-light-gray-to-cyan-bluish-gray-gradient-background *:not(.has-text-color),
        article .has-background.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background *:not(.has-text-color),
        article .has-background.has-light-green-cyan-to-vivid-green-cyan-gradient-background *:not(.has-text-color),
        article .has-background.has-pale-ocean-gradient-background *:not(.has-text-color){
        color:var(--thm_black_color, #333333);
    }
}
.wp-block-search .wp-block-search__button{
    color:var(--thm_header_text_color);
    background:var(--thm_header_bg_color);
    svg{
        fill:var(--thm_header_text_color);
    }
}
.custom-background{
    color:var(--thm_general_text_color);
    background:var(--thm_background_color);
    a{
        color:var(--thm_general_link_color);
        .text{
            color:var(--thm_general_link_color);
            background:transparent;
        }
    }
    .wp-block-calendar table {
        th{
            color:var(--thm_black_color);
            background: #ddd;
        }
        *{
            color:var(--thm_general_text_color);
        }
        a{
            color:var(--thm_general_link_color);
            &:hover{
                color:var(--thm_general_text_color);
            }
        }
    }
}
.comment-wrapper{
    overflow:hidden;
    color:var(--thm_comments_color);
    background:var(--thm_comments_bg);
    a{
        color:var(--thm_comments_link_color);
        &:hover{
            color:var(--thm_comments_color);
        }
    }
}
:root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) body.noscript.enable-alignfull .wp-block-group.has-background:not([class*="gradient-background"]):not(.emulsion-panel):not(.dropdown-on-click):not(.dropdown-on-hover),
:root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) body.noscript.enable-alignfull .wp-block-pullquote.has-background:not([class*="gradient-background"]):not(.emulsion-panel):not(.dropdown-on-click):not(.dropdown-on-hover),
.has-background{
    padding-top:.75rem;
    padding-bottom:.75rem;
    overflow:hidden;
    color:var(--thm_black_color);
    background:var(--thm_unknown-bg);
    a{
        color:var(--thm_black_color);
    }
}
/* border */
input,
table th,
table td{
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style, solid);
    border-width:var(--thm_common_border_width, 1px);
}
/* footer */
.footer-layer{
    .footer-widget-area{
        ul.footer-widget-area-lists{
            width:var(--thm_main_width);
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            .widget{
                ul{
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                }
            }
        }
    }
}
/* widget */
.post-navigation .nav-links .nav-next a .title,
.post-navigation .nav-links .nav-previous a .title{
    margin:auto;
}
/**
 * Hide elements that don't make sense for theme-dependent block patterns
 */
.emulsion-modal-title,  /* old version */
.modal-open-link,       /* old version */
.emulsion-dependency{   /* @since 1.8.1 */
    display:none;
}
body .wp-block-group.alignfull:first-of-type{
    margin-top:0;
}
.wp-block-group .wp-block-group__inner-container{
    overflow:hidden;
}
.wp-block-template-part{
    overflow:hidden;
}
//OW
.wp-block-column[data-amp-original-style*=flex-basis] {
    flex-grow: 1;
}
body > header.header-image-active.template-part-header-custom {
    position: relative;
    width: 100vw;
    height:auto;
    overflow: hidden;
    .post-featured-image{
        // display:none !important;
        amp-img{
            //display:none !important;
        }
        &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
            display:none;
            amp-img{
                display:none;
            }
        }
    }
}
#document .header-video-active,
#document .header-image-active{

    h1,p,a,.site-description{
        color:var(--thm_white_color, #ffffff);
    }
}
.amp-singular-has-header-image{
    amp-img{
        display:none;
    }
}
.footer-widget-area-lists{
    overflow:hidden;
    &:not(.list-style-initial):not(.is-style-list-style-initial) li:before {
        display:none;
    }
}
[amp]{
    .emulsion{
        .dropdown-on-hover{
            .dropdown-on-hover-title{
                margin:0 auto;
            }
        }
        .dropdown-on-click{
            .dropdown-on-click-content,
            .dropdown-on-click-title{
                margin:0 auto;
            }
        }
        .emulsion-panel{
            .emulsion-panel-title{
                margin:0 auto;
            }
        }
    }
}
.emulsion-amp-transitional{
    .footer-widget-area{
        width:100%;
        .footer-widget-area-lists{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding: 1.5rem var(--thm_content_gap, 24px) 0.75rem;
            padding-right: var(--thm_content_gap, 24px);
            margin: 0 auto 0;
            li{
                flex:1 1 30%;
                ul{
                    width:100%;
                }
            }
        }
    }
}
[amp]{
    .post-header .posted-on {
        display: block;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: center;
        justify-content: center;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0;
        padding:0;
        margin:1.5rem auto .75rem;
        font-size:13px;
        line-height:1.5;
        .wp-block-post-date {
            display: inline-block;
            flex-shrink: 1;
            width: -moz-fit-content;
            width: fit-content;
            padding: 0 1rem 0 0;
            //margin: 0 1rem 0 0 !important;
            font-size: var(--thm_meta_data_font_size, 13px);
            line-height: calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5));
            text-align:center;
            white-space: pre;
            &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
                margin: 0 1rem 0 0;
            }
        }
        .wp-block-post-author {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            width: -moz-fit-content;
            width: fit-content;
            padding: 0;
            font-size: var(--thm_meta_data_font_size, 13px);
            line-height: calc(var(--thm_meta_data_font_size, 13px) * var(--thm_content_line_height, 1.5));
            //margin: 0 ! important;
            &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
                margin: 0;
            }
            .wp-block-post-author__name{
                width:fit-content;
                margin:0 auto;
            }
        }
        .wp-block-post-comments-link{
            flex-basis:100%
        }
    }
}
.header-layer.fse-header.wp-block-template-part .archive-title .wp-block-query-title{
    margin-bottom:.75rem;
}
.header-layer.fse-header.wp-block-template-part .archive-title:last-child .wp-block-query-title{
    margin-bottom:.3em;
}
.header-layer.fse-header.wp-block-template-part{

    .wp-block-term-description:last-child{
        padding-bottom:3em;
    }
}
.wp-block-navigation .wp-block-navigation__container{
    margin:.75rem auto;
}
main .wp-block-query{
    margin:0 auto;
}

[amp]{
    .single-with-toc-columns{
        .is-style-sticky{
            display:none
        }
        .wp-block-column:not(.is-style-sticky){
            &:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) {
                flex-basis:100%;
            }
        }
    }
    .wp-block-button__link{
        color:#fff;
    }
    .nav-links{
        [aria-current]{
            border-bottom:3px solid;
        }
    }

}
.emulsion-block-pattern-relate-posts,
.wrap-emulsion_relate_posts{
    overflow:auto;
    color:var(--wp--custom--color--relate-posts-text);
    background:var(--wp--custom--color--relate-posts-bg);
}
.emulsion-block-pattern-relate-posts,
.wrap-emulsion_relate_posts{
    overflow:auto;
    color:var(--wp--custom--color--dark-relate-posts-text);
    background:var(--wp--custom--color--dark-relate-posts-bg);
}
.emulsion-block-pattern-relate-posts,
.wrap-emulsion_relate_posts{
    li{
        padding:0;
    }
}

.emulsion .emulsion-block-pattern-relate-posts,
.emulsion .wrap-emulsion_relate_posts{
    padding-top:.1rem;
    padding-bottom:.75rem;
    .relate-posts-title{
        padding-right:var(--wp--custom--padding--content);
        padding-left:var(--wp--custom--padding--content);
        margin-right:auto;
        margin-left:auto;
    }
    .relate-posts{
        padding-right:var(--wp--custom--padding--content);
        padding-left:var(--wp--custom--padding--content);
        margin-right:auto;
        margin-left:auto;
        li{
            display:flex;
            height:48px;
            margin-bottom:6px;
            vertical-align:middle;
            list-style:none;
            &:not(#specificity):before{
                display:none;
            }
            img{
                width:auto;
                max-width:48px;
                height:48px;
                padding-right:0;
                padding-left:0;
                margin-right:0;
                margin-left:0;
                vertical-align:middle;
            }
            .relate-post-no-icon + a,
            img + a{
                display:inline-block;
                max-width:calc( 100% - 48px - 2rem );
                height:100%;
                margin-left:var(--wp--custom--padding--content, .75rem);
                overflow: hidden;
                font-weight:700;
                line-height:48px;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align:middle;
            }
            .relate-post-no-icon{
                display:inline-block;
                width:46px;
                height:46px;
                padding:0;
                font-size:24px;
                line-height:46px;
                color:var(--wp--preset--color--white);

                text-align:center;
                text-transform: uppercase;
                vertical-align:middle;
                background:var(--wp--preset--color--black);
                border:var(--wp--custom--border--common);

            }
        }
    }
    &:empty{
        display:none;
    }
}
.emulsion .emulsion-block-pattern-relate-posts{
    width:100%;
    padding:0;
    margin:0 auto;
    .relate-posts{
        li{
            .relate-post-no-icon{
                position:relative;
                background:var(--wp--preset--color--white);

                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index:2;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-image: linear-gradient(to right bottom, transparent 49.9%, #ccc 50%, transparent 50.1%);
                }
            }
        }
    }
}
.emulsion .is-root-container .emulsion-block-pattern-relate-posts{
    .relate-posts li{
        padding:0;
        [role="textbox"]{
            width:100%;
        }
    }
}
[amp]{
    .emulsion{
        .wp-block-gallery{
            display:flex;
            flex-wrap:wrap;
        }
        .wp-block-gallery[data-amp-carousel="true"]{
            width:var(--thm_content_width,720px);
            max-width:100%;
            margin:1.5rem auto;
            amp-carousel{
                width:100%;
            }
        }
    }
}
