@import 'scss-@';
@import 'css-custom-prop';
@import 'core';
@import 'fonts';
@import 'elements';
//@import 'archives';
@import 'article';
@import 'custom-background';
@import 'block';
@import 'accessibility';
//@import 'gallery';
@import 'comments';
@import 'border';
//@import 'effect';
//@import 'responsive';
///////////////////////////////////////////////////////////////////////////////

[amp] .placeholder-header{
    display:none;
}
:root{
    line-height:1.5;
    h1,h2,h3,h4,h5,h6{
        line-height:1.15;
    }
}
//fallback
h1,h2,h3,h4,h5,h6{

    font-weight:700;
    width:var(--thm_content_width);
    max-width:100%;
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
    box-sizing: border-box;
    margin:1.5rem auto .75rem;
}
p:not(.site-description){
    width:var(--thm_content_width);
    max-width:100%;
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
    box-sizing: border-box;
    margin:1.5rem auto .75rem;
}
.site-description{
    width:auto;
}
.wp-block-embed__wrapper{
    background:rgba(188,188,188,.2);
}
form,
pre,
fieldset,
address,
ul,
dl,
ol,
table,
figure{
    width:var(--thm_content_width);
    max-width:100%;
    margin:1.5rem auto .75rem;
}

address{
    text-align:center;
}

.search-result-0,
.not-found,
article > div{

    & > div{
        width:var(--thm_content_width);
        max-width:100%;
        //exception

    }

    & > [class|="wp-block"]{
        width:var(--thm_content_width);
        max-width:100%;
        overflow:hidden;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
    }
}

.archive-title,
.taxonomy-description{
    width:-moz-fit-content;
    width:fit-content;
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
}

textarea#comment,
form > p,
cite,
label[for="comment"],
.comment-reply-title{
    padding-left:var(--thm_content_gap);
    padding-right:var(--thm_content_gap);
}

.comments .form-submit [type="submit"],
.wp-block-latest-posts__post-excerpt > a,// read more link
.layout a.skin-button,
.layout span.skin-button{
    @include clearfix;
    clear:both;
    float:none;
    overflow:hidden;
    display:inline-block;
    text-align:center;// edge
    width:140px;//edge
    width: -moz-fit-content;
    width:fit-content;
    padding:0 1rem;
    line-height:calc(var(--thm_common_font_size) * 3 - 2px);
    margin-top:1.5rem;
    margin-bottom:.75rem;
    margin-left:var(--thm_content_gap, 24px);
    margin-right:var(--thm_content_gap, 24px);
    color:var(--thm_header_text_color);
    background: var(--thm_header_bg_color);
    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style);
    border-width:var(--thm_common_border_width);
}
@media screen and ( max-width : 419px ) {
    // static break point
    .comment-form .comment-form input[name="author"], 
    .comment-respond .comment-form input[name="author"], 
    .comment-form .comment-form input[type="url"], 
    .comment-respond .comment-form input[type="url"], 
    .comment-form .comment-form input[type="email"], 
    .comment-respond .comment-form input[type="email"], 
    .comment-form .comment-form input[type="author"], 
    .comment-respond .comment-form input[type="author"], 
    .comment-form .comment-form input[type="comment"], 
    .comment-respond .comment-form input[type="comment"] {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: auto;
    }

    ol.wp-list-comments,
    .comment-wrapper .comments{
        padding-left:3px;
        padding-right:3px;

        ul.children{
            padding-left:1rem;
        }
    }

    .comment-form .comment-form textarea, 
    .comment-respond .comment-form textarea{
        width:100%;
        max-width:100%;
        margin-left:0;
    }
    .comment-form .comment-form input[type="submit"], 
    .comment-respond .comment-form input[type="submit"] {
        margin-left: 0;

    }
    textarea#comment, form > p, 
    label[for="comment"], .comment-reply-title {
        /* padding-left: var(--thm_content_gap); */
        /* padding-right: var(--thm_content_gap); */
    }

}

p.badge,
.badge{
    position: relative;
    top: 0;
    border: 1px solid rgba(127,127,127,.4);
    box-sizing: border-box;
    width:fit-content;
    display:inline-block;
    padding-left:var(--thm_content_gap, 24px);
    padding-right:var(--thm_content_gap, 24px);
    vertical-align:middle;

    &:before{
        content: '';
        position:relative;
        display: inline-block;
        padding-top: calc(50% + var(--thm_content_gap, 24px));
        padding-bottom:  calc(50% + var(--thm_content_gap, 24px));
        height: 0;
        width: 1px;
        vertical-align:middle;
    }

}
/* layout */
body{
    .alignleft,.alignright{
        &.wp-block-cover{
            max-width:100%;
        }
        @media screen and ( max-width : 640px ) {
            // static break point
            [class|="wp-block"]{
                width:100%;
                max-width:100%;
                margin-left:0;
                margin-right:0;
            }
        }
    }
    [class|="wp-block"].aligncenter,
    .aligncenter{

        width:-moz-fit-content;
        width:fit-content;
        box-sizing:border-box;
        clear:both;
        float:none;
        max-width:calc( var(--thm_content_width) - var(--thm_align_offset) );
        margin:1.5rem auto .75rem;

        @media screen and ( max-width : 640px ) {
            // static break point
            width:100%;
            max-width:100%;
            margin-left:0;
            margin-right:0;
        }
    }
    [class|="wp-block"].alignleft,
    .alignleft{
        clear:left;
        float:left;
        width:calc(50% - 2rem);
        margin-right:2rem;
        margin-left:0;
        max-width:100%;
        &.is-resized{
            width:auto;

        }
    }
    [class|="wp-block"].alignright,
    .alignright{
        clear:right;
        float:right;
        width:calc(50% - 2rem);
        margin-left:2rem;
        margin-right:0;
        max-width:100%;
    }
    [class|="wp-block"].alignwide,
    .alignwide{
        width:calc( var(--thm_content_width) + var(--thm_align_offset) );
        position: relative;
        left:0;
        margin-left:auto;
        margin-right:auto;
        max-width:100%
    }
    [class|="wp-block"].alignfull,
    .alignfull{
        width:100vw;
        position: relative;
        left:calc( 50% - 50vw);
        margin-left:auto;
        margin-right:auto;
        max-width:100%;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);

    }
}
div.wp-block-image{
    display:inline;
}
div.wp-block-image.is-style-rounded{

    figure.aligncenter{
        text-align:center;
    }
}
.is-singular{
    article{
        .entry-content{
            margin-top:var(--thm_content_margin_top);
        }
    }
}

/* minimam style site-header */

.header-layer{
    .header-text {

        .site-title{
            font-size: 24px;
            line-height: 1.15;
            font-weight: bold;
            margin-top:0;
            margin-bottom:0;
            padding-top: var(--thm_content_gap, 24px);
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            width:auto;
            max-width:100%;
        }
        .site-description{
            margin-top:0;
            margin-bottom:0;
            padding-bottom:.75rem;
            width:auto;
            max-width:100%;

        }
    }
    &.amp-singular-has-header-image{
        position:absolute;
        background:transparent;
        color:#fff;
        z-index:2;
        a{
            color:#fff;
        }
    }

}
body > header.header-image-active.template-part-header-custom{
    width:100vw;
    max-height: var(--thm_header_media_max_height);
    overflow:hidden;
    position:relative;
    amp-img{
        object-fit:cover;
        width: 100vw;
        height: calc(100vw * 0.6645199063);
        max-height: var(--thm_header_media_max_height);
        z-index: 1;
    }
    .header-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index:3;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        .site-title{
            font-size: 48px;
            line-height: 1.15;
            text-align: center;
            font-weight: normal;
        }
        .site-description{
            text-align:center;
        }
    }
    *{
        color: var(--thm_white_color);
        border-color: var(--thm_white_color);
    }
}
.layout-grid{
    header.header-is-light ~ .layout,
    header.header-is-dark ~ .layout{
        article:not(.has-post-thumbnail) header{
            background:var(--thm_header_bg_color);
            color:var(--thm_header_text_color);
            a{
                color:var(--thm_header_link_color);
            }
        }
    }
}
.is-singular{
    article:not(.has-post-thumbnail) header{
        background:var(--thm_header_bg_color);
        color:var(--thm_header_text_color);
        a{
            color:var(--thm_header_link_color);
        }
    }
}
div.page-title-block,
.emulsion-header-has-title div.page-title-block{
    min-height:25vh;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-sizing:border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction:column;
    flex-direction:column;
    height:100%;
    box-sizing:border-box;
    margin-left:calc(var(--thm_content_gap) * -1);
    margin-right:calc(var(--thm_content_gap) * -1);

    background:var(--thm_header_bg_color);
    color:var(--thm_header_text_color);
    a{
        color:var(--thm_header_link_color);
    }
}
.grid,
.stream{
    article{
        .content-col{
            .entry-title{
                font-size:24px;
                padding-left: var(--thm_content_gap);
                padding-right: var(--thm_content_gap);
                .trancate-heading{
                    &[data-rows="2"]{
                        height:calc(24px * var(--thm_common_line_height) * 2);
                    }
                    &[data-rows="3"]{
                        height:calc(24px * var(--thm_common_line_height) * 3);
                    }
                    &[data-rows="4"]{
                        height:calc(24px * var(--thm_common_line_height) * 4);
                    }
                    &[data-rows="5"]{
                        height:calc(24px * var(--thm_common_line_height) * 5);
                    }
                    &[data-rows="6"]{
                        height:calc(24px * var(--thm_common_line_height) * 6);
                    }
                }
            }

        }
        .entry-content,
        .content{
            [data-rows="2"]{
                height:calc(var(--thm_meta_data_font_size) * var(--thm_content_line_height) * 2);
            }
            [data-rows="3"]{
                height:calc(var(--thm_meta_data_font_size) * var(--thm_content_line_height) * 3);
            }
            [data-rows="4"]{
                height:calc(var(--thm_meta_data_font_size) * var(--thm_content_line_height) * 4);
            }
            [data-rows="5"]{
                height:calc(var(--thm_meta_data_font_size) * var(--thm_content_line_height) * 5);
            }
            [data-rows="6"]{
                height:calc(var(--thm_meta_data_font_size) * var(--thm_content_line_height) * 6);
            }
        }
    }
}
.archive,
.home{
    article{
        .content-excerpt{
            .alignfull{
                max-width:100%;
            }
        }
        &.has-post-thumbnail{
            .content-excerpt{
                display:none;
            }
        }

    }
}
/* minimam style color */

.header-layer{

    color:var(--thm_header_text_color);
    background: var(--thm_header_bg_color);

    &.header-is-dark,
    &.has-header-image,
    &.has-header-video{
        color:var(--thm_white_color);
        a{
            color:var(--thm_white_color);
        }
    }
}
article .has-background:not(.has-text-color) *:not(.has-text-color){
    color:var(--thm_black_color);
}
.custom-background{

    background:var(--thm_background_color);
    color:var(--thm_general_text_color);

    a{
        color:var(--thm_general_link_color);
        .text{
            color:var(--thm_general_link_color);
            background:transparent;
        }
    }
    .wp-block-calendar table {
        th{
            color:var(--thm_black_color);
            background: #ddd;
        }
        *{
            color:var(--thm_general_text_color);
        }
        a{
            color:var(--thm_general_link_color);
            &:hover{
                color:var(--thm_general_text_color);
            }
        }
    }
}
.comment-wrapper{
    color:var(--thm_comments_color);
    background:var(--thm_comments_bg);

    a{
        color:var(--thm_comments_link_color);
        &:hover{
            color:var(--thm_comments_color);
        }
    }
}
:root:not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_):not(#_) body.noscript.enable-alignfull .wp-block-pullquote.has-background {
    background: #eee;
    //needs color
    color:var(--thm_black_color);
}


/* border */

input,
table th,
table td{

    border-color:var(--thm_common_border, rgba(188,188,188,.5));
    border-style:var(--thm_common_border_style);
    border-width:var(--thm_common_border_width);
}

/* footer */

.footer-layer{
    .footer-widget-area{
        ul.footer-widget-area-lists{
            width:var(--thm_main_width);

            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            .widget{
                ul{
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                }
            }
        }
    }
}
/* widget */


