.fse-header-content{
    width:var(--wp--style--global--content-size);
}
.header-2col-wrapper{
    background: var(--wp--custom--color--banner-bg);
}
.wp-block-template-part{
    float:none;
    clear:both;
}
.wp-block-template-part-taxsonomy{
    padding:0 var(--wp--custom--padding--content, 75rem);
}
.wp-block-post-template{
    li{
        padding:0;
    }
}
.wp-block-rss__item-excerpt{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: var(--wp--custom--max-height--excerpt-lines);
    -webkit-box-orient: vertical;
}
.wp-block-post-excerpt{
    p{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: var(--wp--custom--max-height--excerpt-lines);
        -webkit-box-orient: vertical;
    }
}
p.wp-block-post-excerpt__more-text{
    margin:1.5rem auto;
}
.wp-block-post-featured-image + .wp-block-post-excerpt{
    display:none;
}
.is-layout-flex > *{
    margin:0!important;
}
.wp-block-comments-pagination{
    margin:1.5rem auto;
    .wp-block-comments-pagination-numbers,
    .wp-block-comments-pagination-next,
    .wp-block-comments-pagination-previous,
    .wp-block-comments-pagination-numbers * {
        width:-moz-fit-content;
        width:fit-content;
        margin:0;
        padding:.75rem;
    }
}
.is-grid .wp-block-latest-posts__post-title,
.is-grid .wp-block-rss__item-title a{
    display:block;
    font-family:var(--wp--preset--font-family--system-font);
    font-size:1.5rem;
    font-weight: var(--wp--custom--font-weight--heading);
    line-height: var(--wp--custom--line-height--heading,1.15);
    text-transform: var(--wp--custom--text-transform--heading);
}
.wp-block-gallery.has-nested-images.alignleft,
.wp-block-gallery.has-nested-images.alignright{
    max-width:revert;
}
nav.fse-primary {
    padding:.75rem;
    margin:0 auto;
}
.emulsion .wp-block-post-content>:last-child:where(h1, h2, h3, h4, h5, h6, p, ul, ol, .wp-block-table, pre, figure:not(.alignfull)) {
    margin-bottom: 3rem;
}
/**
 * height
 */

.fse-header,
.fse-footer{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    min-height:var(--wp--custom--min-height--eighth);
}
.fse-header-content{
    min-height:var(--wp--custom--min-height--eighth);
    width:min(100%, var(--wp--style--global--content-size));
    .fse-header-text{
        .wp-block-site-tagline{
            margin:0;
        }
    }
}
/**
 * Header
 */
.post-header-content{
     margin:var(--wp--custom--margin--block);
     width:min(100%, var(--wp--style--global--content-size));
    .fse-header-text{
        .wp-block-site-tagline{
            margin:0;
        }
    }

    .wp-block-post-title{
        flex-basis:100%;
    }
    .posted-on{
        flex-basis:100%;
        .wp-block-template-part-taxsonomy{
            width:100%;
        }
    }
}

.pattern-sticky-posts{
    .wp-block-query-pagination{
        display:none;
    }
}

#wp--skip-link--target:target{
    padding-top:3rem;
    margin-top:-3rem;
}

.wp-block-query-title{
    width: var(--wp--style--global--content-size);
    margin:var(--wp--custom--margin--block);
}
.edit-site-sidebar-navigation-screen__content{
    height: 50vh;
    overflow-x:hidden;
    overflow-y: auto;
}
body.editor-styles-wrapper{
    color: var(--wp--preset--color--contrast);
    background: var(--wp--preset--color--base);
}
body.editor-styles-wrapper a{
    color: var(--wp--preset--color--primary);
}

body .is-layout-flex > * {
    margin: 0;
}

/**
        * Columns Class
 */

.emulsion{
    .is-layout-grid > li{
        border:var(--wp--custom--border--common);
    }

    @for $i from 1 through 5 {

        .is-grid.columns-#{$i}{
            gap:var(--wp--custom--margin--gap);
            li{
                flex:1 1 auto;
                width: calc( 99.9% / #{$i} - var(--wp--style--block-gap, .75rem) * 3);
                margin:0;
                padding:.75rem;
                border:var(--wp--custom--border--common);
                @media screen and ( max-width : 40rem ) {
                    display:block;
                    width: 100%;
                }
            }
        }
    }
}

.wp-site-blocks{
    .alignleft,
    .alignright{
        &.is-resized{
            width:auto;
        }
    }
}

.wp-block-cover-image.alignleft,
.wp-block-cover.alignleft,
body .is-layout-constrained > .alignleft,
.alignleft{
    float:left;
    clear:left;
    width:var(--wp--custom--width--float);
    max-width:100%;
    margin:var(--wp--custom--margin--alignleft);

}

.alignleft.size-thumbnail{
    width:var(--wp--custom--width--thumbnail-float);
    max-width:100%;
    margin:var(--wp--custom--margin--alignleft);
    text-align:right;
}

.wp-block-cover-image.alignright,
.wp-block-cover.alignright,
body .is-layout-constrained > .alignright,
.alignright{
    float:right;
    clear:right;
    width:var(--wp--custom--width--float);
    max-width:100%;
    margin:var(--wp--custom--margin--alignright);
}

.alignright.size-thumbnail{
    width:var(--wp--custom--width--thumbnail-float);
    max-width:100%;
    margin:var(--wp--custom--margin--alignright);
    text-align:left;
}


.alignleft.size-thumbnail .components-resizable-box__container img{
    margin-right:0;
}
.alignright.size-thumbnail .components-resizable-box__container img{
    margin-left:0;
}

.wp-block-template-part > :where(:not([class*="align"]):not(a):not(span,select,input,textarea,button,img)) {

    width: min(100%, var(--wp--style--global--content-size));

}
/**
 *
 */
.emulsion .is-layout-deffault > .alignleft,
.emulsion .is-layout-flow > .alignleft{
    margin: var(--wp--custom--margin--alignleft);
}
.emulsion .is-layout-deffault > .alignleft,
.emulsion .is-layout-flow > .alignright{
    margin: var(--wp--custom--margin--alignright);
}

.emulsion{
    .wp-block-site-logo{
       // width:-moz-fit-content;
       // width:fit-content;
    }

    .wp-site-blocks{

        .rich-header{
            .wp-block-site-logo{
                margin:0 auto;
            }
        }

        .wp-block-search{

            .wp-block-search__inside-wrapper {
                padding: 0 0.75rem;
            }
            .wp-block-search__button,
            .wp-block-search__input{
                width:auto;
            }
        }

        .wp-block-comments-pagination{
            margin:1.5rem auto;
            .wp-block-comments-pagination-numbers,
            .wp-block-comments-pagination-next,
            .wp-block-comments-pagination-previous,
            .wp-block-comments-pagination-numbers * {
                width:-moz-fit-content;
                width:fit-content;
                margin:0;
            }
        }

        .aligncenter{
            width: var(--wp--custom--width--aligncenter);
            max-width: 100%;
            margin: var(--wp--custom--margin--block);
            clear: both;
        }
        .aignwide{
            width: var(--wp--style--global--wide-size);
            max-width: 100%;
            margin: var(--wp--custom--margin--block);

        }
        .aignfull{
            width: var(--wp--custom--width--full);
            max-width:100%;
            margin:var(--wp--custom--margin--container);
        }
        .is-style-layout-wide{
            width:auto;
            margin-left:auto !important;
            margin-right:auto !important;

            & > *:not(.alignfull){
                width:var(--wp--style--global--wide-size, 57.5rem);
                margin-left:auto !important;
                margin-right:auto !important;
            }
            .archive-title,
            .post-header-content,
            .fse-header-content,
            .wp-block-comment-template .wp-block-columns,
            .wp-block-comment-template,
            .wp-block-post-featured-image img{
                width:var(--wp--style--global--wide-size, 57.5rem);
            }

        }

        .wp-block-group:not(.fse-header-content).is-layout-flex{
            & > *{
                margin:0;
            }

            &.is-vertical{
                gap:0;
                & > *{
                    margin:var(--wp--custom--margin--block);

                    &:where(.wp-block-group){
                        margin:var(--wp--custom--margin--container);
                    }

                    &:is(p, h1,h2,h3,h4,h5,h6){
                        //Margin collapsing does not occur in flexbox
                        margin-top:calc(var(--wp--custom--margin--top) / 2);
                        margin-bottom:calc(var(--wp--custom--margin--bottom) / 2);
                    }
                }
            }
        }
    }
    & > #wp-toolbar,
    & > #adminmenumain{
        width:auto;
        max-width:none;
    }
}

.wp-video-playlist .mejs-overlay-button{
    width:auto;
}
.emulsion{
    .wp-block-post-content{
        & > .wp-block-site-logo,
        & >.wp-block-post-author{
            margin-left:max(1px,var(--wp--custom--margin--start-content)) !important;
        }
        & > * .fse-header-text,
        & > * .wp-block-site-logo{
            margin:auto 0 !important;
            padding-left:.75rem;
        }
    }
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    &.is-style-start-content {
        position: static;
        margin-left: max(1px, var(--wp--custom--margin--start-content)) !important;
    }
    &.is-style-start-wide{
        position: static;
        margin-left:max(1px, var(--wp--custom--margin--start-wide)) !important;
    }
    &.is-style-end-content{
        margin-left:auto;
        margin-right: max(1px, var(--wp--custom--margin--start-content)) !important;
    }
    .is-style-end-wide{
        margin-left:auto;
        margin-right:max(1px, var(--wp--custom--margin--start-wide)) !important;
    }
}

.is-root-container .wp-block-post-navigation-link a{
    padding:.75rem;
}
.wp-block-post-navigation{
    width:min(100%, var(--wp--style--global--content-size));
    &.wp-block-group:not(.specificity){
        display:flex;
        flex-wrap:wrap;
        .columns-default{
            flex-wrap:nowrap;
        }
        &.is-nowrap{
            flex-wrap:nowrap;
        }
        gap:var(--wp--style--block-gap, .75rem);
        --wp--style--block-gap:var(--wp--custom--margin--gap, .75rem);

        margin:var(--wp--custom--margin--block);
    }
    .wp-block-post-navigation-link{
        flex: 1 1 auto;
        padding:0;
        a{
            padding: 0.685rem;
            display:block;
            text-align:center;
        }
        &:empty{
            display:none;
        }
    }
}


