@import 'scss-@';

.emulsion-fse-active{

    a:any-link{
        text-decoration:none;
    }

    $fse_containers: wp-block-post-content, wp-block-post-excerpt;

    @each $fse_container in $fse_containers {

        .enable-alignfull{
            .#{$fse_container}{
                width:100%;
                &.alignwide{
                    @extend %alignwide;
                }
            }
        }
    }

    $fse_blocks: wp-block-template-part, wp-block-site-title, wp-block-site-tagline, wp-block-post-title, wp-block-post-featured-image, wp-block-post-date, wp-block-post-excerpt, wp-block-site-logo
        , wp-block-query, wp-block-query-pagination, wp-block-site-title, wp-block-post-author__byline, wp-block-post-comment, block-editor-default-block-appender
        , wp-block-post-comments-count, wp-block-post-comments-form, wp-block-post-date, wp-block-post-excerpt, wp-block-post-hierarchical-terms
        , wp-block-post-tags, wp-block-navigation;

    @each $fse_block in $fse_blocks {

        .enable-alignfull{

            .#{$fse_block}{
                &.alignwide{
                    @extend %alignwide;
                }
            }

            &.emulsion-has-sidebar{

                .#{$fse_block}{
                    &.alignfull{
                        @extend %has-sidebar-alignfull;

                        left:0;

                    }
                }
                .edit-site .wp-block[data-align="full"]{
                    @extend %has-sidebar-alignfull;
                    position:static!important;
                    margin-left:auto;
                    margin-right:auto;
                    left:0;

                }
            }
            &.emulsion-no-sidebar{

                .#{$fse_block}{
                    &.alignfull{
                        @extend %no-sidebar-alignfull;

                    }
                }
                
                .edit-site .wp-block[data-align="full"]{
                    @extend %no-sidebar-alignfull;
                    position:static!important;
                    margin-left:auto;
                    margin-right:auto;

                }
            }
        }

        .disable-alignfull,
        .enable-alignfull{

            .#{$fse_block}{
                @extend %block;
                margin-left:auto;
                margin-right:auto;
            }
            .#{$fse_block}{
                &.aligncenter {
                    @extend %aligncenter;
                }
            }
            .#{$fse_block}{
                &.alignleft{
                    @extend %alignleft;

                }
            }
            .#{$fse_block}{
                &.alignright{
                    @extend %alignright;

                }
            }
            .#{$fse_block}{
                margin-left:auto;
                margin-right:auto;
            }
            .#{$fse_block}__inner-container{
                padding-left:0;
                padding-right:0;
                h1,h2,h3,h4,h5,h6{

                }
                div,figure{
                    padding-left:0;
                    padding-right:0;
                }
            }
        }
        .disable-alignfull{
            .wp-site-blocks{
                @extend %block;
                margin:0 auto;
                padding:0;

            }

        }

    }
    body{
        margin:0;
        padding:0;
        line-height:var(--thm_content_line_height);
        word-break:break-word;
        overflow-wrap:break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        overflow-x:hidden;
        box-sizing:border-box;
    }
    .wp-block-post-author {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        width: var(--thm_content_width);
        padding-left: var(--thm_content_gap);
        padding-right: var(--thm_content_gap);
        box-sizing:border-box;
        .wp-block-post-author__content{
            width:200px;
            flex: 0 0 auto;
        }
        .wp-block-post-author__avatar{
            width:-moz-fit-content;
            width:50px;
            flex: 0 0 auto;
        }

    }
    /**
     * Content block
     */
    .emulsion-prepend-page-wrapper,
    .post-navigation,
    .pagination,
    .wp-block-query,
   // [class|="wp-block"],
    blockquote cite,
    .description,
    .wp-block-post-date,
   // .entry-content > div,
    address,aside,canvas,dd,dl,dt,fieldset,
    figcaption,hr,iframe,noscript,output,pre,section,video,
    ul,ol,table,p,form,h1,h2,h3,h4,h5,h6{

        width:var(--thm_content_width);
        max-width:100%;
        margin:1.5em auto .75em;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
        box-sizing:border-box;
    }

    .wp-block-group{
        &.emulsion-panel{
            .emulsion-panel-title{
                margin-top:0;
                margin-bottom:0;
            }
        }
    }
    /**
     * Structure block
     */

    form,
    .wp-block-quote{
        padding-left:0;
        padding-right:0;
        box-sizing:border-box;
    }

    .enable-alignfull{
        [class|="wp-block"].alignfull,
        .comment-form,
        .wp-block-post-comments,
        .wp-block-post-content,
        .wp-block-post-excerpt,
        .wp-site-blocks,
        .page{
            width:var(--thm_main_width);
            max-width:100%;
            margin:1.5em auto .75em;
            padding-left:0;
            padding-right:0;
        }
    }

    body.layout-list article:not(.comment-body){
        border-bottom:none;
    }
    .nav-menu-child-opener{
        visibility:hidden;
    }
    .layout-list.excerpt article{
        display:block;
    }
    .post-navigation,
    .navigation.pagination{
        display:block;
        text-align:center;
    }

    .page.emulsion-header-has-title .wp-site-blocks .article-header,
    .single.emulsion-header-has-title .wp-site-blocks .article-header{
        display:none;
    }
    .page.emulsion-layout-has-title .entry-text,
    .single.emulsion-layout-has-title .entry-text{
        display:none;
    }
    .wp-block-post-date{
        width:var(--thm_content_width);
        max-width:100%;
        margin:1.5rem auto .75rem;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
        box-sizing:border-box;
    }
    .navigation.pagination{
        display:none;
    }
    .wp-site-blocks > div:not([class]){
        //query pagination yet not has class
        width:var(--thm_content_width);
        max-width:100%;
        margin:1.5rem auto .75rem;
        box-sizing:border-box;
        padding-left:var(--thm_content_gap);
        padding-right:var(--thm_content_gap);
        a{
            display:block;
            padding:1rem var(--thm_content_gap);
            border-color:var(--thm_common_border);
            border-width:1px;
            border-style:solid;
        }
    }
}