@import 'scss-@';

@media screen and ( max-width : $main_width ) {
    //@media screen and ( max-width : 1280px) {
    :root{
        --thm_main_width: 100%;
        --thm_main_width-with-sidebar:100%;
    }
    ul.wp-nav-menu[data-direction="horizontal"]{
        --thm_main_width: 100%;
    }

    .layout_stream,
    .layout-grid{
        &.emulsion-has-sidebar{
            .wp-nav-menu{
                --thm_main_width:calc(100vw - 48px );
            }
            main{
                .grid{
                    --thm_main_width:100%;
                }
                .stream{
                    --thm_main_width:100%;
                   --thm_content_width:320px;
                }
            }
        }
        &.emulsion-no-sidebar{
            .wp-nav-menu{
                --thm_main_width:calc(100vw - 48px );
            }
            main{
                .grid{
                    --thm_main_width:100%;
                }
                .stream{
                    --thm_main_width:100%;
                   --thm_content_width:320px;
                }
            }
        }
        main{
            .page-title-block{
                --thm_main_width:100%;
            }
        }
    }
}
@media screen and ( max-width : $content_width  ) {
    //@media screen and ( max-width : 720px  ) {
    body{
        --thm_main_width: 100vw;
        --thm_content_width: 100vw;
        --thm_main_width-with-sidebar:100vw;
    }

    .layout_stream,
    .layout-grid{
        .has-column{
            main{
                .grid{
                    --thm_main_width:100%;
                }
                .stream{
                    --thm_main_width:100%;
                   --thm_content_width:100%;
                }
            }
        }
        main{
            .grid{
               --thm_content_width: 100%;
                article{
                  --thm_content_width: 100%;
                }
            }
            .stream{
               --thm_content_width: 100%;
                article{
                   --thm_content_width: 100%;
                }
            }
        }
    }
}
@media screen and ( max-width : 600px ) {
    .on-scroll[class].logged-in .menu-active {
        margin-top: 0;
    }
}
//fonts.css
@media screen and ( max-width : $content_width ) {
    .entry-content > div.wp-block-image.is-resized.alignright,
    .entry-content > div.wp-block-image.is-resized.alignleft{
        margin-right:auto;
        margin-left:auto;
    }
    body.home .header-video-active .site-title-text,
    body.home .header-image-active .site-title-text{
       @include font_size( 3, no-margin );
    }
    //page.scss
    .layout-grid{
        .grid{
            .article-wrapper:nth-child(2),
                .article-wrapper:nth-child(1){
                flex:1 1 var(--thm_content_width, 24% );
                width: var(--thm_content_width, 296px);
            }
        }
    }
    .layout-stream{
        .stream{
            .article-wrapper{
                flex:1 1 auto;
                width:100%;
                max-width:100%;
                margin:0 var(--thm_box_gap, 3px) var(--thm_box_gap, 3px);
                overflow:hidden;
                article{
                    //width:calc(100vw - 1.5rem);
                    width:100%;
                    .stream-wrapper{
                        width:100%;
                        .content-col{
                            order:1;
                            width:100vw;
                            max-width:100%;
                            margin-right:0;
                            margin-left:0;
                        }
                        .post-thumb-col{
                            max-width:100%;
                            margin-right:0;
                            margin-left:0;
                            &:empty{
                                & + .content-col{
                                    flex: 1 1 auto;
                                    width: 100%;
                                    max-width:none;
                                    margin-right:auto;
                                    margin-left:auto;
                                }
                            }
                        }
                        .show-content{
                            &:before{
                                top:-64px;
                            }
                        }
                    }
                    &.has-post-thumbnail{
                        .show-content{
                            &:before{
                                top:-64px;
                                right:-150px;
                            }
                            &.is-active:before{
                                top:-64px;
                                right:0;
                            }
                        }
                    }
                }
            }
        }
    }
    ul.wp-nav-menu[data-direction="horizontal"],
    .entry-content .alignright,
    .entry-content .alignleft,
    .entry-content .aligncenter,
    .aligncenter,
    div.alignleft,
    img.alignleft,
    .alignleft,
    div.alignright,
    img.alignright,
    .alignrigh,
    div.wp-block-cover.alignright,
    .wp-block-cover.alignleft,
    .page .entry-content figure.alignfull,
    .post .entry-content figure.alignfull,
    .wp-block-embed.alignleft,
    .wp-block-embed.alignright,
    .archive-title,
    .social,
    main > nav,
    article footer,
    article address,
    article aside,
    article canvas,
    article menu ,
    article dl,
    article form,
    article nav,
    article noscript,
    article ol,
    article p,
    article pre,
    article section,
    article ul,
    article video,
    article cite,
    .entry-content figure.alignwide img,
    .entry-content figure.alignfull img,
    ol.alignright,
    ul.alignright,
    ol.alignleft,
    ul.alignleft,
    .entry-content :not([class|="wp-block"]) a > img.alignleft,
    .entry-content :not(.wp-caption) a > img.alignleft,
    .entry-content :not(.wp-caption) a > img.alignleft,
    .entry-content > p > a > img.alignleft,
    .line .size1of2,
    .line .size1of3,
    .line .size1of4,
    .line .size1of5,
    .line .size2of3,
    .line .size2of5,
    .line .size3of4,
    .line .size3of5,
    .line .size4of5,
    .entry-content .size1of2,
    .entry-content .size1of3,
    .entry-content .size1of4,
    .entry-content .size1of5,
    .entry-content .size2of3,
    .entry-content .size2of5,
    .entry-content .size3of4,
    .entry-content .size3of5,
    .entry-content .size4of5,
    article .entry-content p.alignleft,
    article .entry-content p.alignright,
    article .entry-content p.aligncenter,
    article .entry-content p.alignfull,
    .hentry .entry-content .alignleft,
    .hentry .entry-content .alignright,
    .hentry .entry-content .aligncenter,
    .hentry .entry-content .alignfull,
    .hentry .entry-content .alignleft,
    .hentry .entry-content .alignright,
    .hentry .entry-content .aligncenter,
    .entry-content .alignfull,
    .hentry .entry-content .is-resized,
    .hentry .entry-content .wp-block-image.alignleft,
    .hentry .entry-content .wp-block-image.alignright,
    .hentry .entry-content .wp-block-image.aligncenter,
    .hentry .entry-content .wp-block-image.alignfull,
    .hentry .entry-content .wp-block-image.is-resized{
        position:relative;
        left:0;
        display:block;
        float:none;
        width: var(--thm_content_width, 100% );
        max-width:100%;
        margin-right:0;
        margin-left:0;
        &.has-background-dim:before{
            display:none;
        }
    }
    .alignfull{
        float:none;
        width:100%;
        max-width:100%;
        margin-right:auto;
        margin-left:auto;
        clear:both;
        &[class|="wp-block"]:not(.wp-block-template-part-header-content){
            display:block;

        }
        &.wp-block-columns{
            padding-right:0;
            padding-left:0;
            .wp-block-column{
                float:none;
                width:100%;
                max-width:100%;
                margin-right:auto;
                margin-left:auto;
                clear:both;

            }
        }
        &.wp-block-group{
            position:static;
            display:flex;
            flex-direction:column;
            flex-wrap:wrap;
        }
    }
    .entry-content .wp-block-table{
        max-width:100%;
        padding-right:var(--thm_content_gap, 24px);
        padding-left:var(--thm_content_gap, 24px);
        margin-right:auto;
        margin-left:auto;
    }

    .wp-block-table.stretch,
    .hentry .entry-content .alignright,
    .hentry .entry-content .alignleft,
    .emulsion-no-sidebar.enable-alignfull .wp-block-table.alignfull .wp-block-table,
    .emulsion-has-sidebar.enable-alignfull .wp-block-table.alignfull .wp-block-table,
    .entry-content  .wp-block-table.alignfull,
    .entry-content  .wp-block-table.alignwide{
        width:100%;
        margin-right:auto;
        margin-left:auto;
    }
    .enable-alignfull #main .wp-block-cover.alignleft .wp-block-cover__inner-container,
    .enable-alignfull #main .wp-block-cover.alignright .wp-block-cover__inner-container{
        margin-top:20%;
    }
    .entry-content .wp-block-media-text{
        margin-right:auto;
        margin-left:auto;
    }
    .hentry .entry-content [class|="wp-block-embed"].alignfull{
        display:block;
    }
    .emulsion-has-sidebar .hentry .entry-content .wp-block-image{
        display:block;
    }
    .hentry .entry-content ul.wp-block-gallery .blocks-gallery-item{
        width:auto;
    }
    .wp-caption.alignright,
    .wp-caption.aligncenter,
    .wp-caption.alignleft,
    figure img{
        display:block;
        height:auto;
        margin-right:auto;
        margin-left:auto;
    }
    .entry-content .wp-block-gallery.aligncenter{
        width: var(--thm_content_width, 100% );
        padding-right:0;
        margin-right:auto;
        margin-left:auto;
    }
    figure{
        &[class|="wp-block-embed"]{
            position:static;
            width: var(--thm_content_width, 100% );
            // @1.3.2 max-width: var(--thm_content_width, 100% );
            max-width: 100%;
            margin-right:auto;
            margin-left:auto;
        }
        &.wp-block-embed-reddit{
            &.alignright,
            &.alignleft{
                float:none;
                width:100vw;
                min-height:260px;
                clear:both;
                .wp-block-embed__wrapper{
                    iframe{
                        min-height:240px;
                    }
                }
            }
        }
    }
    body .wp-block-image figure.alignleft.is-resized{
        margin-right:auto;
        margin-left:var(--thm_content_gap, 24px);
    }
    body .wp-block-image figure.alignright.is-resized{
        margin-right:var(--thm_content_gap, 24px);
        margin-left:auto;
    }
    .emulsion-has-sidebar .page-wrapper{
        width:var(--thm_content_width, 100%);
        min-width:var(--thm_content_width, 100%);
    }
    body.emulsion-has-sidebar .footer-widget-area .footer-widget-area-lists .widget,
    body.emulsion-no-sidebar .footer-widget-area .footer-widget-area-lists .widget{
        flex:1 1 auto;
    }
    // .comment-form,
    .comment-respond{

        .comment-form{
            box-sizing:border-box;
            textarea{
                width:100%;
                max-width:100%;
                margin-right:auto;
                margin-left:auto;/* - label width */
            }
            input{
                &[name="author"],
                &[type="url"],
                &[type="email"],
                &[type="author"],
                &[type="comment"]{
                    width:100%;
                    max-width:100%;
                    margin-right:auto;
                    margin-left:auto;/* - label width */
                }
                &[type="submit"]{
                    @include font_size( 5, no-margin );
                    padding:0.830rem;
                    margin-right:auto;
                    margin-left:auto;
                    line-height:calc( 1em * var( --thm_content_line_height, 1.5 ) );
                }
            }
            label{
                &[for="url"],
                &[for="email"],
                &[for="author"],
                &[for="comment"]{
                    display:inline-block;
                    width:8em;
                    vertical-align:top;
                }
            }
            label.wp-comment-cookies-consent{
              @include font_size( 5, no-margin );
            }
        }
        .logged-in-as{
            padding-right:var(--thm_content_gap, 24px);
            padding-left:var(--thm_content_gap, 24px);
            font-size:var(--thm_meta_data_font_size, 13px);
            a{
                text-decoration:none;
            }
        }
    }
}
@media screen and ( min-width : $main_width ) {
    article footer.fit,
    article header.fit{
        margin-right:auto;
        margin-left:auto;
        .entry-title{
            padding-right:0;
            padding-left:0;
        }
    }
    .emulsion-has-sidebar{
        .entry-content{
            .wp-block-columns{
                &.alignwide{
                    position:static;
                    //width: calc(  var(--thm_content_width, 720px) + var(--thm_align_offset, 200px));
                    width:var(--thm_wide_width, 920px);
                    max-width:100%;
                    padding-right:0;
                    padding-left:0;
                }
                &.alignfull{
                   /* position:relative;
                    width: 100%;
                    max-width:none;// 1/25*/
                    @extend %has-sidebar-alignfull;
                }
            }
        }
    }
    .emulsion-no-sidebar{
        .entry-content{
            .wp-block-columns{
                &.alignwide{
                    position:static;
                    //width: calc(  var(--thm_content_width, 720px) + var(--thm_align_offset, 200px));
                    width:var(--thm_wide_width, 920px);
                    padding-right:0;
                    padding-left:0;
                    //max-width:none;
                }
                &.alignfull{
                    /*position:static;
                    width:100%;
                    max-width:none;
                    left: 0;*/
                    @extend %no-sidebar-alignfull;
                }
            }
        }
    }
    body.emulsion-has-sidebar .primary-menu-wrapper .menu-placeholder{
        z-index:4;
        flex-basis: auto;
        min-width: 0;
    }
    .footer-widget-area{
        .footer-widget-area-lists{
            justify-content:center;
        }
    }
    body.on-scroll .side-right input[type="checkbox"][data-skin="inset"][id="toc-toggle"]:checked ~ .toc {
        right:0;
        left:auto;
        width: var(--thm_sidebar_width);
        text-align:left;
    }
    body.on-scroll .side-left input[type="checkbox"][data-skin="inset"][id="toc-toggle"]:checked ~ .toc {
        right:auto;
        left:0;
        width: var(--thm_sidebar_width);
        text-align:left;
    }
    nav[class|="menu"]{
        ul.wp-nav-menu{
            &[data-direction="horizontal"]{
                display:flex;
                padding-right:var(--thm_content_gap, 24px);
            }
            &[data-direction="vertical"]{
                li{
                    width:100%;
                }
            }
        }
    }
}
//nav-menu.scss
@media screen and ( min-width : $main_width + 1 ) {
    .emulsion-has-sidebar{
        nav[class|="menu"]{
            flex:1 1 auto;
            width:calc( 100vw - var(--thm_sidebar_width) - 1rem);
        }
    }
    .emulsion-has-sidebar{
        .primary-menu-wrapper{
            .menu-placeholder{
                color: var(--thm_primary_menu_color);
                //background: var(--thm_sidebar_bg_color);
                background: var(--thm_primary_menu_background);
            }
        }
    }
}
@media screen and ( max-width : $main_width ) {
    nav[class|="menu"]{
        // nav[class*=" menu"]{
        ul.wp-nav-menu{
            &[data-direction="horizontal"]{
                li{
                    .sub-menu,
                    .children{
                        .sub-menu,
                        .children{
                            top:1.5rem;
                            left:calc( -50% + 1rem);
                            .sub-menu,
                            .children{
                                top:1.5rem;
                                left:calc( 50% + 1rem);
                            }
                        }
                    }
                }
            }
        }
    }
    .emulsion-has-sidebar{
        .primary-menu-wrapper{
            &.side-left{
                .menu-placeholder{
                    position:relative;
                    z-index:1;
                    flex:1 0;
                    flex-basis:auto;
                    width:auto;
                    min-width:0;
                    padding-right:var(--thm_content_gap, 24px);
                    text-align:right;
                }
            }
            &.side-right{
                .menu-placeholder{
                    position:relative;
                    z-index:1;
                    flex:1 1 auto;
                    width:auto;
                    min-width:96px;
                }
            }
        }
    }
    body.on-scroll{
        .primary-menu-wrapper{
            &.side-right{
                input[type="checkbox"][data-skin="inset"][id="toc-toggle"]:checked ~ .toc{
                    right:0;
                }
            }
            &.side-left{
                input[type="checkbox"][data-skin="inset"][id="toc-toggle"]:checked ~ .toc{
                    right:auto;
                    left:0;
                }
            }
        }
    }
}

//.site-header.scss
@media screen and ( max-width : $content_width + $content_gap * 2 + 16px) {
    body{
        .template-part-header{
            &.header-image-active{
                height:auto;
                max-height:none;
                & + div{
                    padding-top:0;
                }
                .entry-text{
                    height:auto;
                    padding-bottom:1.5rem;
                    margin-bottom:0;
                    overflow:visible;
                    div{
                        height:auto;
                        overflow:visible;
                    }
                }
            }
        }
    }
    .header-layer-nav-menu input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
        display:block;
        visibility:visible;
    }
    .header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"] ~ nav{
        display:none;
        visibility:hidden;
    }
    .header-layer-nav-menu input[type="checkbox"][data-skin="hamburger"]:checked ~ nav{
        position:absolute;
        top:1.5rem;
      //  right:48px;
        z-index:10;
        display:block;
        visibility:visible;

        .menu{
            width:100%;
            .nav-menu-child-opener-label:before{
                background-size:contain;
            }
            .nav-menu-child-opener[type="checkbox"]:checked ~ label:before {
                background-size:contain;
            }
        }
    }
    .on-scroll .template-part-header-custom ~ .primary-menu-wrapper{
        filter: var(--thm_filter_shadow, drop-shadow(3px 3px 3px rgba(0,0,0,0.3)));
        transition: filter 0.5s ease-in-out;
        transition-delay: 0s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        transition-property: filter;
    }
    .template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
        display:block;
        visibility:visible;
    }
    .template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin="hamburger"] ~ nav{
        display:none;
        visibility:hidden;
    }
    //////////////////////
    .template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin] + label[for="primary-menu-controll"]{
        position:relative;
        top:3.2rem;
        left:0;
        display:block;
        width:45px;
        margin:0 1em 45px;
        clear:both;
        vertical-align:middle;
    }
    ///////////////////////
    .template-part-header-custom ~ .primary-menu-wrapper input[type="checkbox"][data-skin="hamburger"]:checked ~ nav{
        position:absolute;
        top:auto;
        left:72px;
        z-index:10;
        display:block;
        width:calc(100vw - 72px - 1rem);
        visibility:visible;


        ul{
            li{
                &.menu-item{
                    .nav-menu-child-opener-label:before{
                        background-size:contain;
                    }
                    .nav-menu-child-opener[type="checkbox"]:checked ~ label:before {
                        background-size:contain;
                    }
                }
            }
        }
    }
    body.on-scroll .primary-menu-wrapper{
        .menu-placeholder{
            padding-top:0;
            //margin-left:48px;
            text-align:right;
        }
        input[type="checkbox"][data-skin="inset"][id="toc-toggle"]:checked ~ .toc {
            right:0;
            left:auto;
            width: 50vw;
        }
    }
    //effect.scss
    body.emulsion-has-sidebar .page-wrapper {
        width: var(--thm_content_width, 100%);
        min-width:100%;
    }
    article footer{
        max-width:100%;
    }
}
//sidebar.scss
@media screen and ( min-width : $content_width + $sidebar_width + 1px + 16px ) {
    // for sidebar width support
    body.emulsion-has-sidebar .sidebar-widget-area{
        position:relative;
        z-index:1;
        flex:0 0;
        flex-basis:var( --thm_sidebar_width, 400px );
    }
}
////////////////////////////////////
/*
@media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
    // for sidebar width support
    body.emulsion-has-sidebar .sidebar-widget-area{
        position:relative;
        z-index:1;
        flex:0 0;
        flex-basis:100%;
        width:100%;
        max-width:100%;

    }
    ul.sidebar-widget-area-lists{
        //width:100%;
        max-width:100%;
    }
}*/
@media screen and ( min-width : $content_width + $sidebar_width + 1px + 16px ) {
    //@media screen and ( min-width : 1121px ) {/* 720 + 400 */
    .emulsion-has-sidebar .grid .wp-block-columns.alignfull,
    .emulsion-has-sidebar .grid .wp-block-text-columns.alignfull,
    .emulsion-has-sidebar .grid table.alignfull,
    .emulsion-has-sidebar .grid p.alignfull,
    .emulsion-has-sidebar .grid .wp-block-gallery.alignfull,
    .emulsion-has-sidebar .grid .entry-content figure.alignfull{
        width: 100%;
        margin-right:0;
        margin-left:0;
    }
    .enable-alignfull{
        .emulsion-no-sidebar table.alignfull{
            width:calc( 100vw - var( --thm_content_gap, 24px ) * 2 );
            margin-left: calc( -50vw + var( --thm_content_gap, 24px )  );
        }
    }
}
@media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
    .emulsion-has-sidebar{
        .has-column{
            overflow-x:hidden;
        }
        .sidebar-widget-area{
            max-width:100%;
        }
    }
}
@media screen and (max-width: $content_width + $sidebar_width + 16px) {
    .enable-alignfull{
        &.emulsion-has-sidebar{
            article{
                .alignfull{
                    //max-width:none;
                }
            }
        }
    }
}
@media screen and ( max-width : $content_width + $sidebar_width + 16px) {
    //@media screen and ( max-width : 1120px ) {
    div.emulsion-has-sidebar .sidebar-widget-area{
        min-width:100vw;
    }
    .enable-alignfull{
        .emulsion-has-sidebar table.alignfull,
        .emulsion-no-sidebar table.alignfull{
            /* like padding */
            width:calc( 100vw - var( --thm_content_gap, 24px ) * 2 );
            margin-left: calc( -50vw + var( --thm_content_gap, 24px ) );
        }
    }
}
@media screen and ( max-width : $content_width + $sidebar_width + 16px ) {
    body.emulsion-no-sidebar article header,
    body.emulsion-has-sidebar article header{
        margin: 0;
    }
    .emulsion-has-sidebar .nav-links{
        max-width:100%;
    }
    .emulsion-has-sidebar .sidebar-widget-area{
        position:static;
    }
}
@media screen and ( max-width : $content_width + $content_gap * 2 ) {
    .archive{
        main{
            .page-title-block{
                .taxonomy-description{
                    width:100%;
                    max-width:100%;
                    margin-right:0;
                    margin-left:0;
                    p{
                        padding-right:0;
                        padding-left:0;
                    }
                }
            }
        }
    }
}

body{
    header{
        &.template-part-header{
            .header-layer-site-title-navigation{
                @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                    display:block;
                }
                .header-text{
                    @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                        display:block;
                    }
                }
                .header-layer-nav-menu{
                    @media screen and ( max-width : $content_width + $content_gap * 2 ) {
                        position:absolute;
                        top:64px;
                        right:0;
                        z-index:8;
                        display:block;
                        width:100vw;
                        height:53px;
                        nav[class|="menu"]{
                            width:100%;
                        }
                        input[type="checkbox"][data-skin="hamburger"]:checked ~ nav{
                            top:0;
                        }
                    }
                }
            }

        }
    }
    &.on-scroll{
        &.logged-in{
            .template-part-header{
                .header-layer-site-title-navigation{
                    top:32px;
                }
            }
        }
        .template-part-header{
            .header-layer-site-title-navigation{
                top:0;
                max-width:100%;
            }
        }
    }
}
/**
 * Responsive
 */
@media screen and ( max-width : 640px ) {
    .entry-content.alignnone,
    .entry-content p.alignright,
    .entry-content p.alignleft,
    p.aligncenter,
    div.alignleft,
    img.alignleft,
    .alignleft,
    div.alignright,
    img.alignright,
    .alignright{
        float:none;
        margin-right:auto;
        margin-left:auto;
        clear:both;
    }
}
@media screen and ( max-width : 600px ) {
    .emulsion-has-sidebar,
    .emulsion-no-sidebar{
        &.enable-alignfull{
            .wp-block-media-text{
                grid-template-columns:50% 50%;
                &.is-stacked-on-mobile{
                    //Stack on mobile. hide Image
                    grid-template-areas: "media-text-media" "media-text-content";
                    grid-template-rows:2;
                    grid-template-columns:100% ! important;
                    grid-column: span 1;
                }
            }
        }
    }
    .on-scroll{
        &.logged-in{
            .menu-active{
                margin-top:0;
            }
        }
    }
}
@media (min-width: 600px) {
    // Overwrite core
    .wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n),
    .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n),
    .wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),
    .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
    .wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),
    .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
    .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
    .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),
    .wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n),
    .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),
    .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n),
    .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),
    .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n),
    .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n),
    .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n),
    .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
        margin-right: var(--thm_box_gap, 3px);
    }
}
@media screen and ( max-width : 480px ) {
    body{
        .sidebar-widget-area{
            .widget_calendar{
                .calendar_wrap{
                    box-sizing:border-box;
                    padding-right:var(--thm_content_gap, 24px);
                    padding-left:var(--thm_content_gap, 24px);
                    margin-right:auto;
                    margin-left:auto;
                    text-align:center;
                }
            }
        }
    }
}
@media screen and ( max-width : $content_width + $content_gap * 2 ) {
    .emulsion .is-style-responsive{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: stretch;
        padding:0;
    }
}