<!-- wp:template-part {"slug":"header-rich","tagName":"header", "align":"full", "className":"fse-header header-layer wp-block-template-part-header-rich"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:template-part {"slug":"query-post", "tagName":"main", "align":"full", "className":"fse-query-post-template main-query"} /-->

<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner wp-block-template-part-footer"} /-->
