
<!-- wp:template-part {"slug":"header","tagName":"header", "align":"full", "className":"fse-header header-layer banner wp-block-template-part-header alignfull"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"main-query"} -->
<main class="wp-block-group alignfull main-query">
    <!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":100,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"inherit":true},"displayLayout":{"type":"list"},"align":"full","layout":{"type":"constrained"}} -->
    <div class="wp-block-query alignfull"><!-- wp:post-template -->
        <!-- wp:group {"tagName":"article","className":"post loop-item"} -->
        <article class="wp-block-group post loop-item">

            <!-- wp:template-part {"slug":"post-header","tagName":"header","className":"post-header wp-block-template-post-header"} /-->

            <!-- wp:post-featured-image /-->

            <!-- wp:post-excerpt /--></article>
        <!-- /wp:group -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner  alignfull"} /-->