<!-- wp:template-part {"slug":"header-singular","tagName":"header", "align":"full", "className":"fse-header header-layer banner wp-block-template-part-header-singular"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:columns {"className":"alignfull fse-columns"} -->
<div class="wp-block-columns alignfull fse-columns fse-columns">
    <!-- wp:column -->
    <div class="wp-block-column main">
        <!-- wp:group {"align":"full","tagName":"main","layout":{"type":"constrained"},"metadata":{"name":"Main"}} -->
        <main class="wp-block-group alignfull">
            <!-- wp:template-part {"slug":"page-content","tagName":"div", "align":"full", "className":"page"} /-->

        </main>
    <!-- /wp:group -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->



<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner"} /-->
