<!-- wp:template-part {"slug":"header-singular","tagName":"header", "align":"full", "className":"fse-header header-layer banner wp-block-template-part-header-singular alignfull", "layout":{"type":"constrained"}} /-->

<!-- wp:group {"align":"full","tagName":"main", "layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"page-content","tagName":"div", "align":"full", "className":"page"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner wp-block-template-part-footer alignfull", "layout":{"type":"constrained"}} /-->