<!-- wp:template-part {"slug":"header-singular","tagName":"header","align":"full","className":"fse-header header-layer banner wp-block-template-part-header-singular alignfull"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","type":"constrained"},"align":"full"} -->
<main class="wp-block-group alignfull"><!-- wp:group {"layout":{"type":"constrained"},"align":"full","className":"article-wrapper"} -->
<div class="wp-block-group alignfull article-wrapper"><!-- wp:group {"tagName":"article","layout":{"type":"constrained"},"className":"alignfull post"} -->
<article class="wp-block-group alignfull post"><!-- wp:post-featured-image /-->

<!-- wp:template-part {"slug":"post-header","tagName":"header","align":"full", "className":"post-header wp-block-template-post-header"} /-->

<!-- wp:columns {"align":"wide","className":"single-with-toc-columns"} -->
<div class="wp-block-columns alignwide single-with-toc-columns"><!-- wp:column {"width":"33.33%","className":"is-style-sticky column-toc"} -->
<div class="wp-block-column is-style-sticky column-toc" style="flex-basis:33.33%"><!-- wp:group {"layout":{"type":"constrained"},"className":"toc"} -->
<div class="wp-block-group toc"><!-- wp:table-of-contents /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%","className":"main"} -->
<div class="wp-block-column main" style="flex-basis:66.66%"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"post-footer","tagName":"footer","align":"full", "className":"post-footer wp-block-template-part-post-footer"} /--></article>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"nav","className":"wp-block-post-navigation","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<nav class="wp-block-group wp-block-post-navigation"><!-- wp:post-navigation-link {"type":"previous"} /-->

<!-- wp:post-navigation-link /--></nav>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"footer-layer fse-footer banner wp-block-template-part-footer alignfull"} /-->

