<!-- wp:template-part {"slug":"header-singular", "tagName":"header", "align":"full", "className":"fse-header header-layer banner wp-block-template-part-header-singular"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:group {"align":"full", "className":"", "tagName":"main", "layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"post-content", "tagName":"div", "align":"full", "className":"article-wrapper"} /-->
</main><!-- /wp:group -->

<!-- wp:group {"tagName":"nav","className":"wp-block-post-navigation","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<nav class="wp-block-group wp-block-post-navigation"><!-- wp:post-navigation-link {"type":"previous"} /-->

<!-- wp:post-navigation-link /--></nav>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner wp-block-template-part-footer"} /-->
