<!-- wp:template-part {"slug":"header","tagName":"header", "align":"full", "className":"fse-header header-layer banner wp-block-template-part-header alignfull"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu"} /-->

<!-- wp:columns {"className":"alignfull fse-columns"} -->
<div class="wp-block-columns alignfull fse-columns">
    <!-- wp:column {"className":"main"} -->
    <div class="wp-block-column main">
        <!-- wp:template-part {"slug":"query-post", "tagName":"main", "align":"full", "className":"fse-query-post-template main-query", "layout":{"type":"constrained"}} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner wp-block-template-part-footer alignfull"} /-->