<!-- wp:template-part {"slug":"header-rich","theme":"emulsion","tagName":"header","className":"fse-header header-layer"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"align":"full","className":"article-wrapper","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull article-wrapper"><!-- wp:group {"className":"alignfull post"} -->
<div class="wp-block-group alignfull post"><!-- wp:template-part {"slug":"theme-front-page-demo","theme":"emulsion","className":"entry-content wp-block-template-part-theme-front-page-demo"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"emulsion","tagName":"footer","align":"full","className":"footer-layer fse-footer banner  alignfull"} /-->