<!-- wp:template-part {"slug":"header-rich","tagName":"header", "className":"fse-header header-layer wp-block-template-part-header-rich", "layout":{"type":"constrained"}} /-->

<!-- wp:group {"align":"full","tagName":"main", "layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">

    <!-- wp:group {"align":"full","className":"article-wrapper", "layout":{"type":"constrained"}} -->
    <div class="wp-block-group article-wrapper alignfull">

        <!-- wp:group {""align":"full","tagName":"article", "className":"post", "layout":{"type":"constrained"}} -->
        <article class="wp-block-group alignfull post">
            <!-- wp:template-part {"slug":"theme-front-page-demo", "className":"entry-content wp-block-template-part-theme-front-page-demo", "layout":{"type":"constrained"}} /-->
        </article>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer", "tagName":"footer", "align":"full", "className":"footer-layer fse-footer banner wp-block-template-part-footer alignfull", "layout":{"type":"constrained"}} /-->