<!-- wp:template-part {"slug":"header-rich","tagName":"header","className":"fse-header header-layer alignfull"} /-->

<!-- wp:pattern {"slug":"emulsion/primary-menu", "align":"full"} /-->

<!-- wp:columns {"className":"alignfull fse-columns"} -->
<div class="wp-block-columns alignfull fse-columns"><!-- wp:column {"className":"main"} -->
    <div class="wp-block-column main">
        <!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
        <main class="wp-block-group alignfull"><!-- wp:group {"align":"full","className":"article-wrapper","layout":{"type":"constrained"}} -->
            <div class="wp-block-group alignfull article-wrapper"><!-- wp:group {"className":"alignfull post"} -->
                <div class="wp-block-group alignfull post"><!-- wp:template-part {"slug":"theme-front-page-demo","align":"full","className":"alignfull entry-content wp-block-template-part-theme-front-page-demo"} /--></div>
                <!-- /wp:group --></div>
            <!-- /wp:group --></main>
        <!-- /wp:group -->
    </div>
    <!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"emulsion","tagName":"footer","align":"full","className":"footer-layer fse-footer banner  alignfull"} /-->